<template>
  <div v-if="getsectionBanner">
    <section class="banner bg-cover bg-center bg-no-repeat" v-for="(section, index) of getsectionBanner" :key="index" :style="'background-image: url('+section.image+')'">
      <div class="container">
        <div class="flex flex-column justify-content-center align-items-center" :style="{ height: '80vh' }">
          <h2 class="text-white text-center text-2xl md:text-5xl" v-html="section.title"></h2>
          <div class="filter justify-content-center align-items-center flex flex-column md:flex-row md:col-10 col-12">
            <router-link :to="{ name: 'UniversityCourses'}" class="actions py-3 px-4 bg-black-900 text-white text-lg font-bold border-none mx-2 mb-2 md:mb-0 w-fit md:w-auto">
              <span class="ml-2">University Courses</span>
            </router-link>
            <router-link :to="{ name: 'EnglishCourses'}" class="actions py-3 px-4 bg-primary text-white text-lg font-bold border-none mx-2">
              <span class="ml-2">English Courses</span>
            </router-link>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>


<script>


import { mapActions, mapGetters } from 'vuex'

export default {
  name: "Banner",

  components: {

  },

  data() {
    return {
      u_value: null,
      e_value: null
    }
  },

  created() {
    this.getSection()
  },

  computed: {
    ...mapGetters({
      getsectionBanner: 'sectionHomeStore/getsectionBanner'
    })
  },

  methods: {
    ...mapActions({
      sectionBanner: 'sectionHomeStore/sectionBanner',
    }),

    getSection(){
      this.sectionBanner('Banner')
    },
  }
}
</script>

<style lang="scss">
.filter {
  margin-bottom: 120px;

  .bg-transparent {
    .p-tabview-nav {
      background-color: transparent;
      border: none;

      @media screen and (max-width: 960px) {
        background-color: rgb(255, 255, 255);
      }
    }
  }

  .p-tabview {
    .p-tabview-nav {
      li {
        .p-tabview-nav-link {
          border-radius: 0;
        }

        &.p-highlight {
          .p-tabview-nav-link {
            border-right: 2px solid #cccccc6e;
            border-bottom: 0 !important;
          }
        }
      }
    }

    .p-tabview-panels {
      border-radius: 0;
    }
  }

  .p-inputgroup {
    .p-inputtext {
      width: 100%;
      height: 60px;
      border-radius: 0;
    }
  }
}

.actions {
    @media screen and (max-width: 960px) {
      width: 100% !important;
      display: inline-block;
      text-align: center;
    }

    span {
      font-weight: 700;
      font-size: 16px;
    }
}

section.banner {
  @media screen and (max-width: 575px) {
    background-image: url(https://i.ibb.co/x2s4JHC/ss-0002-Layer-3.webp) !important;
  }
  @media screen and (min-width: 576px) {
    background-image: url(https://ts.swift-lead.com/favicon/banner-image.jpg);
  }
  position: relative;

  &::before {
    content: "";
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.141) 0%,
      rgba(0, 0, 0, 0.518) 54.9%,
      rgba(0, 0, 0, 0.114) 100%
    );
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
    z-index: 1;
  }

  .container {
    z-index: 1;
    position: relative;
  }
}
</style>
