<template>
  <div v-if="getsectionBook">
    <section class="book-ielts py-8" v-for="(section, index) of getsectionBook" :key="index">
      <div class="container">
        <div class="flex align-items-center flex-wrap">
          <div class="flex-order-1 md:flex-order-0 col-12 md:col-6">
            <div class="content-side">
              <h2 class="break-spaces mb-4 text-base text-2xl font-semibold" v-html="section.description"></h2>
              <router-link
                :to="{name: section.link}"
                class="block w-fit py-3 px-8 bg-black-900 text-white text-base font-semibold"
              >
                {{ section.button }}
              </router-link>
            </div>
          </div>
          <div class="flex-order-0 md:flex-order-1 col-12 md:col-6">
            <div class="image-side mb-3 md:mb-0">
              <img :src="section.image" :alt="section.description" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: "BookIelts",

  created() {
    this.getSectionBook();
  },

  computed: {
    ...mapGetters({
      getsectionBook: 'sectionHomeStore/getsectionBook'
    })
  },

  methods: {
    ...mapActions({
      sectionBook: 'sectionHomeStore/sectionBook',
    }),

    getSectionBook(){
      this.sectionBook('booking')
    },
  }
};
</script>

<style lang="scss" scoped>
.book-ielts {
  .image-side {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
</style>
