<template>
  <div v-if="getsectionBuild">
    <section class="build-instructor py-8 bg-blue-50" v-for="(section, index) of getsectionBuild" :key="index">
      <div class="pl-5 pr-5 lg:pr-0">
        <div class="flex align-items-center flex-wrap">
          <div class="col-12 md:col-1"></div>
          <div class="col-12 md:col-6">
            <div class="content-side mb-3 md:mb-0">
              <h2 class="break-spaces mb-3 text-color text-2xl md:text-5xl font-semibold" v-html="section.title"></h2>
              <p class="break-spaces mb-3 text-color text-lg" v-html="section.description"></p>
              <router-link
                :to="{name: section.link}"
                class="block w-fit py-3 px-8 bg-black-900 text-white text-lg font-bold"
              >
                {{ section.button }}
              </router-link>
              <img alt="build arrow" src="@/assets/images/arrow.svg"  class="arrow"/>
            </div>
          </div>
          <div class="col-12 md:col-5">
            <div class="image-side">
              <img :alt="section.title" :title="section.title" :src="section.image" class="p-image" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: "BuildInstructor",

  data: () => ({}),

  created() {
    this.getSection();
  },


  computed: {
    ...mapGetters({
      getsectionBuild: 'sectionHomeStore/getsectionBuild'
    })
  },

  methods: {
    ...mapActions({
      sectionBuild: 'sectionHomeStore/sectionBuild',
    }),

    getSection(){
      this.sectionBuild('build-Instructor')
    },
  }
};
</script>

<style lang="scss">
.build-instructor {
  .image-side {
    img {
      max-width: 100%;
    }
  }
  img.arrow {
    margin-left: 255px;
    margin-top: -40px;
  }  

  h2 {
    span,
    mark {
      color: #359BD4;
      background: transparent;
    }
  }
}
</style>
