<template>
  <div v-if="getsectionSubjects">
    <section class="major-subjects py-8" v-for="(section, index) of getsectionSubjects" :key="index">
      <div class="container">
        <div class="flex flex-column">
          <h2 class="font-semibold text-3xl md:text-4xl mb-5 text-color" v-html="section.title"></h2>

          <div class="hidden sm:flex grid">
            <div
              v-for="card in section.subsections"
              :key="card.id"
              class="card-box col-6 md:col-4 lg:col-2 gap-3 mb-3"
            >
              <div class="card flex flex-column align-items-center">
                <div class="overflow-hidden h-8rem sm:h-10rem w-13rem sm:w-15rem max-w-full">
                  <img
                    :src="card.image"
                    :alt="card.title"
                    class="w-full h-full transition-duration-500 cursor-pointer"
                  />
                </div>
                <p class="title-card text-center" v-html="card.title"></p>
              </div>
            </div>
          </div>

          <!-- mobile slider -->
          <Carousel
            class="sm:hidden feedback"
            :value="section.subsections"
            :numVisible="1"
            :numScroll="1"
            :showIndicators="false"
            circular
            :autoplayInterval="3000"
          >
            <template #item="slotProps">
              <div class="card flex flex-column align-items-center">
                <div class="overflow-hidden">
                  <img
                    :src="slotProps.data.image"
                    :alt="slotProps.data.title"
                    class="h-8rem sm:h-10rem w-13rem sm:w-15rem max-w-full transition-duration-500 cursor-pointer"
                  />
                </div>
                <p class="title-card text-center" v-html="slotProps.data.title"></p>
              </div>
            </template>
          </Carousel>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Carousel from "primevue/carousel";
import { mapActions, mapGetters } from 'vuex';

export default {
  name: "MajorSubjects",

  components: {
    Carousel
  },

  data() {
    return {
      // section data
      section: {}
    };
  },

  created() {
    this.getSectionSubjects();
  },


  computed: {
    ...mapGetters({
      getsectionSubjects: 'sectionHomeStore/getsectionSubjects'
    })
  },

  methods: {
    ...mapActions({
      sectionSubjects: 'sectionHomeStore/sectionSubjects',
    }),

    getSectionSubjects(){
      this.sectionSubjects('maajor-subjects')
    },
  }
};
</script>

<style lang="scss">
.major-subjects {
  .card {
    img:hover {
      transform: scale(1.1);
    }
  }

  p.title-card {
    font-weight: 500;
    font-size: 18px;
  }

  h2 {
    span,
    mark {
      color: #359BD4;
      background: transparent;
    }
  }
}
</style>
