<template>
  <div v-if="news.data">
    <section class="news py-8 bg-blue-50">
      <div class="container">
        <h2 class="font-semibold text-4xl mb-5 text-color">
          News
        </h2>
        <Carousel
          :value="news.data"
          :numVisible="3"
          :numScroll="1"
          :responsiveOptions="responsiveOptions"
          circular
          :autoplayInterval="3000"
        >
          <template #item="slotProps">          
              <div class="pt-6">
                <div class="box-news relative pt-6 pb-4 px-2 sm:py-5 sm:px-3 sm:m-2">
                  <div class="arrow-down absolute w-5rem h-5rem bg-primary flex justify-content-center align-items-center">
                    <i class="pi pi-arrow-down-right text-white text-4xl"></i>
                  </div>
                  <router-link :to="{ name: 'Article', params: { id: slotProps.data.slug } }"><h4 class="title-news mt-2">{{ slotProps.data.title }}</h4></router-link>
                  <h6 class="date-news">
                    {{ moment(slotProps.data.created_at).format("DD/MM/YYYY") }}
                  </h6>
                  <p class="content-news">
                    {{ slotProps.data.description }}
                  </p>
                </div>
              </div>
          </template>
        </Carousel>
      </div>
    </section>
  </div>
</template>

<script>
import Carousel from "primevue/carousel";
import moment from 'moment';

export default {
  name: "News",
  data() {
    return {
      news: {},
      moment: moment,
      responsiveOptions: [
        {
          breakpoint: "1199px",
          numVisible: 3,
          numScroll: 1
        },
        {
          breakpoint: "991px",
          numVisible: 2,
          numScroll: 1
        },
        {
          breakpoint: "767px",
          numVisible: 1,
          numScroll: 1
        }
      ]
    };
  },

  components: {
    Carousel
  },

  created() {
    // get section data
    this.getSectionData();
  },

  methods: {
    // get section data
    async getSectionData() {
      await this.axios.get(`/news`).then(res=> this.news = res.data)
      // this.axios.get(`/news`).then(res=> console.log(res.data))
    }
  }
};
</script>

<style lang="scss" scoped>
.news {
  .box-news {
    background-color: #eef5f9;

    .arrow-down {
      top: -2.5rem;
      right: 1.25rem;
    }

    h4.title-news {
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      color: #333333;
    }

    h6.date-news {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #0F172A;
      margin: 10px 0;

      &::before {
        content: "";
        width: 30px;
        display: inline-block;
        border-top: 1px solid #828282;
        margin-bottom: 4px;
        margin-right: 4px;
      }
    }

    p.content-news {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
}    
  }
}
</style>
