<template>
  <div v-if="getsectionAchievements">
    <section class="our-achievements py-8 bg-blue-50" v-for="(section, index) of getsectionAchievements" :key="index">
      <div class="container flex flex-wrap align-items-center">
        <div class="col-12 lg:col-5">
          <h2 class="text-3xl md:text-4xl uppercase font-semibold text-color white-space-nowrap" v-html="section.title"></h2>
          <div class="icon-circle relative">
            <img alt="circle" src="@/assets/images/circle.svg" height="30" />
          </div> 
        </div>
        <div class="col-12 lg:col-7">
          <div class="flex flex-wrap md:flex-nowrap justify-content-center">
            <div class="box flex flex-column align-items-center justify-content-center w-full mb-3 md:mb-0 relative" v-for="card in section.subsections" :key="card.id">
              <img :src="card.image" alt="Education Institution" height="45 "/>
              <strong class="block text-4xl font-semibold text-color my-1 flex" v-html="card.description + '+'"></strong>
              <h3 class="text-base font-normal text-color white-space-nowrap" v-html="card.title" />
              <div class="icon-circles relative">
                <img alt="circle" src="@/assets/images/circle.svg" height="30" />
              </div>              
            </div>  
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: "OurAchievements",

  data: () => ({}),

  created() {
    this.getSectionAchievements();
  },


  computed: {
    ...mapGetters({
      getsectionAchievements: 'sectionHomeStore/getsectionAchievements'
    })
  },

  methods: {
    ...mapActions({
      sectionAchievements: 'sectionHomeStore/sectionAchievements',
    }),

    getSectionAchievements(){
      this.sectionAchievements('our-achievements')
    },
  }
};
</script>

<style lang="scss">
.our-achievements {
  h2 {
    span,
    mark {
      color: #359BD4;
      background: transparent;
    }
  }
}

.icon-circle {
  bottom: -70px;
  width: 60%;
  text-align: center;

  &::after {
    content: "";
    width: 310%;
    height: 2px;
    display: inline-block;
    background: #2073a7;
    position: absolute;
    top: 15px;
  }
}

.icon-circles {
  bottom: -33px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .icon-circle {
   display: none;

  &::after {
   display: none;
  }
}
}
</style>
