<template>
  <div>
    <section class="popular-courses py-8 bg-white">
      <div class="container">
        <h3 class="text-3xl mb-5" style="color: #0F172A;">Popular <span style="color:#0369A1;">courses</span></h3>
        <TabView>
          <TabPanel header="English courses" v-if="getEnglishPopularCourses">
            <Carousel :value="getEnglishPopularCourses" :numVisible="4" :numScroll="1" :responsiveOptions="responsiveOptions">
              <template #item="slotProps">
                  <Card class="border-none shadow-none px-3">
                    <template #header>
                      <router-link :to="{ name: 'EnglishCourseProfile', params: { id: slotProps.data.id } }">
                        <img alt="user header" :src="slotProps.data.image" height="188" />
                      </router-link>
                    </template>
                    <template #title>{{ slotProps.data.name }}</template>
                    <template #content>
                        <p class="location"><i class="pi pi-map-marker"></i>Location of course</p>
                        <p class="price text-red-400" v-if="slotProps.data.has_sale">E£ {{ slotProps.data.self_price_sale }} <span>/ Per {{ slotProps.data.price_per }}</span> <span class="text-red-400 sale">E£ {{ slotProps.data.self_price }}</span></p>
                        <p class="price" v-else >E£ {{ slotProps.data.self_price }} <span>/ Per {{ slotProps.data.price_per }}</span></p>
                    </template>
                    <template #footer>
                      <span><b>{{ slotProps.data.lessons }}</b> Lessions / week</span>
                    </template>
                  </Card>
              </template>
            </Carousel>
            <div class="action">
              <router-link to="/english-cources">
                <Button label="Explore More Courses" class="radius-0 block w-fit py-3 bg-black-800 text-white text-base" autofocus />
              </router-link>
            </div>
          </TabPanel>
          <TabPanel header="University courses" v-if="getUniversityPopularCourses">
            <Carousel :value="getUniversityPopularCourses" :numVisible="4" :numScroll="1" :responsiveOptions="responsiveOptions">
              <template #item="slotProps">
                  <Card class="border-none shadow-none px-3">
                    <template #header>
                      <router-link :to="{ name: 'UniversityCourseProfile', params: { id: slotProps.data.id } }">
                        <img alt="user header" :src="slotProps.data.image" height="188" />
                      </router-link>
                    </template>
                    <template #title>{{ slotProps.data.name }}</template>
                    <template #content>
                        <p class="location"><i class="pi pi-map-marker"></i>Location of course</p>
                        <p class="price text-red-400" v-if="slotProps.data.has_sale">E£ {{ slotProps.data.self_price_sale }} <span>/ Per {{ slotProps.data.price_per }}</span> <span class="text-red-400 sale">E£ {{ slotProps.data.self_price }}</span></p>
                        <p class="price" v-else >E£ {{ slotProps.data.self_price }} <span>/ Per {{ slotProps.data.price_per }}</span></p>
                    </template>
                    <template #footer>
                      <span>Level: <b>{{ slotProps.data.level.name }}</b></span>
                      <br>
                      <span>University: <b>{{ slotProps.data.university.name }}</b></span>
                    </template>
                  </Card>
              </template>
            </Carousel>
            <div class="action">
              <router-link to="/university-cources">
                <Button label="Explore More Courses" class="radius-0 block w-fit py-3 bg-black-800 text-white text-base" autofocus />
              </router-link>
            </div>
          </TabPanel>        
        </TabView>
      </div>
    </section>
  </div>
</template>

<script>
import TabView from 'primevue/tabview';
import TabPanel from 'primevue/tabpanel';
import Carousel from 'primevue/carousel';
import Card from 'primevue/card';
import Button from 'primevue/button';

import { mapActions, mapGetters } from 'vuex'

export default {
  name: "EnglishCourses",

  components: {
    TabView,
    TabPanel,
    Carousel,
    Card,
    Button
  },

  data() {
    return {
      responsiveOptions: [
        {
          breakpoint: '1199px',
          numVisible: 1,
          numScroll: 1
        },
        {
          breakpoint: '991px',
          numVisible: 1,
          numScroll: 1
        },
        {
          breakpoint: '767px',
          numVisible: 1,
          numScroll: 1
        }
      ],
    }
  },

  created() {
    this.EnglishPopularCourses(),
    this.UniversityPopularCourses()
  },

  computed: {
    ...mapGetters({
      getEnglishPopularCourses: 'englishHomeCourseStore/getEnglishPopularCourses',
      getUniversityPopularCourses: 'universityHomeCourseStore/getUniversityPopularCourses'
    })
  },

  methods: {
    ...mapActions({
      EnglishPopularCourses: 'englishHomeCourseStore/EnglishPopularCourses',
      UniversityPopularCourses: 'universityHomeCourseStore/UniversityPopularCourses'
    }),
  }
}
</script>

<style lang="scss">
.popular-courses {
  .p-tabview-panels {
      padding: 35px 0 !important;
  }

  li.p-tabview-header.p-highlight {
    .p-tabview-header-action {
      background: linear-gradient(180deg, rgba(39, 150, 212, 0.08) 0%, rgba(255, 255, 255, 0) 100%) !important;
    }
  }

  .p-tabview-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #0F172A;

    @media screen and (max-width: 960px) {
        font-size: 15px;
    }      
  }

  .p-card-header {
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.p-card {
  .p-card-body {
    padding: 5px 0 !important;
  }

  .p-card-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #0F172A;
  }

  .p-card-content {
    padding: 0 !important;

    p.location {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: rgb(130, 130, 130);
      margin-bottom: 10px;
    }

     p.price {
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      color: #0F172A;

       span.sale {
        line-height: 30px;
        text-decoration-line: line-through;
        color: #828282;
      }

      span {
        font-size: 16px;
      }
    }
  }

  .p-card-footer {
    span {
      padding: 4px 10px;
      background: rgb(233, 244, 251);
      display: inline-block;
      margin-bottom: 10px;
    }
  }
}

.p-carousel:not(.feedback) {
  .p-carousel-content {
    .p-carousel-container {
      position: relative;

      .p-carousel-prev, 
      .p-carousel-next {
        position: absolute;
        background: rgb(3, 105, 161);
        color: rgb(255, 255, 255);
        height: 50px;
        width: 50px;
        margin: 0;
        z-index: 99;
        outline: none;
        box-shadow: none;
        left: 0;

        @media screen and (max-width: 960px) {
          display: none;
        }
      }

      .p-carousel-next {
        right: 0;
        left: auto;
      }

      .p-carousel-prev.p-disabled {
        display: none;
      }
    }
  }

  .p-carousel-indicators {
      display: none;

      @media screen and (max-width: 960px) {
        display: flex;
      }
  }  
}
</style>
