<template>
  <div v-if="getsectionFeedback">
    <section class="students-feedback py-8" v-for="(section, index) of getsectionFeedback" :key="index">
      <div class="container">
        <h2 class="break-spaces mb-5 text-color text-4xl font-semibold" v-html="section.title"></h2>

        <Carousel
          :value="section.subsections"
          :numVisible="1"
          :numScroll="1"
          :showIndicators="false"
          circular
          :autoplayInterval="3000"
          class="relative feedback"
        >
          <template #item="slotProps">
            <div
              class="testimonial flex flex-column md:flex-row justify-content-start align-items-center gap-4"
            >
              <div>
                <div
                  class="student-image border-circle overflow-hidden w-10rem h-10rem md:w-18rem md:h-18rem"
                >
                  <img :src="slotProps.data.image" :alt="slotProps.data.title" />
                </div>
              </div>
              <div class="feedback-content">
                <h3 class="mb-3 text-1xl md:text-2xl font-semibold text-color" v-html="slotProps.data.title"></h3>
                <p class="text-md md:text-xl text-gray line-height-3 w-full" v-html="slotProps.data.description"></p>
              </div>
            </div>
          </template>
        </Carousel>
      </div>
    </section>
  </div>
</template>

<script>
import Carousel from "primevue/carousel";
import { mapActions, mapGetters } from 'vuex';

export default {
  name: "StudentsFeedback",

  components: {
    Carousel
  },

  data: () => ({
    // section data
    section: {}
  }),

  created() {
    this.getSectionFeedback();
  },


  computed: {
    ...mapGetters({
      getsectionFeedback: 'sectionHomeStore/getsectionFeedback'
    })
  },

  methods: {
    ...mapActions({
      sectionFeedback: 'sectionHomeStore/sectionFeedback',
    }),

    getSectionFeedback(){
      this.sectionFeedback('students-feedback')
    },
  }
};
</script>

<style lang="scss">
.students-feedback {
  .testimonial {
    .student-image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    button.p-link {
      position: absolute;
      top: 0;
      left: 30%;
      z-index: 99;

      &.p-carousel-prev {
        left: 25%;
      }
    }
  }

  h2 {
    span,
    mark {
      color: #359BD4;
      background: transparent;
    }
  }
}

.feedback {
  &.p-carousel {
    .p-carousel-content {
      .p-carousel-prev,
      .p-carousel-next {
        background: #0369A1;
        border: 1px solid #0369A1;
        border-radius: 86px;
        color: #fff;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0;
        left: 23%;
        z-index: 99;

        @media screen and (max-width: 960px) {
          position: relative;
          left: auto;
        }
      }
      
      .p-carousel-next {
        left: 28%;

        @media screen and (max-width: 960px) {
          left: auto;
        }
      }
    }
  }

  .feedback-content {
    max-height: 130px;
    overflow: hidden;
  }
}
</style>
