<template>
  <div v-if="getsectionWhatsapp">
    <section class="whatsapp-numbers py-8 bg-blue-50" v-for="(section, index) of getsectionWhatsapp" :key="index">
      <div class="container">
        <h2 class="break-spaces mb-5 text-color text-3xl md:text-5xl font-semibold" v-html="section.title"></h2>

        <div class="flex flex-wrap justify-content-start align-items-start">
          <div class="col-6 lg:col-2" v-for="card in section.subsections" :key="card.id">
            <div class="card">
              <div class="country-image mb-2">
                <img :src="card.image" :alt="card.title" />
              </div>
              <h3 class="mb-2 text-base font-normal" v-html="card.title"></h3>
              <p class="inline-block" v-html="card.description"></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: "WhatsappNumbers",

  created() {
    this.getSectionWhatsapp();
  },

  computed: {
    ...mapGetters({
      getsectionWhatsapp: 'sectionHomeStore/getsectionWhatsapp'
    })
  },

  methods: {
    ...mapActions({
      sectionWhatsapp: 'sectionHomeStore/sectionWhatsapp',
    }),

    getSectionWhatsapp(){
      this.sectionWhatsapp('whats-app')
    },
  }
};
</script>

<style lang="scss">
.whatsapp-numbers {
  .card {
    .country-image {
      img {
        max-width: 24px;
      }
    }
  }

  h2 {
    span,
    mark {
      color: #359BD4;
      background: transparent;
    }
  }  
}
</style>
