<template>
  <div v-if="getsectionWork">
    <section class="working-area py-8" v-for="(section, index) of getsectionWork" :key="index">
      <div class="container">
        <h2 class="font-semibold text-3xl md:text-4xl mb-5 text-color" v-html="section.title"></h2>
        
        <div class="flex flex-column ">
          <div class="hidden md:flex grid justify-content-center">
            <div v-for="card in section.subsections" :key="card.id" class="col-12 sm:col-6 md:col-4">
              <router-link :to="{name: card.link}">
                <div class="card-box h-18rem border-round-sm shadow-1 flex flex-column justify-content-center align-items-center gap-5 transition-duration-300 cursor-pointer">
                  <img
                    :src="card.image"
                    class="card-image w-5rem h-5rem max-w-full"
                    :alt="card.title"
                  />
                  <div
                    class="card-title text-xl font-medium transition-duration-300 text-center uppercase"
                    v-html="card.title" >
                  </div>
                </div>
              </router-link>
            </div>
          </div>

          <!-- mobile slider -->
          <Carousel
            class="md:hidden"
            :value="section.subsections"
            :numVisible="1"
            :numScroll="1"
            circular
            :autoplayInterval="3000"
          >
            <template #item="slotProps">
              <div
                :to="slotProps.data.target"
                class="card-box m-3 h-18rem border-round-sm shadow-1 flex flex-column justify-content-center align-items-center gap-5 transition-duration-300 cursor-pointer"
              >
                <img
                  :src="slotProps.data.image"
                  class="card-image w-5rem h-5rem max-w-full"
                  :alt="slotProps.data.title"
                />
                <div
                  class="card-title text-xl font-medium transition-duration-300 text-center uppercase"
                  v-html="slotProps.data.title"
                >
                </div>
              </div>
            </template>
          </Carousel>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Carousel from "primevue/carousel";
import { mapActions, mapGetters } from 'vuex'


export default {
  name: "WorkingArea",

  components: {
    Carousel
  },

  data() {
    return {
      // section data
      section: {}
    };
  },

  created() {
    this.getSectionWork();
  },


  computed: {
    ...mapGetters({
      getsectionWork: 'sectionHomeStore/getsectionWork'
    })
  },

  methods: {
    ...mapActions({
      sectionWork: 'sectionHomeStore/sectionWork',
    }),

    getSectionWork(){
      this.sectionWork('working-area')
    },
  }
};
</script>

<style lang="scss">
.working-area {
  .card-box {
    .card-title {
      color: var(--text-color);
    }
    &:hover {
      box-shadow: 0 40px 40px 0 rgb(14 17 51 / 10%) !important;
      .card-title {
        color: var(--primary-color);
      }
    }
  }

  h2 {
    span,
    mark {
      color: #359BD4;
      background: transparent;
    }
  }
}
</style>
