<template>
  <div v-if="getsectionJourney">
    <section class="your-journey py-8 bg-blue-50" v-for="(section, index) of getsectionJourney" :key="index">
      <div class="container">
        <h3 class="text-3xl mb-5 font-semibold" style="color: #0f172a" v-html="section.title"></h3>
        <div class="hidden md:flex flex-column lg:flex-row steps justify-content-center">
          <div class="step p-2 text-center" v-for="(step, index) in section.subsections" :key="step.id">
            <img class="img-step m-auto block" :src="step.image" :alt="step.title" />
            <div class="step-content">
              <img
                class="divider m-auto block"
                src="@/assets/images/divider.svg"
                :alt="step.title"
              />
              <b class="my-2 block">{{ index + 1 }}</b>
              <p v-html="step.title"></p>
            </div>
          </div>
        </div>

        <!-- mobile slider -->
        <Carousel
          class="md:hidden"
          :value="section.subsections"
          :numVisible="1"
          :numScroll="1"
          circular
          :autoplayInterval="3000"
        >
          <template #item="slotProps">
            <div class="step p-2 text-center">
              <img class="img-step m-auto block" :src="slotProps.data.image" :alt="slotProps.data.title" />
              <div class="step-content">
                <img
                  class="divider m-auto block"
                  src="@/assets/images/divider.svg"
                  :alt="slotProps.data.title"
                />
                <b class="my-2 block">{{ slotProps.index + 1 }}</b>
                <p v-html="slotProps.data.title"></p>
              </div>
            </div>
          </template>
        </Carousel>
      </div>
    </section>
  </div>
</template>

<script>
import Carousel from "primevue/carousel";
import { mapActions, mapGetters } from 'vuex';

export default {
  name: "YourJourney",

  components: {
    Carousel
  },

  data() {
    return {
      // section data
      section: {}
    };
  },

  created() {
    this.getSectionJourney();
  },


  computed: {
    ...mapGetters({
      getsectionJourney: 'sectionHomeStore/getsectionJourney'
    })
  },

  methods: {
    ...mapActions({
      sectionJourney: 'sectionHomeStore/sectionJourney',
    }),

    getSectionJourney(){
      this.sectionJourney('your-journey')
    },
  }
};
</script>

<style lang="scss">
.steps {
  .step {
    .img-step {
      max-width: 100%;
    }
  }
}

.your-journey {
  h3 {
    span,
    mark {
      color: #359BD4;
      background: transparent;
    }
  }
} 

@media screen and (max-width: 960px) {
  .steps {
    .step {
      flex-flow: row;
      display: flex;
      align-items: center;

      .img-step {
        max-width: 160px;
      }
    }
  }
}
</style>
