<template>
  <contact-form />
  <our-offices />
</template>

<script>
import ContactForm from "./components/ContactForm.vue";
import OurOffices from "./components/OurOffices.vue";

export default {
  name: "Contact",

  components: {
    ContactForm,
    OurOffices
  }
};
</script>

<style lang="scss" scoped></style>
