<template>
  <section class="best-services py-8">
    <div class="container">
      <h2 class="break-spaces mb-3 text-white text-3xl md:text-4xl font-bold">
        OUR BEST SERVICES
      </h2>

      <div class="flex align-items-center flex-wrap">
        <div class="col-12 md:col-6">
          <div class="content-side mb-3 md:mb-0">
            <p
              class="break-spaces flex gap-3 mb-5 text-white text-lg md:text-2xl"
              v-for="(paragraph, index) in get_about?.our_services"
              :key="index"
            >
              <i class="pi pi-caret-right mt-2"></i>
              <span class="">{{ paragraph.description }}</span>
            </p>
          </div>
        </div>
        <div class="col-12 md:col-6">
          <div class="image-side overflow-hidden">
            <img :src="get_about?.services_image" alt="Services image" />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: "BestServices",

  created() {
    this.abouts()
  },

  computed: {
    ...mapGetters({
      get_about: 'aboutStore/getabouts'
    })
  },

  methods: {
    ...mapActions({
      abouts: 'aboutStore/abouts'
    })
  }
};
</script>


<style lang="scss" scoped>
.best-services {
  background-color: #0c4a6e;

  .image-side {
    width: 100%;
    max-width: 536px;
    height: 100%;
    max-height: 317px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
</style>
