<template>
  <section class="company-strategy py-8 bg-blue-50" v-if="false">
    <div class="container flex flex-wrap align-items-start">
      <div class="col-12 md:col-6">
        <div class="title-side">
          <h1
            class="pt-0 md:pt-4 text-color text-3xl md:text-4xl font-semibold w-full md:w-10 lg:w-8"
          >
            {{ section.title }}
          </h1>
        </div>
      </div>

      <div class="col-12 md:col-6">
        <div class="content-side">
          <p class="text-color text-lg">
            {{ section.paragraph }}
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "CompanyStrategy",

  data: () => ({
    // section data
    section: {}
  }),

  created() {
    // get section data
    this.getSectionData();
  },

  methods: {
    // get section data
    getSectionData() {
      this.section = {
        title: "Company Strategy",
        paragraph:
          "lore ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nunc vel tincidunt luctus, nisl nisl aliquam nisl, eu aliquam nisl nisl eu nunc. Sed euismod, nunc vel tincidunt luctus, nisl nisl aliquam nisl, eu aliquam nisl nisl eu nunc. Sed euismod, nunc vel tincidunt luctus, nisl nisl aliquam nisl, eu aliquam nisl nisl eu nunc. Sed euismod, nunc vel tincidunt luctus, nisl nisl aliquam nisl, eu aliquam nisl nisl eu nunc."
      };
    }
  }
};
</script>

<style lang="scss" scoped></style>
