<template>
  <section class="make-your-journey">
    
    <div class="top-section pt-8 pb-6 bg-blue-50">
      <div class="container flex flex-wrap align-items-center">
        <div class="col-12 md:col-6">
          <div class="title-side">
            <h1 class="text-color text-3xl md:text-4xl font-semibold w-full md:w-10 lg:w-8">
              {{ get_about?.title }}
            </h1>
          </div>
        </div>

        <div class="col-12 md:col-6">
          <div class="content-side">
            <p class="text-color text-lg" v-html="get_about?.description"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="image-section mx-auto overflow-hidden">
      <img :src="get_about?.banner" :alt="get_about?.title" />
    </div>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: "MakeYourJourney",

  created() {
    this.abouts()
  },

  computed: {
    ...mapGetters({
      get_about: 'aboutStore/getabouts'
    })
  },

  methods: {
    ...mapActions({
      abouts: 'aboutStore/abouts'
    })
  }
};
</script>

<style lang="scss" scoped>
.make-your-journey {
  .image-section {
    max-width: 1920px;
    height: 604px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
</style>
