<template>
  <section class="our-team py-8" v-if="false">
    <div class="container">
      <h2 class="mb-5 text-color text-4xl font-bold">
        {{ section.title }}
      </h2>

      <div class="flex flex-wrap align-items-start">
        <div
          class="col-12 sm:col-6 md:col-4 lg:col-3"
          v-for="member in section.sections"
          :key="member.id"
        >
          <div class="team-member">
            <div class="member-image mb-2">
              <img class="w-full h-full object-cover" :src="member.image" :alt="member.name" />
            </div>
            <h3 class="text-color text-2xl font-semibold mb-1">
              {{ member.name }}
            </h3>
            <p class="text-color text-lg">
              {{ member.position }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "OurTeam",

  data: () => ({
    // section data
    section: {}
  }),

  created() {
    // get section data
    this.getSectionData();
  },

  methods: {
    // get section data
    getSectionData() {
      this.section = {
        title: "Our Team",

        sections: [
          {
            id: 1,
            image:
              "https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlcnxlbnwwfHwwfHw%3D&w=1000&q=80",
            name: "Name",
            position: "Job or Position"
          },
          {
            id: 2,
            image:
              "https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80",
            name: "Name",
            position: "Job or Position"
          },
          {
            id: 3,
            image:
              "https://media.istockphoto.com/id/1271279664/photo/young-successful-female-worker-of-scientific-lab-in-whitecoat-and-eyeglasses.jpg?s=612x612&w=0&k=20&c=bb2diKyUyXSX9ZUyGAZIs-qR7L9W0c4n_9YQlPm65lU=",
            name: "Name",
            position: "Job or Position"
          },
          {
            id: 4,
            image:
              "https://t3.ftcdn.net/jpg/02/00/90/24/360_F_200902415_G4eZ9Ok3Ypd4SZZKjc8nqJyFVp1eOD6V.jpg",
            name: "Name",
            position: "Job or Position"
          }
        ]
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.our-team {
  .team-member {
    .member-image {
      width: 100%;
      height: 312px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
  }
}
</style>
