<template>
  <div class="col-12 lg:col-4" v-for="item in products" :key="item.id">
    <Card
      class="border-none shadow-none bg-transparent"
      :pt="{ body: { class: 'py-2 px-0' }, content: { class: 'p-0' } }"
    >
      <template #header>
        <router-link :to="{ name: 'EnglishCourseProfile', params: { id: item.id } }">
          <img
            :alt="item.name"
            :src="item.image"
            height="200"
            class="w-full"
            style="object-fit: cover; object-position: center"
          />
        </router-link>
      </template>
      <template #title>
        <router-link :to="{ name: 'EnglishCourseProfile', params: { id: item.id } }">
          <span class="text-color text-xl font-bold">{{ item.name }}</span>
        </router-link>
      </template>
      <template #content>
        <p class="mb-2 mt-3" v-if="item.location" style="color: #828282">
          <i class="pi pi-map-marker"></i> {{ item.location }}
        </p>
        <p class="text-color font-medium text-2xl">
          E£ {{ item.has_sale ? item.self_price_sale : item.self_price }}
          <span class="text-lg">Per {{ item.price_per }}</span>
        </p>
        <p v-if="item.has_sale">
          <span class="text-xl line-through text-gray-600">E£ {{ item.self_price }}</span>
        </p>
      </template>
      <template #footer>
        <p v-if="item.lessons">
          <span class="px-3 py-1" style="background-color: #e9f4fb"
            ><b>{{ item.lessons }}</b> lessons / week</span
          >
        </p>
      </template>
    </Card>
  </div>
</template>

<script setup>
import { toRefs } from "vue";
import Card from "primevue/card";

const props = defineProps(["dataCards"]);
const { dataCards: products } = toRefs(props);
</script>

<style lang="scss" scoped></style>
