<template>
  <section class="filter bg-white md:p-4 md:shadow-1">
    <div class="flex justify-content-between align-items-center mb-4">
      <h2 class="text-xl font-normal">Filters</h2>
      <i class="pi pi-filter text-xl text-primary"></i>
    </div>

    <div
      @click="clearAll"
      class="text-center text-lg font-normal text-primary bg-cyan-50 border-1 border-primary py-2 mb-4 cursor-pointer"
    >
      Clear all
    </div>

    <!-- Price Range -->
    <div class="mb-4 mt-5">
      <div class="flex justify-content-between align-items-center mb-2">
        <h3 class="font-normal text-base">Price Range ($)</h3>
        <span class="text-primary cursor-pointer" @click="priceRange = [0, 3000]">Clear</span>
      </div>
      <div class="flex justify-content-between align-items-center">
        <span>{{ this.priceRange[0] }}</span>
        <span>{{ this.priceRange[1] }}</span>
      </div>
      <Slider v-model="priceRange" range :max="3000" class="mt-2" />
    </div>

    
    <!-- discount % -->
    <div class="mb-4 mt-5">
      <div class="flex justify-content-between align-items-center mb-2">
        <h3 class="font-normal text-base">discount (%)</h3>
        <span class="text-primary cursor-pointer" @click="discount = [0, 100]">Clear</span>
      </div>
      <div class="flex justify-content-between align-items-center">
        <span>{{ this.discount[0] }}</span>
        <span>{{ this.discount[1] }}</span>
      </div>
      <Slider v-model="discount" range :max="100" class="mt-2" />
    </div>

    <!-- Choose Country -->

    <!-- coose country -->
    <div class="mb-4 mt-5">
      <div class="flex justify-content-between align-items-center mb-2">
        <h3 class="font-normal text-base">Country</h3>
        <span
          class="text-primary cursor-pointer"
          @click="
            selectedCountry = selectedCountry;
            selectedCity = selectedCountry;
          "
          >Clear</span
        >
      </div>
    <Dropdown
      v-model="selectedCountry"
      :options="countries"
      optionLabel="name"
      placeholder="select country"
      class="w-full border-noround"
      @change="getCountryCities"
    />
   </div>
  
      <div>
        <input type="checkbox" id="Ksa" value="Ksa" v-model="selectedCountry">
        <label for="Ksa">  Kuwait </label>
       </div>
       <div>
        <input type="checkbox" id="Ksa" value="Ksa" v-model="selectedCountry">
        <label for="Ksa">   Bahrin  </label>
        </div>
  
    <!-- Choose City -->
    <!-- choosing city-->
    <div class="mb-4 mt-5">
      <div class="flex justify-content-between align-items-center mb-2">
        <h3 class="font-normal text-base">City</h3>
        <span class="text-primary cursor-pointer" @click="selectedCity = null">Clear</span>
      </div>
      <Dropdown
        v-model="selectedCity"
        editable
        :options="selectedCountry && cities"
        optionLabel="name"
        :emptyMessage="selectedCountry ? 'No Cities Available' : 'Select Country First'"
        placeholder="select city"
        class="w-full border-noround"
      />
    </div>
  <!-- ------------------------------------------------------------------- -->

    <!-- select Age -->
  <!-- level -->

    <div class="mb-4 mt-5">
      <div class="flex justify-content-between align-items-center mb-2">
        <h3 class="font-normal text-base">level</h3>
        <span class="text-primary cursor-pointer" @click="selectedAge = null">Clear</span>
      </div>
      <Dropdown
        v-model="selectedAge"
        editable
        :options="ages"
        optionLabel="age_group"
        placeholder="select age group"
        class="w-full border-noround"
      />
    </div>
    <div>
      <input type="checkbox" id="Ksa" value="Ksa" v-model="selectedCountry">
      <label for="Ksa">   master  </label>
     </div>
     <div>
      <input type="checkbox" id="Ksa" value="Ksa" v-model="selectedCountry">
      <label for="Ksa">   bachelor's degree  </label>
      </div>
   

    <!-- Choose School -->
    <!-- degree type -->
    

    <!-- Sort By -->
    <!--  degree type -->
    <div class="mb-5 mt-5 mt-5">
      <div class="flex justify-content-between align-items-center mb-2">
        <h3 class="font-normal text-base">degree type</h3>
        <span class="text-primary cursor-pointer" @click="selectedSortBy = null">Clear</span>
      </div>
      <Dropdown
        v-model="selectedSortBy"
        editable
        :options="sortBy"
        optionLabel="name"
        placeholder="select type"
        class="w-full border-noround"
      />
    </div>
      <!-- ---------------------------------------------------------------- -->
      <div class="mb-5 mt-5">
        <div class="flex justify-content-between align-items-center mb-2">
          <h3 class="font-normal text-base">subject</h3>
          <span class="text-primary cursor-pointer" @click="selectedSortBy = null">Clear</span>
        </div>
        <Dropdown
          v-model="selectedSortBy"
          editable
          :options="sortBy"
          optionLabel="name"
          placeholder="select type"
          class="w-full border-noround"
        />
      </div>

      <!-- --------------------------------------------------------------------- -->
      <div class="mb-5 mt-5">
        <div class="flex justify-content-between align-items-center mb-2">
          <h3 class="font-normal text-base">start data</h3>
          <span class="text-primary cursor-pointer" @click="selectedSortBy = null">Clear</span>
        </div>
        <Dropdown
          v-model="selectedSortBy"
          editable
          :options="sortBy"
          optionLabel="name"
          placeholder="select type"
          class="w-full border-noround"
        />
      </div>
    <Button class="bg-primary border-noround border-none w-full py-2 px-6" @click="FilterByValues">
      <span class="p-button-label text-lg font-normal">Filter</span>
    </Button>
  </section>
</template>

<script>
import Dropdown from "primevue/dropdown";
import Slider from "primevue/slider";
import Button from "primevue/button";
import { mapActions, mapGetters } from "vuex";

export default {
  name: "Filter",

  components: {
    Dropdown,
    Slider,
    Button
  },

  data() {
    return {
      priceRange: [0, 3000],
      discount:[0,100],
      selectedCountry: null,
      selectedCity: null,
      selectedAge: null,
      selectedInstitutes: null,
      selectedSortBy: null,

      sortBy: [
        { id: 1, name: "High Price" },
        { id: 2, name: "Low Price" }
      ]
    };
  },

  created() {
    this.dropdownsOptions("englishCourses");
  },

  computed: {
    ...mapGetters({
      countries: "filters/getDropdownsCountriesOptions",
      cities: "filters/getDropdownsCitiesOptions",
      ages: "filters/getDropdownsAgeOptions",
      institutes: "filters/getDropdownsInstitutesOptions"
    })
  },

  methods: {
    ...mapActions({
      dropdownsOptions: "filters/dropdownsOptions",
      dropdownCitiesOptions: "filters/dropdownCitiesOptions",
      loadingDataWaiting: "englishCourseStore/loadingDataWaiting",
      filterValues: "englishCourseStore/filterValues",
      englishCourses: "englishCourseStore/englishCourses"
    }),

    getCountryCities() {
      this.dropdownCitiesOptions(this.selectedCountry.id);
      this.selectedCity = null;
    },

    FilterByValues() {
      this.loadingDataWaiting(true);
      this.filterValues({
        priceRange: { min_price: this.priceRange[0], max_price: this.priceRange[1] } || {
          min_price: null,
          max_price: null
        },
        country: this.selectedCountry?.id || null,
        city: this.selectedCity?.id || null,
        age: this.selectedAge?.id || null,
        school: this.selectedInstitutes?.id || null,
        sortBy: this.selectedSortBy?.id || null
      });
      this.englishCourses();
    },

    clearAll() {
      this.priceRange = [0, 3000];
      this.selectedCountry = null;
      this.selectedCity = null;
      this.selectedAge = null;
      this.selectedInstitutes = null;
      this.selectedSortBy = null;
      this.filterValues({
        priceRange: { min_price: null, max_price: null },
        country: null,
        city: null,
        age: null,
        school: null,
        sortBy: null
      });
      this.englishCourses();
    }
  }
};
</script>

<style lang="scss" scoped></style>




