<template>
  <section class="article-card mb-4">
    <router-link :to="{ name: 'Article', params: { id: article.slug } }">
      <div class="article-image mb-2">
        <img v-if="article.image" :src="article.image" :alt="article.title" class="w-full h-16rem" />
        <img v-else src="@/assets/images/placeholder.jpg" :alt="article.title" class="w-full h-16rem" >
      </div>

      <h3 class="text-lg font-medium text-color mb-1">
        {{ article.title }}
      </h3>
      <p class="text-sm font-normal text-color">
        {{ article.description }}
      </p>
    </router-link>
  </section>
</template>

<script>
export default {
  name: "ArticleCard",

  props: {
    article: {
      type: Object,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
.article-card {
  .article-image {
    img {
      object-fit: cover;
    }
  }
}
</style>
