<template>
  <section class="account-applications grid">
    <CustomSkeleton v-if="loading"/>
    <div v-if="!loading">
      <InlineMessage severity="error" class="flex justify-content-center" v-if="apps?.meta.total == 0">Not Found. That is why if some of your keywords are missing search</InlineMessage>
    </div>
    <div class="col-12 lg:col-6" v-if="apps?.data" v-for="app in apps.data" :key="app.id">
      <div class="p-3 sm:p-4 bg-white shadow-1">
        <h3 v-if="false" class="flex justify-content-start mb-2 text-lg font-medium text-color">
          Application Name
        </h3>

        <div
          :title="app.course_info.name"
          class="mb-2 text-primary font-semibold white-space-nowrap overflow-hidden text-overflow-ellipsis">
          {{ app.course_info.name }}
        </div>

        <div class="flex justify-content-start mb-2 text-xl font-medium text-orange-700">
          {{ app.total_price }} USD
        </div>


        <div class="flex flex-wrap gap-3 mb-3">
          <div class="flex justify-content-start gap-2">
            <i class="pi pi-calendar text-base text-color-secondary"></i>
            <span class="text-sm">{{ app.start_date }}</span>
          </div>
          <div v-if="false" class="flex justify-content-start gap-2">
            <i class="pi pi-clock text-base text-color-secondary"></i>
            <span class="text-sm">11:30 pm</span>
          </div>
        </div>

        <div class="flex justify-content-start gap-2">
          <i class="pi pi-building text-primary"></i>
          <span class="text-sm white-space-nowrap overflow-hidden text-overflow-ellipsis" :title="app.course_info.university">{{ app.course_info.university }}</span>
        </div>

        <span v-if="false" class="flex justify-content-start text-xs text-color-secondary">
          Please Don't Forget to Upload the Document
        </span>
      </div>
    </div>
    <div class="col-12">
      <Paginator
        :template="{
          '640px': 'PrevPageLink CurrentPageReport NextPageLink',
          '960px': 'FirstPageLink PrevPageLink CurrentPageReport NextPageLink LastPageLink',
          '1300px': 'FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink',
          default: 'FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink'
        }"
        class="bg-transparent"
        :rows="apps && apps?.meta?.per_page"
        :totalRecords="apps && apps?.meta?.total"
        v-if="apps?.meta?.total > apps?.meta?.per_page"
        @page="PageState"
      ></Paginator>
    </div>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import Paginator from "primevue/paginator";
import CustomSkeleton from "../../public/views/sell-buy/components/CustomSkeleton.vue";
import InlineMessage from 'primevue/inlinemessage';

export default {
  name: "AccountApplications",
  components: {
    Paginator,
    CustomSkeleton,
    InlineMessage
  },

  created(){
    this.loadingDataWaiting(true);
    this.applications()
  },

  computed: {
    ...mapGetters({
      loading: "applicationsStore/getLoadingDataWaiting",
      apps: "applicationsStore/getApplications"
    })
  },

  methods: {
    ...mapActions({
      loadingDataWaiting: "applicationsStore/loadingDataWaiting",
      applications: "applicationsStore/applications"
    }),
    PageState(e){
      this.applications(e.page + 1)
    }
  }
};
</script>

<style lang="scss">
nav.bg-transparent {
  .p-paginator {
    background: transparent;
  }
}
</style>
