<template>
  <section class="account-ads">
    <div class="bg-white mb-4" style="background-image: linear-gradient(to bottom, #e0f2fe, #fff)">
      <ul class="flex">
        <router-link
          :to="{ name: 'AdsAccommodations' }"
          :class="
            'block px-4 py-2 text-lg font-medium' +
            ($route.name === 'AdsAccommodations'
              ? ' bg-blue-100 text-primary border-bottom-2'
              : ' text-color')
          "
        >
          <li>Accommodations</li>
        </router-link>

        <router-link
          :to="{ name: 'AdsSellBuy' }"
          :class="
            'block px-4 py-2 text-lg font-medium' +
            ($route.name === 'AdsSellBuy'
              ? ' bg-blue-100 text-primary border-bottom-2'
              : ' text-color')
          "
        >
          <li>Sell & Buy</li>
        </router-link>

        <router-link
          :to="{ name: 'AdsWorkshops' }"
          :class="
            'block px-4 py-2 text-lg font-medium' +
            ($route.name === 'AdsWorkshops'
              ? ' bg-blue-100 text-primary border-bottom-2'
              : ' text-color')
          "
        >
          <li>Workshops & tutors</li>
        </router-link>

        <router-link
          :to="{ name: 'AdsQuestionsAnswers' }"
          :class="
            'block px-4 py-2 text-lg font-medium' +
            ($route.name === 'AdsQuestionsAnswers'
              ? ' bg-blue-100 text-primary border-bottom-2'
              : ' text-color')
          "
        >
          <li>Q & A</li>
        </router-link>
      </ul>
    </div>
    <router-view />
  </section>
</template>

<script>
export default {
  name: "AccountAds"
};
</script>

<style lang="scss" scoped></style>
