<template>
  <section class="account-documents grid">
    <CustomSkeleton v-if="loading" />
    <div v-if="!loading">
      <InlineMessage
        severity="error"
        class="flex justify-content-center"
        v-if="docs?.meta.total == 0"
        >Not Found. That is why if some of your keywords are missing search</InlineMessage
      >
    </div>
    <div class="col-12 md:col-12 lg:col-6" v-for="document in docs.data" :key="document.id">
      <div class="acc-document p-3 bg-white border-round-xs shadow-1">
        <div class="icon mb-1 bg-blue-50 flex justify-content-center align-items-center">
          <i class="pi pi-file text-2xl text-primary"></i>
        </div>

        <h3 class="mb-2 text-lg font-medium text-color">{{ document.name }}</h3>

        <div class="flex gap-3">
          <div class="day flex align-items-center gap-2">
            <i class="pi pi-calendar text-sm text-color-secondary"></i>
            <span class="text-sm text-color">{{
              moment(document.created_at).format("DD/MM/YYYY")
            }}</span>
          </div>

          <div class="time flex align-items-center gap-2">
            <i class="pi pi-clock text-sm text-color-secondary"></i>
            <span class="text-sm text-color">{{
              moment(document.created_at).format("hh:mm:ss")
            }}</span>
          </div>
        </div>

        <Divider />

        <div class="actions flex gap-3">
          <i class="pi pi-trash text-primary cursor-pointer" @click="confirm(document.id)"></i>
          <a :href="document.url" target="_blank" class="flex align-items-center"
            ><i class="pi pi-eye text-primary cursor-pointer"></i
          ></a>
        </div>
      </div>
    </div>
    <ConfirmDialog></ConfirmDialog>
    <div class="col-12">
      <Paginator
        :template="{
          '640px': 'PrevPageLink CurrentPageReport NextPageLink',
          '960px': 'FirstPageLink PrevPageLink CurrentPageReport NextPageLink LastPageLink',
          '1300px': 'FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink',
          default: 'FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink'
        }"
        class="bg-transparent"
        :rows="docs && docs?.meta?.per_page"
        :totalRecords="docs && docs?.meta?.total"
        v-if="docs?.meta?.total > docs?.meta?.per_page"
        @page="PageState"
      ></Paginator>
    </div>
  </section>
</template>

<script>
import Divider from "primevue/divider";
import { mapActions, mapGetters } from "vuex";
import Paginator from "primevue/paginator";
import moment from "moment";
import CustomSkeleton from "../../public/views/sell-buy/components/CustomSkeleton.vue";
import InlineMessage from "primevue/inlinemessage";
import ConfirmDialog from "primevue/confirmdialog";

export default {
  name: "AccountDocuments",
  components: {
    Divider,
    Paginator,
    CustomSkeleton,
    InlineMessage,
    ConfirmDialog
  },

  created() {
    this.loadingDataWaiting(true);
    this.documents();
  },

  data() {
    return {
      moment: moment
    };
  },

  computed: {
    ...mapGetters({
      loading: "documentsStore/getLoadingDataWaiting",
      docs: "documentsStore/getDocuments"
    })
  },

  methods: {
    ...mapActions({
      loadingDataWaiting: "documentsStore/loadingDataWaiting",
      documents: "documentsStore/documents",
      deleteDocument: "documentsStore/deleteDocument"
    }),
    confirm(documentId) {
      this.$confirm.require({
        message: "Do you want to delete this document?",
        header: "Confirmation",
        icon: "pi pi-info-circle",
        acceptClass: "p-button-danger",
        accept: () => {
          this.deleteDocument(documentId);
        }
      });
    },
    PageState(e) {
      this.documents(e.page + 1);
    }
  }
};
</script>

<style lang="scss">
.acc-document {
  .icon {
    width: 56px;
    height: 56px;
    border-radius: 50%;
  }
}
nav.bg-transparent {
  .p-paginator {
    background: transparent;
  }
}
</style>
