<template>
  <section class="ads-questions-answers">
    <div class="p-4 bg-white border-round-xs shadow-1">
      <div class="question border-bottom-2 border-200 pb-3 mb-3 flex gap-3 sm:gap-5">
        <div class="votes flex flex-column align-items-center mt-1">
          <i
            class="pi pi-caret-up text-2xl"
            :class="questionActionStatus === 'increased' ? 'text-primary' : 'text-300'"
            @click="
              questionActionStatus === 'increased'
                ? (questionVotes--, (questionActionStatus = ''))
                : questionActionStatus === 'decreased'
                ? ((questionVotes += 2), (questionActionStatus = 'increased'))
                : (questionVotes++, (questionActionStatus = 'increased'))
            "
          ></i>
          <span class="text-xl gray-color">{{ questionVotes }}</span>
          <i
            class="pi pi-caret-down text-2xl"
            :class="questionActionStatus === 'decreased' ? 'text-primary' : 'text-300'"
            @click="
              questionActionStatus === 'increased'
                ? ((questionVotes -= 2), (questionActionStatus = 'decreased'))
                : questionActionStatus === 'decreased'
                ? (questionVotes++, (questionActionStatus = ''))
                : (questionVotes--, (questionActionStatus = 'decreased'))
            "
          ></i>
        </div>
        <div class="the-question flex-grow-1 flex flex-column">
          <h3 class="border-bottom-2 border-200 pb-3 mb-3 text-color align-start">
            molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum?
          </h3>
          <div class="flex justify-content-between flex-wrap row-gap-2 mb-5">
            <div class="flex align-items-center gap-2">
              <i class="pi pi-file-edit text-primary"></i>
              <span class="text-sm text-color cursor-pointer">Edit</span>
              <span class="mx-2 gray-color">|</span>
              <i class="pi pi-trash text-primary"></i>
              <span class="text-sm text-color cursor-pointer">Delete</span>
            </div>
            <div class="flex flex-wrap gap-2">
              <div class="flex align-items-center gap-2">
                <i class="pi pi-comments gray-color"></i>
                <span class="text-sm gray-color">20 Answers</span>
              </div>
              <div class="flex align-items-center flex-wrap gap-2">
                <div class="flex justify-content-center align-items-center gap-2">
                  <Avatar
                    image="https://primefaces.org/cdn/primevue/images/avatar/onyamalimba.png"
                    shape="circle"
                    style="max-width: 24px; max-height: 24px"
                  />
                  <span class="text-sm text-primary">Awny Aboughaly</span>
                </div>
                <span class="text-sm gray-color">Asked 1 min ago</span>
              </div>
            </div>
          </div>
          <div class="flex flex-column align-items-start">
            <Textarea
              id="message"
              v-model="writeAnswer"
              autoResize
              rows="2"
              placeholder="Write an Answer..."
              class="w-full border-round-xs mb-3"
            />
            <Button class="border-round-xs border-none py-2 px-6 bg-primary">
              <span class="p-button-label text-lg font-normal">Add Answer</span>
            </Button>
          </div>
        </div>
      </div>
      <div
        class="answers flex gap-3 sm:gap-5 border-bottom-2 border-200 pb-3 mb-3"
        v-for="answer in showAnswers ? arrangeAnswers : mostVoteAnswer"
        :key="answer.id"
      >
        <div class="votes flex flex-column align-items-center">
          <i
            class="pi pi-caret-up text-2xl text-primary"
            @click="voteAction(answer.id, 'increment')"
          ></i>
          <span class="text-xl gray-color">{{ answer.votes }}</span>
          <i
            class="pi pi-caret-down text-2xl text-300"
            @click="voteAction(answer.id, 'decrement')"
          ></i>
        </div>
        <div class="the-answer">
          <mark
            class="text-primary bg-light py-1 px-2 border-round-3xl block w-fit mb-3"
            v-if="answer.votes === mostVotes"
            >Most Vote</mark
          >
          <h3 class="mb-2 text-xl font-normal more-gray-color align-start">
            {{ answer.title }}
          </h3>
          <div class="flex align-items-center flex-wrap gap-2">
            <div class="flex justify-content-center align-items-center gap-2">
              <Avatar
                image="https://primefaces.org/cdn/primevue/images/avatar/onyamalimba.png"
                shape="circle"
                style="max-width: 24px; max-height: 24px"
              />
              <span class="text-sm text-primary">{{ answer.author }}</span>
            </div>
            <span class="text-sm gray-color">Answered {{ answer.since }}</span>
          </div>
        </div>
      </div>
      <span
        class="text-sm font-normal text-primary underline px-0 flex w-fit cursor-pointer"
        link
        @click="showAnswers = !showAnswers"
      >
        {{ showAnswers ? "Show Less" : "Show Answers" }}
      </span>
    </div>
    <Button
      class="bg-primary border-noround border-none py-2 px-6 mt-4 flex gap-3"
      @click="$router.push({ name: 'PostQuestion' })"
    >
      <span class="p-button-icon pi pi-plus"></span>
      <span class="p-button-label text-lg font-normal">Add New</span>
    </Button>
  </section>
</template>

<script>
import Textarea from "primevue/textarea";
import Button from "primevue/button";
import Avatar from "primevue/avatar";

export default {
  name: "QuestionsAnswers",
  components: {
    Textarea,
    Button,
    Avatar
  },

  data() {
    return {
      home: { to: "/", label: "Home" },
      items: [{ label: "Get Settled" }, { label: "Q & A" }],
      askQuestion: {
        value: "",
        maxLength: 100
      },

      questionVotes: 0,
      questionActionStatus: "",
      writeAnswer: "",

      showAnswers: false,
      answers: [
        { id: 1, title: "Answer No. 1", votes: 15, author: "Awny Aboughaly", since: "49 min ago" },
        { id: 2, title: "Answer No. 2", votes: 1, author: "Mark Villa", since: "37 mins ago" },
        { id: 3, title: "Answer No. 3", votes: 3, author: "Jon Cena", since: "23 mins ago" },
        { id: 4, title: "Answer No. 4", votes: 10, author: "Zolikha Well", since: "19 mins ago" },
        { id: 5, title: "Answer No. 5", votes: 8, author: "Real Madrid", since: "10 mins ago" }
      ],
      arrangeAnswers: [],
      mostVoteAnswer: {},
      mostVotes: 0
    };
  },
  methods: {
    voteAction(id, type) {
      this.answers.map((e) => {
        e.id === id && (type === "increment" ? e.votes++ : e.votes--);
      });
      this.arrangingAnswers();
      this.checkerMostVote();
    },
    arrangingAnswers() {
      this.arrangeAnswers = this.answers.sort((a, b) => {
        return b.votes - a.votes;
      });
    },
    checkerMostVote() {
      this.mostVotes = this.answers
        .map((e) => {
          return e.votes;
        })
        .reduce((a, e) => {
          return a > e ? a : e;
        });
    }
  },
  computed: {
    userLength: function () {
      return this.askQuestion.value?.length;
    }
  },
  created() {
    this.checkerMostVote();
    this.arrangingAnswers();
    this.mostVoteAnswer = this.arrangeAnswers.slice(0, 1);
  }
};
</script>

<style lang="scss" scoped>
.ads-questions-answers {
  .gray-color {
    color: #94a3b8;
  }
  .more-gray-color {
    color: #828282;
  }
  .align-start {
    text-align: start;
  }
}
</style>
