<template>
  <section class="ads-sell-buy">
    <div class="grid">
      <CustomSkeleton v-if="loading"/>
      <div v-if="!loading">
        <InlineMessage severity="error" class="flex justify-content-center" v-if="getMySellAndBuy?.meta.total == 0">Not Found. That is why if some of your keywords are missing search</InlineMessage>
      </div>
      <div class="col-12 lg:col-6" v-if="getMySellAndBuy?.data" v-for="item in getMySellAndBuy?.data" :key="item.id">
        <div class="p-3 sm:p-4 bg-white shadow-1">
          <div class="flex mb-3">
            <router-link :to="{ name: 'SellBuyProfile', params: { id: item.id }}">
              <h2 class="text-primary font-medium text-base sm:text-xl">{{ item.title }}</h2>
            </router-link>
          </div>

          <div
            class="flex flex-wrap justify-content-start column-gap-3 mb-3 border-bottom-1 border-200 pb-3"
          >
            <span class="text-xl font-medium text-orange-700">{{ item.price }} {{ item.currency }}</span>
            <span class="text-base font-normal">Total Price</span>
          </div>

          <div class="flex justify-content-start gap-2 mb-3">
            <i class="pi pi-map-marker text-primary text-xl font-normal"></i>
            <span class="text-primary">{{ item.location }}</span>
          </div>

          <span class="text-color-secondary">{{ item.description }}</span>
        </div>
      </div>
    </div>
    <Button
      class="bg-primary border-noround border-none py-2 px-6 mt-3 flex gap-3"
      @click="$router.push({ name: 'PostSellAndBuy' })"
    >
      <span class="p-button-icon pi pi-plus"></span>
      <span class="p-button-label text-lg font-normal">Add New</span>
    </Button>
  </section>
</template>

<script>
import Button from "primevue/button";
import CustomSkeleton from "../../public/views/sell-buy/components/CustomSkeleton.vue";
import { mapActions, mapGetters } from "vuex";
import InlineMessage from 'primevue/inlinemessage';

export default {
  name: "AdsSellBuy",
  components: {
    Button,
    CustomSkeleton,
    InlineMessage
  },

  created() {
    // get section data
    this.loadingDataWaiting(true);
    this.mySellAndBuy();
  },

  computed: {
    ...mapGetters({
      getMySellAndBuy: "myAdsSellBuyStore/getMySellAndBuy",
      loading: "myAdsSellBuyStore/getLoadingDataWaiting"
    })
  },

  methods: {
    ...mapActions({
      mySellAndBuy: "myAdsSellBuyStore/mySellAndBuy",
      loadingDataWaiting: "myAdsSellBuyStore/loadingDataWaiting"
    }),
    PageState(e){
      this.mySellAndBuy(e.page + 1)
    }
  }
};
</script>

<style lang="scss" scoped></style>
