<template>
  <section class="ads-workshops">
    <div class="grid">
      <CustomSkeleton v-if="loading"/>
      <div v-if="!loading">
        <InlineMessage severity="error" class="flex justify-content-center" v-if="getMyWorkshops?.meta?.total == 0">Not Found. That is why if some of your keywords are missing search</InlineMessage>
      </div>
      <div class="col-12 lg:col-6" v-if="getMyWorkshops?.data" v-for="item in getMyWorkshops?.data" :key="item.id">
        <div class="p-3 sm:p-4 bg-white shadow-1">
          <div class="flex mb-3">
            <router-link :to="{ name: 'WorkshopProfile', params: { id: item.id }}">
              <h2 class="text-primary font-medium text-base sm:text-xl">{{ item.title }}</h2>
            </router-link>
          </div>

          <div
            class="flex flex-wrap justify-content-start column-gap-3 mb-3 border-bottom-1 border-200 pb-3"
          >
            <span class="text-xl font-medium text-orange-700">{{ item.price }} {{ item.currency }}</span>
            <span class="text-base font-normal">per Month</span>
          </div>

          <div class="flex flex-wrap mb-3">
            <div class="flex justify-content-start gap-2">
              <i class="pi pi-map-marker text-primary text-xl font-normal"></i>
              <span class="text-primary">{{ item.location }}</span>
            </div>
          </div>

          <div class="flex flex-wrap column-gap-3 row-gap-2 mb-3">
            <span class="bg-cyan-50 px-2 py-1 font-semibold">
              <span class="text-sm font-normal">Type:</span> {{ item.type }}
            </span>
            <span class="bg-cyan-50 px-2 py-1 font-semibold">
              <span class="text-sm font-normal">Date:</span> 12/10/2022 - 13/10/2023
            </span>
          </div>

          <span class="text-color-secondary">{{ item.description }}</span>
        </div>
      </div>
    </div>
    <Button
      class="bg-primary border-noround border-none py-2 px-6 mt-3 flex gap-3"
      @click="$router.push({ name: 'PostWorkshopAndTutors' })"
    >
      <span class="p-button-icon pi pi-plus"></span>
      <span class="p-button-label text-lg font-normal">Add New</span>
    </Button>
  </section>
</template>

<script>
import Button from "primevue/button";
import CustomSkeleton from "../../public/views/sell-buy/components/CustomSkeleton.vue";
import { mapActions, mapGetters } from "vuex";
import InlineMessage from 'primevue/inlinemessage';

export default {
  name: "AdsWorkshops",
  components: {
    Button,
    CustomSkeleton,
    InlineMessage
  },

  created() {
    // get section data
    this.loadingDataWaiting(true);
    this.myWorkshops();
  },

  computed: {
    ...mapGetters({
      getMyWorkshops: "myAdsWorkshopsStore/getMyWorkshops",
      loading: "myAdsWorkshopsStore/getLoadingDataWaiting"
    })
  },

  methods: {
    ...mapActions({
      myWorkshops: "myAdsWorkshopsStore/myWorkshops",
      loadingDataWaiting: "myAdsWorkshopsStore/loadingDataWaiting"
    }),
    PageState(e){
      this.myWorkshops(e.page + 1)
    }
  }
};
</script>

<style></style>
