<template>
  <main class="bg-blue-50 pb-6">
    <name :data="getSingle?.data.title" />

    <div class="container grid">
      <div class="col-12 md:col-7 lg:col-8">
        <images
          v-if="getSingle?.data.images.length"
          :data="getSingle.data.images"
          :name="getSingle?.data.title"
        />
        <location
          v-if="getSingle?.data.location"
          :data="getSingle.data.location"
          :lat="getSingle.data.lat"
          :lng="getSingle.data.lng"
        />
        <about v-if="getSingle?.data.description" :data="getSingle.data.description" />
        <recommended v-if="getSingle?.data.recommended" :data="getSingle.data.recommended" />
      </div>

      <div class="col-12 md:col-5 lg:col-4">
        <average-price
          v-if="getSingle?.data.user"
          :data="getSingle.data.user"
          :price="getSingle.data.price"
          :currency="getSingle.data.currency"
          :rooms="getSingle.data.rooms"
          :location="getSingle.data.location"
          :type="getSingle.data.type"
        />
      </div>
    </div>
  </main>
</template>

<script>
import Name from "./components/Name.vue";
import Location from "./components/Location.vue";
import About from "./components/About.vue";
import Images from "./components/Images.vue";
import Recommended from "./components/Recommended.vue";
import AveragePrice from "./components/AveragePrice.vue";
import { mapActions, mapGetters } from "vuex";

export default {
  name: "AccommodationProfile",

  components: {
    Name,
    Location,
    About,
    Images,
    Recommended,
    AveragePrice
  },

  created() {
    // get section data
    this.loadingDataWaiting(true);
    this.accommodations(this.$route.params.id);
  },

  computed: {
    ...mapGetters({
      getSingle: "SingleAccommodationsStore/getSingleAccommodations",
      loading: "SingleAccommodationsStore/getLoadingDataWaiting"
    })
  },

  methods: {
    ...mapActions({
      accommodations: "SingleAccommodationsStore/singleAccommodations",
      loadingDataWaiting: "SingleAccommodationsStore/loadingDataWaiting"
    })
  }
};
</script>

<style lang="scss" scoped></style>
