<template>
  <div class="col-6 sm:col-4 md:col-6 lg:col-4">
    <Skeleton class="w-full h-20rem" />
  </div>
  <div class="col-6 sm:col-4 md:col-6 lg:col-4">
    <Skeleton class="w-full h-20rem" />
  </div>
  <div class="col-6 sm:col-4 md:col-6 lg:col-4">
    <Skeleton class="w-full h-20rem" />
  </div>
  <div class="col-6 sm:col-4 md:col-6 lg:col-4">
    <Skeleton class="w-full h-20rem" />
  </div>
  <div class="col-4 hidden sm:block md:hidden lg:block">
    <Skeleton class="w-full h-20rem" />
  </div>
  <div class="col-4 hidden sm:block md:hidden lg:block">
    <Skeleton class="w-full h-20rem" />
  </div>
</template>

<script>
  import Skeleton from 'primevue/skeleton';
  export default {
    name: "CustomSkeleton",

    components: {
      Skeleton
    }
  }
</script>

<style lang="scss" scoped>

</style>