<template>
  <section class="search py-4 mb-5">
    <div class="container flex justify-content-center align-items-center gap-3">
      <label for="search" class="hidden md:block text-white text-lg font-bold">Search</label>
      <span class="p-input-icon-left md:align-self-stretch flex-grow-1">
        <i class="pi pi-search" />
        <InputText
          v-model="search"
          placeholder="Discover Course"
          class="border-noround w-full h-full"
          id="search"
          v-debounce:1s="searchByValue"
        />
      </span>
    </div>
  </section>
</template>

<script>
import InputText from "primevue/inputtext";
import { mapActions } from "vuex";
import { vue3Debounce } from "vue-debounce";

export default {
  name: "Search",
  components: {
    InputText
  },

  directives: {
    debounce: vue3Debounce({ lock: true })
  },

  data() {
    return {
      search: ""
    };
  },

  created() {
    // init data
    this.search = this.$route.query.courses_name;
    this.searchByValue(this.search);
  },

  methods: {
    ...mapActions({
      universityCourses: "universityCoursesStore/universityCourses",
      universitySearchValue: "universityCoursesStore/searchValue",
      englishCourses: "englishCourseStore/englishCourses",
      englishSearchValue: "englishCourseStore/searchValue"
    }),
    searchByValue(value) {
      if (value) {
        this.$route.name === "EnglishCourses"
          ? this.englishSearchValue(value)
          : this.universitySearchValue(value);
      } else {
        this.$route.name === "EnglishCourses"
          ? this.englishSearchValue(this.search)
          : this.universitySearchValue(this.search);
      }
      this.$route.name === "EnglishCourses" ? this.englishCourses() : this.universityCourses();
    }
  }
};
</script>

<style lang="scss" scoped>
.search {
  background-color: #1e293b;
}
</style>
