<template>
  <Dialog
    v-model:visible="visible"
    modal
    :style="{ width: '960px' }"
    :breakpoints="{ '960px': '75vw', '641px': '95vw' }"
    :closable="false"
  >
    <template #header>
      <div
        class="md:px-7 sm:mt-3 sm:mb-2 mx-auto text-2xl sm:text-4xl font-semibold text-primary text-center"
      >
        Change Password
      </div>
    </template>

    <div class="md:px-7">
      <div class="mb-4">
        <label for="oldPassword" class="text-lg white-space-nowrap">Old Password</label>
        <InputText
          id="oldPassword"
          type="password"
          v-model="oldPassword"
          placeholder="Write Your old password"
          class="w-full border-round-xs mt-1"
        />
        <span v-if="v$.oldPassword.$invalid && submitted">
            <small class="p-error">{{ v$.oldPassword.required.$message }}</small>
        </span> 
      </div>

      <div class="mb-4">
        <label for="newPassword" class="text-lg white-space-nowrap">New Password</label>
        <InputText
          id="newPassword"
          type="password"
          v-model="newPassword"
          placeholder="Write Your new password"
          class="w-full border-round-xs mt-1"
        />
        <span v-if="v$.newPassword.$invalid && submitted">
            <small class="p-error">{{ v$.newPassword.required.$message }}</small>
        </span> 
      </div>

      <div class="mb-0">
        <label for="confirmPassword" class="text-lg white-space-nowrap">Confirm New Password</label>
        <InputText
          id="confirmPassword"
          type="password"
          v-model="confirmPassword"
          placeholder="Write Your new password"
          class="w-full border-round-xs mt-1"
        />
        <span v-if="v$.confirmPassword.$invalid && submitted">
            <small v-if="confirmPassword === ''" class="p-error">{{ v$.confirmPassword.required.$message }}</small>
            <small v-else class="p-error">{{ v$.confirmPassword.sameAsPassword.$message }}</small>
        </span> 
      </div>
    </div>

    <template #footer>
      <div class="flex flex-column sm:flex-row row-gap-2 column-gap-3 md:px-7 sm:mb-5">
        <Button @click="closePopup" class="w-full m-0 bg-cyan-50 border-none border-round-xs">
          <span class="p-button-label text-primary font-normal text-lg">Cancel</span>
        </Button>
        <Button @click="handleSubmit(!v$.$invalid)" class="w-full m-0 bg-primary border-none border-round-xs">
          <span class="p-button-label font-normal text-lg">Save</span>
        </Button>
      </div>
    </template>
  </Dialog>
</template>

<script>
import Dialog from "primevue/dialog";
import Button from "primevue/button";
import InputText from "primevue/inputtext";
import { useVuelidate } from "@vuelidate/core";
import { sameAs, required, helpers } from '@vuelidate/validators'
import { useToast } from "vue-toastification";
import { mapActions, mapGetters } from "vuex";

export default {
  name: "ChangePassword",
  components: {
    Dialog,
    Button,
    InputText
  },

  setup: () => ({
    toast: useToast(),
    v$: useVuelidate(),
  }),

  data() {
    return {
      visible: false,
      oldPassword: "",
      newPassword: "",
      confirmPassword: "",
      submitted: false,
    };
  },

  validations() {
    return {
      oldPassword: {required: helpers.withMessage('Old Password is required', required)},
      newPassword: {required: helpers.withMessage('New Password is required', required)},
      confirmPassword: {
        required: helpers.withMessage('Confirm Password is required', required),
        sameAsPassword:  helpers.withMessage("Confirm password must be same as password you entered above.", sameAs(this.newPassword))
      }
    };
  },

  computed:{
    ...mapGetters({
      getChangePasswordRes: "changePassword/getChangePasswordRes"
    })
  },

  methods: {
    ...mapActions({
      changePassword: "changePassword/changePassword"
    }),

    handleSubmit(isFieldsValid){
      this.submitted = true

      isFieldsValid &&
      (
        this.changePassword([this.oldPassword, this.newPassword, this.confirmPassword]),
        (this.getChangePasswordRes.status === 200 || this.getChangePasswordRes.status === 201)
        ? (this.closePopup(), this.toast.success(this.getChangePasswordRes.data.message), localStorage.removeItem('token'))
        : this.toast.error(this.getChangePasswordRes.response?.data.message)
      )
    },

    closePopup() {
      this.$emit("closePopup");
    }
  }
};
</script>

<style lang="scss" scoped></style>
