<template>
  <section class="client-card mb-4 bg-white border-round-xs shadow-1 overflow-hidden">
    <div class="head relative">
      <div class="client-image absolute top-50" v-if="profile?.user.image">
        <img :src="profile.user.image" :alt="profile.user.name" />
      </div>
    </div>

    <div class="body p-5 pt-8">
      <h2 class="mb-3 text-xl font-medium text-color">{{ profile.user.name }}</h2>

      <div class="contacts mb-4 flex flex-column md:flex-row gap-3">
        <div class="contact flex align-items-center gap-2">
          <i class="pi pi-phone text-primary"></i>
          <span class="text-color">+{{ profile.user.phone }}</span>
        </div>

        <div class="contact flex align-items-center gap-2">
          <i class="pi pi-envelope text-primary"></i>
          <span class="text-color">{{ profile.user.email }}</span>
        </div>

        <div class="contact flex align-items-center gap-2">
          <i class="pi pi-whatsapp text-primary"></i>
          <span class="text-color">+{{ profile.user.phone }}</span>
        </div>
      </div>

      <div class="actions flex flex-column md:flex-row gap-3">
        <Button
          label="Change Password"
          @click="visible.changePassword = true"
          class="bg-cyan-50 py-2 px-4 border-primary border-1 text-primary border-round-xs"
        />
        <change-password
          :visible="visible.changePassword"
          @closePopup="visible.changePassword = false"
        ></change-password>
        <Button
          label="Edit Profile"
          @click="visible.editProfile = true"
          class="bg-primary py-2 px-4 border-primary border-1 border-round-xs"
        />
        <edit-profile
          :visible="visible.editProfile"
          @closePopup="visible.editProfile = false"
        ></edit-profile>
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters } from "vuex";
import ChangePassword from "./ChangePassword.vue";
import EditProfile from "./EditProfile.vue";
import Button from "primevue/button";

export default {
  name: "ClientCard",

  components: {
    ChangePassword,
    EditProfile,
    Button
  },

  data() {
    return {
      visible: {
        changePassword: false,
        editProfile: false
      },

      authenticated: localStorage.getItem("token") ? localStorage.getItem("token") : null,

      profile: {
        user: {
          name: "",
          phone: ""
        }
      }
    };
  },

  async mounted() {
    if (this.authenticated) {
      try {
        let response = await this.axios.get("auth/profile", {
          headers: {
            Authorization: `Bearer ${this.authenticated}`
          }
        });
        this.profile = response.data.data;
      } catch (error) {
        localStorage.removeItem("token");
        console.log(error);
      }
    }
  },

  computed: {
    ...mapGetters({
      getProfileData: "editProfileStore/getProfileData"
    })
  },

  watch: {
    getProfileData() {
      this.profile.user = Object.assign({}, this.getProfileData);
    }
  }
};
</script>

<style lang="scss" scoped>
.client-card {
  .head {
    height: 140px;
    background: linear-gradient(270.03deg, #0369a1 0.02%, #ffedd5 99.98%);

    .client-image {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      overflow: hidden;
      border: 6px solid #fff;
      left: 25px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
</style>
