<template>
  <Dialog
    v-model:visible="visible"
    modal
    :style="{ width: '960px' }"
    :breakpoints="{ '960px': '75vw', '641px': '95vw' }"
    :closable="false"
  >
    <template #header>
      <div
        class="md:px-7 sm:my-2 mx-auto text-2xl sm:text-4xl font-semibold text-primary text-center"
      >
        Update Personal Info
      </div>
    </template>

    <FileUpload
      accept="image/*"
      :maxFileSize="1000000"
      @select="onSelect"
      :fileLimit="+1"
      name="demo[]"
    >
      <template #header="{ chooseCallback, clearCallback, files }">
        <div class="relative flex align-items-center gap-2 mx-auto border-4">
          <span
            @click="chooseCallback()"
            class="bg-white w-11rem h-11rem border-1 border-dashed border-500 border-circle flex flex-column justify-content-center align-items-center overflow-hidden"
            style="object-fit: cover; object-position: center"
          >
            <img
              :src="photo ? photo.objectURL : userData.image"
              class="w-14rem h-14rem border-circle"
            />
          </span>
          <span class="icon-times absolute cursor-pointer" @click="clearCallback(), (photo = '')">
            <i class="pi pi-times text-xl" :class="!files || (files?.length === 0 && 'hidden')"></i>
          </span>
        </div>
      </template>

      <template #content="{ messages }">
        <div v-if="messages" class="flex justify-content-center">
          <small class="p-error">{{ messages[0] }}</small>
        </div>
      </template>
    </FileUpload>

    <div class="md:px-7">
      <div class="mb-4">
        <label for="name" class="text-lg">Name</label>
        <InputText
          id="name"
          type="text"
          v-model="userData.name"
          placeholder="Write Your name"
          class="w-full border-round-xs mt-1"
        />
      </div>

      <div class="mb-4">
        <label for="phone" class="text-lg white-space-nowrap">Phone Number</label>
        <div class="flex gap-2 mt-1">
          <Dropdown
            v-model="userData.phone_code"
            editable
            :options="keys"
            optionLabel="code"
            selectOnFocus
            class="max-w-9rem border-noround"
          />
          <InputText
            id="phone"
            type="tel"
            v-model="userData.phone"
            placeholder="Phone Number"
            class="w-full border-noround flex-grow-1"
          />
        </div>
      </div>

      <div class="mb-4">
        <label for="email" class="text-lg">E-mail</label>
        <InputText
          id="email"
          type="email"
          v-model="userData.email"
          placeholder="Write Your e-mail"
          class="w-full border-round-xs mt-1"
        />
      </div>

      <div class="mb-0">
        <label for="address" class="text-lg">Address</label>
        <InputText
          id="address"
          type="text"
          v-model="userData.address"
          placeholder="Write Your Address"
          class="w-full border-round-xs mt-1"
        />
      </div>
    </div>
    <template #footer>
      <div class="flex flex-column sm:flex-row row-gap-2 column-gap-3 md:px-7 sm:mb-5">
        <Button @click="closePopup" class="w-full m-0 bg-cyan-50 border-none border-round-xs">
          <span class="p-button-label text-primary font-normal text-lg">Cancel</span>
        </Button>
        <Button @click="submitChanges" class="w-full m-0 bg-primary border-none border-round-xs">
          <span
            class="p-button-label font-normal text-lg flex justify-content-center align-items-center gap-3"
          >
            <span>Save</span>
            <i v-if="getBtnLoading" class="p-button-icon pi pi-spin pi-spinner"></i>
          </span>
        </Button>
      </div>
    </template>
  </Dialog>
</template>

<script>
import Dialog from "primevue/dialog";
import Button from "primevue/button";
import InputText from "primevue/inputtext";
import Dropdown from "primevue/dropdown";
import { mapActions, mapGetters } from "vuex";
import FileUpload from "primevue/fileupload";
import { useToast } from "vue-toastification";

export default {
  name: "EditProfile",
  components: {
    Dialog,
    Button,
    InputText,
    Dropdown,
    FileUpload
  },

  setup: () => ({
    toast: useToast()
  }),

  data() {
    return {
      visible: false,
      userData: {
        image: "",
        name: "",
        phone_code: "",
        phone: "",
        email: "",
        address: ""
      },
      photo: "",
      keys: []
    };
  },

  computed: {
    ...mapGetters({
      getCountriesKeys: "editProfileStore/getCountriesKeys",
      getProfileData: "editProfileStore/getProfileData",
      getDialogAfterRes: "editProfileStore/getDialogAfterRes",
      getBtnLoading: "editProfileStore/getBtnLoading"
    })
  },

  watch: {
    getCountriesKeys() {
      this.keys = this.getCountriesKeys;
    },
    getProfileData() {
      this.userData = this.getProfileData;
    },
    getDialogAfterRes() {
      this.closePopup();
    }
  },

  created() {
    this.countriesKeys();
    this.profileData();
  },

  methods: {
    ...mapActions({
      countriesKeys: "editProfileStore/countriesKeys",
      profileData: "editProfileStore/profileData",
      submitEditsData: "editProfileStore/submitEditsData"
    }),
    submitChanges() {
      this.submitEditsData([this.userData, this.photo]);
    },
    closePopup() {
      this.$emit("closePopup");
    },
    // on photo select
    onSelect(event) {
      this.photo = event.files[event.files?.length - 1];
    }
  }
};
</script>

<style lang="scss" scoped>
.icon-times {
  right: 0px;
  top: 10px;
}
</style>
