<template>
  <aside class="sidebar bg-white border-round-xs shadow-1 overflow-hidden">
    <ul class="flex flex-row md:flex-column">
      <li>
        <router-link
          :to="{ name: 'AccountDocuments' }"
          :class="
            'block p-4 text-lg font-medium' +
            ($route.name === 'AccountDocuments' ? ' bg-blue-100 text-primary' : ' text-color')
          "
        >
          Documents
        </router-link>
      </li>

      <li>
        <router-link
          :to="{ name: 'AccountApplications' }"
          :class="
            'block p-4 text-lg font-medium' +
            ($route.name === 'AccountApplications' ? ' bg-blue-100 text-primary' : ' text-color')
          "
        >
          Applications
        </router-link>
      </li>

      <li>
        <router-link
          :to="{ name: 'AccountAds' }"
          :class="
            'block p-4 text-lg font-medium' +
            ($route.path.includes('ads') ? ' bg-blue-100 text-primary' : ' text-color')
          "
        >
          My Ads
        </router-link>
      </li>
    </ul>
  </aside>
</template>

<script>
export default {
  name: "Sidebar"
};
</script>

<style lang="scss" scoped></style>
