<template>
  <div>
    <InlineMessage  
    :style="{  border: 'solid #cc8925', borderWidth: '0 0 0 6px'}" 
    severity="warn" class="w-full justify-content-start">
    Verify your account 
      <Button
        @click="ResendOTP()" 
        :loading="loading" 
        label="Resend OTP" 
        class="ml-auto p-0" 
        link
        autofocus
      />  
    </InlineMessage>
  </div>
  <div class="flex flex-column gap-2 mb-5 mt-5 align-items-center">


    <div class="card bg-white border-round mdi-box-shadow p-5 col-12 lg:col-4" v-if="moduleEnterOTP">
      <p>
        Please Enter your OTP
      </p>
      <div class="flex flex-column gap-2 mt-5 mb-5">
        <label for="otp" class="text-lg">OTP</label>
        <InputNumber v-model="otp" inputId="otp" :useGrouping="false" aria-describedby="number-error" />
      </div>
      <Button
        @click="EnterOTP()" 
        :loading="loading" 
        label="Verify" 
        class="btn-primary bg-primary mx-auto" 
        autofocus
      />    
    </div>


    <div class="card bg-white border-round mdi-box-shadow p-5 col-12 lg:col-4" v-if="moduleSendOTP">
        <p>
          Please Enter your email address which you
        </p>
        <div class="flex flex-column gap-2 mt-5 mb-5">
          <label for="email" class="text-lg">Email Address</label>
          <InputText id="email" v-model="email" aria-describedby="email-help" />
        </div>

        <Button
          @click="SendOTP" 
          :loading="loading" 
          label="resend otp" 
          class="btn-primary bg-primary mx-auto mb-4" 
          autofocus
        />
    </div>

  </div>
</template>

<style>
.p-inline-message .p-inline-message-text {
    width: 100%;
    display: flex;
    padding: 10px;
}

.p-inline-message .p-inline-message-text .p-button-label {
    font-size: 13px;
}
</style>

<script>
import Button from "primevue/button";
import InputText from "primevue/inputtext";
import { useToast } from "vue-toastification";
import InputNumber from 'primevue/inputnumber';
import InlineMessage from 'primevue/inlinemessage';

export default {
  name: "VerifyAccount",

  components: {
    Button,
    InputText,
    InputNumber,
    InlineMessage
  },

  data: () => ({
    email: "",
    otp: "",
    password: "",
    confirm_password: "",
    loading: false,

    moduleEnterOTP: true,
    moduleSendOTP: false,
    
    token: localStorage.getItem('token') ? localStorage.getItem('token') : null,
  }),

  
  setup: () => ({
    toast: useToast(),
  }),

  methods: {
    SendOTP() {
      this.loading = true;
      let data = new FormData();
      data.append("email", this.email);
      this.axios
      .post(`auth/resend-verify`, data, {
        headers: {
          Authorization: `Bearer ${this.token}`,
        },
      })
      .then((response) => {
        this.loading = false;
        this.toast.success(response.data.message);
        this.moduleSendOTP = false;
        this.moduleEnterOTP = true;
      })
      .catch((error) => {
        this.toast.error(error.response.data.message);
        this.loading = false;
      });
    },

    ResendOTP() {
      this.moduleSendOTP = true;
      this.moduleEnterOTP = false;
    },

    EnterOTP() {
      this.loading = true;
      let data = new FormData();
      data.append("otp", this.otp);
      this.axios
      .post(`auth/verify-email`, data, {
        headers: {
          Authorization: `Bearer ${this.token}`,
        },
      })
      .then((response) => {
        this.loading = false;
        this.toast.success(response.data.message);
        this.$router.push({ name: "Home" });
      })
      .catch((error) => {
        this.toast.error(error.response.data.message);
        this.loading = false;
      });
    },

  },
}
</script>