<template>
  <div class="card" v-if="moduleSendOTP">
      <p>
        Please Enter your email address which you <br />
        registered here!
      </p>
      <div class="flex flex-column gap-2 mb-5 mt-4">
        <label for="email" class="text-lg">Email Address</label>
        <InputText id="email" v-model="email" aria-describedby="email-help" />
      </div>

      <Button
        @click="SendOTP" 
        :loading="loading" 
        label="Reset password" 
        class="btn-primary bg-primary mx-auto mb-4" 
        autofocus
      />
  </div>

  <div class="card" v-if="moduleCheckOTP">
    <p>
      Please Enter your email address and OTP
    </p>
    <div class="flex flex-column gap-2 mb-5 mt-4">
      <label for="email" class="text-lg">Email Address</label>
      <InputText  id="email" v-model="email" aria-describedby="email-help" />
    </div>
    <div class="flex flex-column gap-2 mb-5">
      <label for="otp" class="text-lg">OTP</label>
      <InputNumber v-model="otp" inputId="minmax" :useGrouping="false" aria-describedby="number-error" />
    </div>
    <Button
      @click="CheckOTP()" 
      :loading="loading" 
      label="Check OTP" 
      class="btn-primary bg-primary mx-auto mb-4" 
      autofocus
    />    
  </div>

  <div class="card" v-if="moduleResetPassword">
    <p>
      Please Enter New Password
    </p>
    <div class="flex flex-column gap-2 mb-5 mt-4">
      <label for="password" class="text-lg">Password</label>
      <Password id="password" v-model="password" toggleMask />
    </div>
    <div class="flex flex-column gap-2 mb-5">
      <label for="confirm_password" class="text-lg">Confirm Password</label>
      <Password id="confirm_password" v-model="confirm_password" toggleMask />
    </div>

    <Button
      @click="ResetPassword()" 
      :loading="loading" 
      label="reset password" 
      class="btn-primary bg-primary mx-auto mb-4" 
      autofocus
    />    
  </div>

  <div class="card" v-if="message">
    {{ message }}
  </div>
</template>

<script>
import Button from "primevue/button";
import InputText from "primevue/inputtext";
import { useToast } from "vue-toastification";
import InputNumber from 'primevue/inputnumber';
import Password from "primevue/password";

export default {
  name: "ForgotPassword",

  components: {
    Button,
    InputText,
    InputNumber,
    Password
  },

  data: () => ({
    email: "",
    otp: "",
    password: "",
    confirm_password: "",
    loading: false,

    moduleSendOTP: true,
    moduleCheckOTP: false,
    moduleResetPassword: false,

    token: "",
    message: ""
  }),

  
  setup: () => ({
    toast: useToast(),
  }),

  methods: {
    SendOTP() {
      this.loading = true;
      let data = new FormData();
      data.append("email", this.email);
      this.axios
      .post(`auth/forget-password`, data)
      .then((response) => {
        this.loading = false;
        this.toast.success(response.data.message);
        this.moduleSendOTP = false;
        this.moduleCheckOTP = true;
      })
      .catch((error) => {
        this.toast.error(error.response.data.message);
        this.loading = false;
      });
    },

    CheckOTP() {
      this.loading = true;
      let data = new FormData();
      data.append("email", this.email);
      data.append("otp", this.otp);
      this.axios
      .post(`auth/forget-password/check-otp`, data)
      .then((response) => {
        this.loading = false;
        this.toast.success(response.data.message);
        this.token = response.data.data.token;
        this.moduleCheckOTP = false;
        this.moduleResetPassword = true;
      })
      .catch((error) => {
        this.toast.error(error.response.data.message);
        this.loading = false;
      });
    },

    ResetPassword() {
      this.loading = true;
      let data = new URLSearchParams();
      data.append("password", this.password);
      data.append("password_confirmation", this.confirm_password);
      this.axios
      .put(`auth/reset-password`, data, {
        headers: {
          Authorization: `Bearer ${this.token}`,
        },
      })

      .then((response) => {
        this.loading = false;
        this.message = response.data.message;
        this.moduleResetPassword = false;
      })
      .catch((error) => {
        this.toast.error(error.response.data.message);
        this.loading = false;
      });
    },

  },
}
</script>