<template>
  <div class="card">
    <form @submit.prevent="handleSubmit(!v$.$invalid)">
      <div class="flex flex-column gap-2 mb-5">
        <label for="full_name" class="text-lg">Full Name</label>
        <InputText id="full_name" v-model="v$.full_name.$model" aria-describedby="fullname-help" />
        <span v-if="v$.full_name.$errors && submitted">
          <span id="full_name-error" v-for="(error, index) of v$.full_name.$errors" :key="index">
            <small class="p-error">{{ error.$message }}</small>
          </span>
        </span>
      </div>
      <div class="flex flex-column gap-2 mb-5">
        <label for="email" class="text-lg">Email Address</label>
        <InputText id="email" v-model="v$.email.$model" :class="{ 'p-invalid': v$.email.$invalid && submitted }" aria-describedby="email-help" />
        <div>
          <span v-if="v$.email.$errors && submitted">
            <span id="email-error" v-for="(error, index) of v$.email.$errors" :key="index">
              <small class="p-error">{{ error.$message }}</small>
            </span>
          </span>
          <small v-else-if="(v$.email.$invalid && submitted) || v$.email.$pending.$response" class="p-error">
            {{ v$.email.required.$message.replace("Value", "Email Address") }}
          </small>
        </div>
      </div>
      <div class="flex flex-column gap-2 mb-5">
        <label for="phone" class="text-lg">Phone Number</label>
        <div class="flex flex-row gap-2">
          <Dropdown v-model="selectedCountry" :options="countries" filter optionLabel="name" placeholder="Country" class="w-full md:w-10rem">
            <template #value="slotProps">
              <div v-if="slotProps.value" class="flex align-items-center">
                  <div>{{ slotProps.value.code }}</div>
              </div>
              <span v-else>
                  {{ slotProps.placeholder }}
              </span>
            </template>
            <template #option="slotProps">
                <div class="flex align-items-center">
                  <div>{{ slotProps.option.emoji }} {{ slotProps.option.name }}</div>
                </div>
            </template>
          </Dropdown>
          <InputText id="phone" v-model="phone" aria-describedby="phone-help" class="w-full" />
          <span v-if="v$.phone.$errors && submitted">
            <span id="phone-error" v-for="(error, index) of v$.phone.$errors" :key="index">
              <small class="p-error">{{ error.$message }}</small>
            </span>
          </span>          
        </div>
      </div>
      <div class="flex flex-column gap-2 mb-5">
        <label for="password" class="text-lg">Password</label>
        <Password id="password" v-model="password" toggleMask />
        <span v-if="v$.password.$invalid">
            <small class="p-error">{{ v$.password.required.$message }}</small>
        </span> 
      </div>
      <div class="flex flex-column gap-2">
        <label for="confirm_password" class="text-lg">Confirm Password</label>
        <Password id="confirm_password" v-model="confirm_password" toggleMask />
       
      </div>
    
      <div class="text-center mt-3">
        <p>By signing up I accept all the terms and conditions of Student Center.</p>
        <Button 
          type="submit"
          :loading="loading"
          label="Sign Up" 
          class="btn-primary bg-primary mx-auto mb-4 mt-4" 
          autofocus
        />

      </div>
    </form>
  </div>
</template>



<script>
import { mapActions } from "vuex";
import { useVuelidate } from "@vuelidate/core";
import { required, email } from "@vuelidate/validators";
import { useToast } from "vue-toastification";
import { ref } from "vue";
import Dropdown from 'primevue/dropdown';
// import { sameAs } from '@vuelidate/validators';

import Button from "primevue/button";
import InputText from "primevue/inputtext";
import Password from "primevue/password";

export default {
  name: "Authentication",

  components: {
    Button,
    InputText,
    Password,
    Dropdown
  },


  data: () => ({
    submitted: false,
    loading: false,
    countries: '',
    full_name: "",
    email: "",
    selectedCountry: "",
    phone: "",
    password: "",
    confirm_password:"",
    authenticated: localStorage.getItem('token') ? localStorage.getItem('token') : null,
  }),

  validations() {
    return {
      full_name: { required }, // Matches this.full_name      
      email: {
        required,
        email
      },
      phone: { required }, // Matches this.lastName
      password: {required},
      // confirmPassword: sameAs(this.password), // can be a reference to a field or computed property
    };
  },
  
  setup: () => ({
    toast: useToast(),
    v$: useVuelidate(),
    menu: ref()
  }),

  created() {
    // get section data
    this.getCountries();
  },


  methods: {
    ...mapActions({
      attemptSignup: "signup/attemptSignup",
    }),


        // get section data
    async getCountries() {
      await this.axios.get(`/countries`).then(res => this.countries = res.data.data)
    },

    handleSubmit(isFormValid) {
      this.submitted = true;      

      console.log(isFormValid);

      if (!isFormValid) {
        return;
      }

      this.loading = true;
      
      
      let data = new FormData();
      data.append("name", this.full_name);
      data.append("email", this.email);
      data.append("country_code", this.selectedCountry.code);
      data.append("phone", this.phone);
      data.append("password", this.password);
      data.append("password_confirmation", this.confirm_password);

      this.loading = true;

      this.axios
        .post(`auth/register`, data)
        .then((response) => {
          this.attemptSignup(response);
          this.loading = false;
          this.toast.success('Sign Up success');
        })
        .catch((error) => {
          this.toast.error(error.response.data.message);
          this.loading = false;
        });
    },
  },

}
</script>

<style lang="scss"></style>
