<template>
  <section class="contact-form py-2 md:py-8">
    <div class="container px-0 md:px-3">
      <div class="grid">
        <!-- contact informations -->
        <div class="col-12 md:col-4 py-6 md:py-0 bg-primary-50 md:bg-white">
          <h1
            class="px-3 md:px-0 break-spaces mb-2 text-primary text-3xl lg:text-5xl font-semibold"
          >
            {{ section.title }}
          </h1>
          <div
            v-for="info in section.sections"
            :key="info.id"
            class="px-3 md:px-0 flex flex-column align-items-start mt-5"
          >
            <i :class="`pi ${info.icon} text-3xl`"></i>
            <h3 class="my-2 text-base font-normal">{{ info.title }}</h3>
            <p class="text-primary text-xl">{{ info.content }}</p>
          </div>
        </div>
        <!-- send us a message -->
        <div class="col-12 md:col-8 py-6 md:py-0">
          <div class="px-3 md:p-4 md:shadow-1">
            <h2 class="text-2xl font-semibold mb-4">Send us A message</h2>
            <div
              class="flex justify-content-center align-items-center flex-wrap sm:flex-nowrap mb-2"
            >
              <div
                class="col-12 sm:col-3 md:col-4 lg:col-3 flex justify-content-start sm:justify-content-end pb-0 sm:pb-2 px-0 sm:px-2"
              >
                <label for="name" class="text-lg white-space-nowrap">Name</label>
              </div>
              <div class="col-12 sm:col-9 md:col-8 lg:col-9 pt-1 sm:pt-2 px-0 sm:px-2">
                <InputText
                  id="name"
                  type="text"
                  v-model="name"
                  placeholder="Type here"
                  class="w-full border-noround"
                />
              </div>
            </div>
            <div
              class="flex justify-content-center align-items-center flex-wrap sm:flex-nowrap mb-2"
            >
              <div
                class="col-12 sm:col-3 md:col-4 lg:col-3 flex justify-content-start sm:justify-content-end pb-0 sm:pb-2 px-0 sm:px-2"
              >
                <label for="email" class="text-lg white-space-nowrap">Email Address</label>
              </div>
              <div class="col-12 sm:col-9 md:col-8 lg:col-9 pt-1 sm:pt-2 px-0 sm:px-2">
                <InputText
                  id="email"
                  type="email"
                  v-model="email"
                  placeholder="Type here"
                  class="w-full border-noround"
                />
              </div>
            </div>
            <div
              class="flex justify-content-center align-items-center flex-wrap sm:flex-nowrap mb-2"
            >
              <div
                class="col-12 sm:col-3 md:col-4 lg:col-3 flex justify-content-start sm:justify-content-end pb-0 sm:pb-2 px-0 sm:px-2"
              >
                <label for="phone" class="text-lg white-space-nowrap">Phone Number</label>
              </div>
              <div class="col-12 sm:col-9 md:col-8 lg:col-9 pt-1 sm:pt-2 px-0 sm:px-2 flex gap-2">
                <Dropdown
                  v-model="countryKey"
                  editable
                  :options="keys"
                  optionLabel="code"
                  selectOnFocus
                  class="max-w-9rem border-noround"
                />
                <InputText
                  id="phone"
                  type="tel"
                  v-model="phone"
                  placeholder="Phone Number"
                  class="w-full border-noround flex-grow-1"
                />
              </div>
            </div>
            <div
              class="flex justify-content-center align-items-center flex-wrap sm:flex-nowrap mb-2"
            >
              <div
                class="col-12 sm:col-3 md:col-4 lg:col-3 flex justify-content-start sm:justify-content-end pb-0 sm:pb-2 px-0 sm:px-2"
              >
                <label for="message" class="text-lg white-space-nowrap">Message</label>
              </div>
              <div class="col-12 sm:col-9 md:col-8 lg:col-9 pt-1 sm:pt-2 px-0 sm:px-2">
                <Textarea
                  id="message"
                  v-model="message"
                  autoResize
                  rows="5"
                  placeholder="Type here"
                  class="w-full border-noround"
                />
              </div>
            </div>
            <div class="flex justify-content-end mx-2 mt-3">
              <Button
                label="Send"
                class="border-noround text-lg font-normal py-2 px-6 bg-primary border-0"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import InputText from "primevue/inputtext";
import Textarea from "primevue/textarea";
import Button from "primevue/button";
import Dropdown from "primevue/dropdown";

export default {
  name: "ContactForm",

  components: {
    InputText,
    Textarea,
    Button,
    Dropdown
  },

  data: () => ({
    // section data
    section: {},

    name: "",
    email: "",
    countryKey: "",
    phone: "",
    message: "",

    keys: [
      {
        code: "+ 20",
        country: "Egypt"
      },
      {
        code: "+ 974",
        country: "Canada"
      }
    ]
  }),

  created() {
    // get section data
    this.getSectionData();
  },

  methods: {
    // get section data
    getSectionData() {
      this.section = {
        title: "Contact us",

        sections: [
          {
            id: 1,
            icon: "pi-envelope",
            title: "Email Address",
            content: "info@domain.com"
          },
          {
            id: 2,
            icon: "pi-map-marker",
            title: "Our Location",
            content: "Kuwait City - Al Mubarakia"
          },
          {
            id: 3,
            icon: "pi-phone",
            title: "Head Office",
            content: "(966)-50-733-441"
          }
        ]
      };
    }
  }
};
</script>

<style lang="scss" scoped></style>
