<template>
  <section class="our-offices py-8 bg-blue-50">
    <div class="container">
      <h2 class="break-spaces mb-5 text-color text-3xl md:text-5xl font-semibold">
        {{ section.title }}
      </h2>

      <div class="flex flex-wrap justify-content-start align-items-start">
        <div class="col-6 lg:col-2" v-for="card in section.sections" :key="card.id">
          <div class="card mb-3 md:mb-0">
            <div class="country-image mb-2">
              <img :src="card.image" :alt="card.title" />
            </div>
            <h3 class="mb-2 text-base font-normal">
              {{ card.title }}
            </h3>
            <p class="inline-block">
              {{ card.number }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "OurOffices",

  data: () => ({
    // section data
    section: {}
  }),

  created() {
    // get section data
    this.getSectionData();
  },

  methods: {
    // get section data
    getSectionData() {
      this.section = {
        title: "Our Offices",
        sections: [
          {
            id: 1,
            image: "https://upload.wikimedia.org/wikipedia/commons/f/fe/Flag_of_Egypt.svg",
            title: "Egypt",
            number: "000000000000"
          },
          {
            id: 2,
            image:
              "https://upload.wikimedia.org/wikipedia/commons/9/90/Flag_of_Kuwait_%283-2%29.svg",
            title: "Kuwait",
            number: "000000000000"
          },
          {
            id: 3,
            image: "https://cdn.britannica.com/67/5767-004-E0FF7201/Flag-Bahrain.jpg",
            title: "Bahrain",
            number: "000000000000"
          },
          {
            id: 4,
            image:
              "https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Flag_of_Jordan.svg/1200px-Flag_of_Jordan.svg.png",
            title: "Jordan",
            number: "000000000000"
          },
          {
            id: 5,
            image: "https://upload.wikimedia.org/wikipedia/commons/0/0d/Flag_of_Saudi_Arabia.svg",
            title: "Saudi",
            number: "000000000000"
          },
          {
            id: 6,
            image: "https://upload.wikimedia.org/wikipedia/commons/6/65/Flag_of_Qatar.svg",
            title: "Qatar",
            number: "000000000000"
          }
        ]
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.our-offices {
  .card {
    width: 26px;
    .country-image {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
</style>
