<template>
  <section class="filter bg-white md:p-4 md:shadow-1">
    <div class="flex justify-content-between align-items-center mb-4">
      <h2 class="text-xl font-normal">Filters (4)</h2>
      <i class="pi pi-filter text-xl text-primary"></i>
    </div>

    <div
      @click="clearAll"
      class="text-center text-lg font-normal text-primary bg-cyan-50 border-1 border-primary py-2 mb-4 cursor-pointer"
    >
      Clear all
    </div>
    <!-- ----------------------------------------------------------- -->
    
    <!-- Price Range -->
    <div class="mb-4 mt-5">
      <div class="flex justify-content-between align-items-center mb-2">
        <h3 class="font-normal text-base">Price Range ($)</h3>
        <span class="text-primary cursor-pointer" @click="priceRange = [0, 3000]">Clear</span>
      </div> 
      <div class="flex justify-content-between align-items-center">
        <span>{{ this.priceRange[0] }}</span>
        <span>{{ this.priceRange[1] }}</span>
      </div>
      <Slider v-model="priceRange" range :max="3000" class="mt-2" />
      <p style="text-align: center; color: #7F7A88;margin-top:5px9"> 0- 3000+</p>

    </div>
    <!-- discount % -->
    <div class="mb-4 mt-5">
      <div class="flex justify-content-between align-items-center mb-2">
        <h3 class="font-normal text-base">discount (%)</h3>
        <span class="text-primary cursor-pointer" @click="discount = [0, 100]">Clear</span>
      </div>
      <div class="flex justify-content-between align-items-center">
        <span>{{ this.discount[0] }}</span>
        <span>{{ this.discount[1] }}</span>
      </div>
      <Slider v-model="discount" range :max="100" class="mt-2" />
    </div>
    <!-- Choose Country -->
    <div class="mb-4">
      <div class="flex justify-content-between align-items-center mb-2">
        <h3 class="font-normal text-base">Country</h3>
        <span
          class="text-primary cursor-pointer"
          @click="
            selectedCountry = null;
            selectedCity = null;
          "
          >Clear</span
        >
      </div>
      <Dropdown
        v-model="selectedCountry"
        :options="countries"
        optionLabel="name"
        placeholder="select country"
        class="w-full border-noround"
        @change="getCountryCities"
      />
    </div>
    <div>
      <input type="checkbox" id="Ksa" value="Ksa" v-model="selectedCountry">
      <label for="Ksa">  Kuwait </label>
     </div>
     <div>
      <input type="checkbox" id="Ksa" value="Ksa" v-model="selectedCountry">
      <label for="Ksa">   Bahrin  </label>
      </div>

    <!-- Choose City -->
    <div class="mb-4 mt-5">
      <div class="flex justify-content-between align-items-center mb-2">
        <h3 class="font-normal text-base">City</h3>
        <span class="text-primary cursor-pointer" @click="selectedCity = null">Clear</span>
      </div>
      <Dropdown
        v-model="selectedCity"
        editable
        :options="selectedCountry && cities"
        optionLabel="name"
        :emptyMessage="selectedCountry ? 'No Cities Available' : 'Select Country First'"
        placeholder="select city"
        class="w-full border-noround"
      />
    </div>

    <!-- Choose Level -->
    <div class="mb-4">
      <div class="flex justify-content-between align-items-center mb-2">
        <h3 class="font-normal text-base">Level</h3>
        <span class="text-primary cursor-pointer" @click="selectedLevel = null">Clear</span>
      </div>
      <Dropdown
        v-model="selectedLevel"
        editable
        :options="levels"
        optionLabel="name"
        placeholder="select level"
        class="w-full border-noround"
      />
    </div>
    <div>
      <input type="checkbox" id="Ksa" value="Ksa" v-model="selectedCountry">
      <label for="Ksa">   master  </label>
     </div>
     <div>
      <input type="checkbox" id="Ksa" value="Ksa" v-model="selectedCountry">
      <label for="Ksa">   bachelor's degree  </label>
     </div>
    <!-- Choose Degree Type -->
    <div class="mb-4 mt-5">
      <div class="flex justify-content-between align-items-center mb-2">
        <h3 class="font-normal text-base">Degree Type</h3>
        <span class="text-primary cursor-pointer" @click="selectedDegree = null">Clear</span>
      </div>
      <Dropdown
        v-model="selectedDegree"
        editable
        :options="degrees"
        optionLabel="name"
        placeholder="select type"
        class="w-full border-noround"
      />
    </div>

    <!-- Choose Subject -->
    <div class="mb-4">
      <div class="flex justify-content-between align-items-center mb-2">
        <h3 class="font-normal text-base">Subject</h3>
        <span class="text-primary cursor-pointer" @click="selectedSubject = null">Clear</span>
      </div>
      <Dropdown
        v-model="selectedSubject"
        editable
        :options="subjects"
        optionLabel="name"
        placeholder="select subject"
        class="w-full border-noround"
      />
    </div>

    <!-- Choose Start Date -->
    <div class="mb-5">
      <div class="flex justify-content-between align-items-center mb-2">
        <h3 class="font-normal text-base">Start date</h3>
        <span class="text-primary cursor-pointer" @click="selectedStartDate = null">Clear</span>
      </div>
      <div class="relative">
        <span class="set-position absolute top-50 z-1">
          <label for="dateFrom">
            <i class="pi pi-calendar text-xl text-color-secondary"></i>
          </label>
        </span>
        <Calendar
          v-model="selectedStartDate"
          dateFormat="dd/mm/yy"
          placeholder="DD / MM / YY"
          inputId="dateFrom"
          inputClass="border-noround"
          class="w-full border-noround"
        />
      </div>
    </div>

    <!-- <Button class="bg-primary border-noround border-none w-full py-2 px-6" @click="FilterByValues">
      <span class="p-button-label text-lg font-normal">Filter</span>
    </Button> -->
  </section>
</template>

<script>
import Dropdown from "primevue/dropdown";
import Slider from "primevue/slider";
import Button from "primevue/button";
import Calendar from "primevue/calendar";
import { mapActions, mapGetters } from "vuex";
import moment from "moment";

export default {
  name: "Filter",

  components: {
    Dropdown,
    Slider,
    Button,
    Calendar
  },

  data() {
    return {
      priceRange: [0, 3000],
      discount:[0,100],
      // moment: moment,

      selectedCountry: null,
      selectedCity: null,
      selectedLevel: null,
      selectedDegree: null,
      selectedSubject: null,
      selectedStartDate: null,

      sortBy: [
        { id: 1, name: "High Price" },
        { id: 2, name: "Low Price" }
      ]
    };
  },

  created() {
    this.dropdownsOptions("universityCourses");
  },

  computed: {
    ...mapGetters({
      countries: "filters/getDropdownsCountriesOptions",
      cities: "filters/getDropdownsCitiesOptions",
      levels: "filters/getDropdownsLevelsOptions",
      degrees: "filters/getDropdownsDegreesOptions",
      subjects: "filters/getDropdownsSubjectsOptions"
    })
  },

  methods: {
    ...mapActions({
      dropdownsOptions: "filters/dropdownsOptions",
      dropdownCitiesOptions: "filters/dropdownCitiesOptions",
      loadingDataWaiting: "universityCoursesStore/loadingDataWaiting",
      filterValues: "universityCoursesStore/filterValues",
      universityCourses: "universityCoursesStore/universityCourses"
    }),

    getCountryCities() {
      this.dropdownCitiesOptions(this.selectedCountry.id);
      this.selectedCity = null;
    },

    FilterByValues() {
      this.loadingDataWaiting(true);
      this.filterValues({
        priceRange: { min_price: this.priceRange[0], max_price: this.priceRange[1] } || {
          min_price: null,
          max_price: null
        },
        country: this.selectedCountry?.id || null,
        city: this.selectedCity?.id || null,
        level: this.selectedLevel?.id || null,
        degree: this.selectedDegree?.id || null,
        subject: this.selectedSubject?.id || null,
        startDate: this.selectedStartDate
          ? moment(this.selectedStartDate).format("YYYY-MM-DD")
          : null
      });
      this.universityCourses();
    },

    clearAll() {
      this.priceRange = [0, 3000];
      this.selectedCountry = null;
      this.selectedCity = null;
      this.selectedLevel = null;
      this.selectedDegree = null;
      this.selectedSubject = null;
      this.selectedStartDate = null;
      this.filterValues({
        country: null,
        city: null,
        level: null,
        degree: null,
        subject: null,
        startDate: null
      });
      this.universityCourses();
    }
  }
};
</script>

<style lang="scss" scoped>
.set-position {
  transform: translateY(-50%);
  right: 1rem;
}
</style>
