<template>
  <main class="archive-courses bg-blue-50">
    <section class="breadcrumb bg-white p-2">
      <div class="container">
        <Breadcrumb class="border-none" :home="home" :model="items" />
      </div>
    </section>

    <Search />
    <div class="container px-2 pb-5 grid">
      <div class="col-12 md:col-4 lg:col-3">
        <div
          class="flex justify-content-between align-items-center shadow-1 bg-white py-2 px-3 md:hidden"
        >
          <h2 class="text-xl font-normal">Filters</h2>
          <Button
            icon="pi pi-filter"
            class="bg-primary border-none"
            rounded
            @click="visible = true"
          />
          <Sidebar v-model:visible="visible">
            <Filter />
          </Sidebar>
        </div>
        <Filter class="hidden md:block" />
      </div>
      <div class="col-12 md:col-8 lg:col-9">
        <div class="grid">
          <CustomSkeleton v-if="loading" />
          <Cards v-else v-if="getUniversityCourses?.data" :dataCards="getUniversityCourses?.data" />
          <InlineMessage
            severity="error"
            class="my-5 mx-auto"
            v-if="getUniversityCourses?.meta.total == 0"
            >Not Found. That is why if some of your keywords are missing search</InlineMessage
          >
        </div>
      </div>
      <div class="col-12">
        <Paginator
          :template="{
            '640px': 'PrevPageLink CurrentPageReport NextPageLink',
            '960px': 'FirstPageLink PrevPageLink CurrentPageReport NextPageLink LastPageLink',
            '1300px': 'FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink',
            default: 'FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink'
          }"
          class="bg-transparent"
          :rows="getUniversityCourses && getUniversityCourses?.meta?.per_page"
          :totalRecords="getUniversityCourses && getUniversityCourses?.meta?.total"
          v-if="getUniversityCourses?.meta?.total > getUniversityCourses?.meta?.per_page"
          @page="PageState"
        ></Paginator>
      </div>
    </div>
  </main>
</template>

<script>
import Search from "./../components/Search.vue";
import Filter from "./components/Filter.vue";
import Cards from "./components/Cards.vue";
import CustomSkeleton from "../components/CustomSkeleton.vue";

import Paginator from "primevue/paginator";
import Sidebar from "primevue/sidebar";
import Button from "primevue/button";
import Breadcrumb from "primevue/breadcrumb";
import InlineMessage from "primevue/inlinemessage";

import { mapActions, mapGetters } from "vuex";

export default {
  name: "UniversityCourses",

  components: {
    Search,
    Filter,
    Cards,
    Paginator,
    Sidebar,
    Button,
    Breadcrumb,
    CustomSkeleton,
    InlineMessage
  },

  data() {
    return {
      visible: false,
      home: { to: "/", label: "Home" },
      items: [{ label: "University Courses" }]
    };
  },

  created() {
    // get section data
    this.loadingDataWaiting(true);
    this.universityCourses();
  },

  computed: {
    ...mapGetters({
      getUniversityCourses: "universityCoursesStore/getUniversityCourses",
      loading: "universityCoursesStore/getLoadingDataWaiting"
    })
  },

  methods: {
    ...mapActions({
      universityCourses: "universityCoursesStore/universityCourses",
      loadingDataWaiting: "universityCoursesStore/loadingDataWaiting"
    }),
    PageState(e) {
      this.universityCourses(e.page + 1);
    }
  }
};
</script>
<style lang="scss">
nav.bg-transparent {
  .p-paginator {
    background: transparent;
  }
}
</style>
