<template>
  <main class="post-question bg-blue-50">
    <div class="head-title py-4">
      <div class="container flex">
        <h1 class="text-white text-3xl font-semibold">Post Question Ad</h1>
      </div>
    </div>
    <section class="py-5 px-3">
      <div
        class="bg-white shadow-1 p-4 mx-auto flex flex-column align-items-end"
        style="max-width: 872px"
      >
        <h2 class="text-2xl font-semibold align-self-start mb-5">write your question here</h2>
        <span class="text-xs font-normal">
          {{ postQuestion.maxLength + "/" + userLength }}
        </span>
        <Textarea
          v-model="postQuestion.value"
          autoResize
          rows="1"
          placeholder="Type here"
          class="w-full border-round-xs mb-5"
          style="max-width: 621px"
          :maxlength="postQuestion.maxLength"
        />
        <Button class="border-round-xs border-none py-3 px-8 bg-primary max-w-full">
          <span class="p-button-label text-base">Post</span>
        </Button>
      </div>
    </section>
  </main>
</template>

<script>
import Textarea from "primevue/textarea";
import Button from "primevue/button";

export default {
  name: "PostQuestion",
  components: {
    Textarea,
    Button
  },

  data() {
    return {
      postQuestion: {
        value: "",
        maxLength: 100
      }
    };
  },
  computed: {
    userLength: function () {
      return this.postQuestion.value?.length;
    }
  }
};
</script>

<style lang="scss" scoped>
.head-title {
  background-color: #1e293b;
}
</style>
