<template>
  <main class="questions-answers">
    <section class="breadcrumb bg-white">
      <div class="container">
        <Breadcrumb class="border-none px-0" :home="home" :model="items" />
      </div>
    </section>
    <Search />
    <section class="bg-blue-50 py-4 px-3">
      <div style="max-width: 872px" class="mx-auto">
        <div class="p-4 mb-5 bg-white border-round-xs shadow-1 flex flex-column align-items-start">
          <h2 class="text-2xl font-semibold mb-5">Ask Question</h2>
          <form  class="w-full" ref="form" @submit.prevent="QuestionAdd()">
            <Textarea
              v-model="askQuestion.question"
              autoResize
              rows="3"
              placeholder="Write your Question"
              class="w-full border-round-xs mb-3"
            />
            <Button 

              type="submit" 
              class="border-round-xs border-none py-2 px-6 bg-primary"
            >
              <span class="p-button-label text-lg font-normal">Post Question</span>
            </Button>
          </form>
        </div>

        <div 
          class="p-4 bg-white border-round-xs shadow-1 mb-5" 
          v-for="question in getQuestions?.data" 
          :key="question.id"
          >
          <div class="question border-bottom-2 border-200 pb-3 mb-3 flex gap-3 sm:gap-5">
            <div class="votes flex flex-column align-items-center mt-1">
              <i
                class="pi pi-caret-up text-2xl"
                :class="questionActionStatus === 'increased' ? 'text-primary' : 'text-300'"
                @click="
                  questionActionStatus === 'increased'
                    ? (questionVotes--, (questionActionStatus = ''))
                    : questionActionStatus === 'decreased'
                    ? ((questionVotes += 2), (questionActionStatus = 'increased'))
                    : (questionVotes++, (questionActionStatus = 'increased')),
                    upVote(question.id)
                "
              ></i>
              <span class="text-xl gray-color">{{ questionVotes }}</span>
              <i
                class="pi pi-caret-down text-2xl"
                :class="questionActionStatus === 'decreased' ? 'text-primary' : 'text-300'"
                @click="
                  questionActionStatus === 'increased'
                    ? ((questionVotes -= 2), (questionActionStatus = 'decreased'))
                    : questionActionStatus === 'decreased'
                    ? (questionVotes++, (questionActionStatus = ''))
                    : (questionVotes--, (questionActionStatus = 'decreased')),
                    downVote(question.id)
                "
              ></i>
            </div>
            <div class="the-question flex-grow-1 flex flex-column">
              <h3 class="border-bottom-2 border-200 pb-3 mb-3 text-color align-start">
                {{ question.question }}
              </h3>
              <div class="flex justify-content-between flex-wrap row-gap-2 mb-5">
                <div class="flex align-items-center gap-2">
                  <i class="pi pi-file-edit text-primary"></i>
                  <span class="text-sm text-color cursor-pointer" @click="editbindQ(question)">Edit</span>

                  <Dialog v-model:visible="editquestion" modal :header="question.question" :style="{ width: '50vw' }">
                    <form ref="form" @submit.prevent="QuestionEdit()">
                      <Textarea
                        v-model="editDataQuestion.question"
                        autoResize
                        rows="3"
                        placeholder="Write your Question"
                        class="w-full border-round-xs mb-3"
                      />
                      <Button 

                        type="submit" 
                        class="border-round-xs border-none py-2 px-6 bg-primary"
                      >
                        <span class="p-button-label text-lg font-normal">Edit Question</span>
                      </Button>
                    </form>
                  </Dialog>

                  <span class="mx-2 gray-color">|</span>
                  <i class="pi pi-trash text-primary"></i>
                  <span class="text-sm text-color cursor-pointer" @click="QuestionDelete(question.id)">Delete</span>
                </div>
                <div class="flex flex-wrap gap-2">
                  <div class="flex align-items-center gap-2">
                    <i class="pi pi-comments gray-color"></i>
                    <span class="text-sm gray-color">{{ question.answers?.length }} Answers</span>
                  </div>
                  <div class="flex align-items-center flex-wrap gap-2">
                    <div class="flex justify-content-center align-items-center gap-2">
                      <Avatar
                        :image="question.user?.image"
                        shape="circle"
                        style="max-width: 24px; max-height: 24px"
                      />
                      <span class="text-sm text-primary">{{ question.user?.name }}</span>
                    </div>
                    <span class="text-sm gray-color">Asked {{ moment(question.created_at).format("LL")  }}</span>
                  </div>
                </div>
              </div>
              <div class="flex flex-column align-items-start">
                <form  class="w-full" ref="form" @submit.prevent="AnswerAdd(question)">
                  <Textarea
                    v-model="writeAnswer.question"
                    autoResize
                    rows="3"
                    placeholder="Write an Answer..."
                    class="w-full border-round-xs mb-3"
                  />
                  <Button 
                    type="submit" 
                    class="border-round-xs border-none py-2 px-6 bg-primary"
                  >
                    <span class="p-button-label text-lg font-normal">Add Answer</span>
                  </Button>
                </form>

              </div>
            </div>
          </div>
          <div
            class="answers flex gap-3 sm:gap-5 border-bottom-2 border-200 pb-3 mb-3"
            v-for="answer in question.answers" :key="answer.id"
          >
            <div class="votes flex flex-column align-items-center">
              <i
                class="pi pi-caret-up text-2xl text-primary"
                @click="voteAction(answer.id, 'increment')"
              ></i>
              <span class="text-xl gray-color">{{ answer.votes }}</span>
              <i
                class="pi pi-caret-down text-2xl text-300"
                @click="voteAction(answer.id, 'decrement')"
              ></i>
            </div>
            <div class="the-answer">
              <mark
                class="text-primary bg-light py-1 px-2 border-round-3xl block w-fit mb-3"
                v-if="answer.votes === mostVotes"
                >Most Vote</mark
              >
              <h3 class="mb-2 text-xl font-normal more-gray-color align-start">
                {{ answer.answer }}
              </h3>
              <div class="flex align-items-center flex-wrap gap-2">
                <div class="flex justify-content-center align-items-center gap-2">
                  <Avatar
                    :image="answer.user?.image"
                    shape="circle"
                    style="max-width: 24px; max-height: 24px"
                  />
                  <span class="text-sm text-primary">{{ answer.user?.name }}</span>
                </div>
                <span class="text-sm gray-color">Answered</span>
              </div>
            </div>
          </div>
          <span
            class="text-sm font-normal text-primary underline px-0 flex w-fit cursor-pointer"
            link
            @click="showAnswers = !showAnswers"
          >
            {{ showAnswers ? "Show Less" : "Show Answers" }}
          </span>
        </div>
      </div>


      <div class="col-12">
        <Paginator
          :template="{
            '640px': 'PrevPageLink CurrentPageReport NextPageLink',
            '960px': 'FirstPageLink PrevPageLink CurrentPageReport NextPageLink LastPageLink',
            '1300px': 'FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink',
            default: 'FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink'
          }"
          class="bg-transparent"
          :rows="getQuestions && getQuestions?.meta?.per_page"
          :totalRecords="getQuestions && getQuestions?.meta?.total"
          v-if="getQuestions?.meta?.total > getQuestions?.meta?.per_page"
          @page="PageState"
        ></Paginator>
      </div>

    </section>
  </main>
</template>

<script>
import Search from "./components/Search.vue";
import Breadcrumb from "primevue/breadcrumb";
import Textarea from "primevue/textarea";
import Button from "primevue/button";
import Avatar from "primevue/avatar";
import Paginator from "primevue/paginator";
import Dialog from 'primevue/dialog';

import moment from 'moment';
import { useToast } from "vue-toastification";

import { mapActions, mapGetters } from "vuex";

export default {
  name: "QuestionsAnswers",
  components: {
    Search,
    Breadcrumb,
    Textarea,
    Button,
    Avatar,
    Paginator,
    Dialog
  },

  setup: () => ({ 
    toast: useToast(),
  }),

  data() {
    return {
      moment: moment,
      home: { to: "/", label: "Home" },
      items: [{ label: "Get Settled" }, { label: "Q & A" }],
      askQuestion: {
        question: "",
      },
      questionVotes: 0,
      questionActionStatus: "",
      writeAnswer: {
        question: "",
        q_id: null
      },
      showAnswers: false,
      arrangeAnswers: [],
      mostVoteAnswer: {},
      mostVotes: 0,
      editquestion: false,
      editDataQuestion: {
        question: "",
        post_id: ""
      }
    };
  },

  watch:{
    loadingqa() {
      this.toast.success(this.loadingqa);
      this.questions();
    }
  },

  created() {
    this.mostVoteAnswer = this.arrangeAnswers.slice(0, 1);
    this.loadingDataWaiting(true);
    this.questions();
  },

  computed: {
    ...mapGetters({
      getQuestions: "QuestionsAnswersStore/getQuestions",
      loading: "QuestionsAnswersStore/getLoadingDataWaiting",
      loadingqa: "QuestionsAnswersStore/loadingQA",
    }),
  },

  methods: {
    ...mapActions({
      questions: "QuestionsAnswersStore/questions",
      upvote: "QuestionsAnswersStore/upvote",
      downvote: "QuestionsAnswersStore/downvote",

      delete_questions: "QuestionsAnswersStore/delete_questions",
      edit_questions: "QuestionsAnswersStore/edit_questions",
      add_questions: "QuestionsAnswersStore/add_questions",

      add_answer: "QuestionsAnswersStore/add_answer",

      loadingDataWaiting: "QuestionsAnswersStore/loadingDataWaiting"
    }),

    PageState(e){
      this.questions(e.page + 1)
    },

    editbindQ(item) {
      this.editDataQuestion.post_id = item.id;
      this.editquestion = true
    },

    upVote(post_id){
      this.upvote(post_id)
    },

    downVote(post_id){
      this.downvote(post_id)
    },

    QuestionEdit(){
      this.edit_questions(this.editDataQuestion)
    },

    QuestionAdd() {
      this.add_questions(this.askQuestion)
    },

    QuestionDelete(post_id){
      this.delete_questions(post_id)
    },

    AnswerAdd(item) {
      this.writeAnswer.q_id = item.id
      this.add_answer(this.writeAnswer);
    },

    voteAction(id, type) {
      this.getQuestions.map((e) => {
        e.id === id && (type === "increment" ? e.votes++ : e.votes--);
      });
    },
  }
};
</script>

<style lang="scss" scoped>
.questions-answers {
  .gray-color {
    color: #94a3b8;
  }
  .more-gray-color {
    color: #828282;
  }
  .align-start {
    text-align: start;
  }
}
</style>
