<template>
  <main class="bg-blue-50 pb-6">
    <name :data="getSingle?.data.title" />

    <div class="container grid">
      <div class="col-12 md:col-8">
        <location v-if="getSingle?.data.location" :data="getSingle.data.location" :lat="getSingle.data.lat" :lng="getSingle.data.lng" />
        <about v-if="getSingle?.data.description" :data="getSingle.data.description"/>
        <images v-if="getSingle?.data.images" :data="getSingle.data.images"/>
        <recommended v-if="getSingle?.data.recommended" :data="getSingle.data.recommended"/>
      </div>

      <div class="col-12 md:col-4">
        <average-price 
          v-if="getSingle?.data.user" 
          :data="getSingle.data.user"
          :price="getSingle.data.price"
          :currency="getSingle.data.currency"
          :location="getSingle.data.location"
          />
      </div>
    </div>
  </main>
</template>

<script>
import Name from "./components/Name.vue";
import Location from "./components/Location.vue";
import About from "./components/About.vue";
import Images from "./components/Images.vue";
import Recommended from "./components/Recommended.vue";
import AveragePrice from "./components/AveragePrice.vue";
import { mapActions, mapGetters } from "vuex";

export default {
  name: "SellBuyProfile",

  components: {
    Name,
    Location,
    About,
    Images,
    Recommended,
    AveragePrice
  },


  created() {
    // get section data
    this.loadingDataWaiting(true);
    this.SellBuyProfile(this.$route.params.id);
  },

  computed: {
    ...mapGetters({
      getSingle: "SingleSellBuyStore/getSellBuy",
      loading: "SingleSellBuyStore/getLoadingDataWaiting"
    }),
  },

  methods: {
    ...mapActions({
      SellBuyProfile: "SingleSellBuyStore/SellBuyProfile",
      loadingDataWaiting: "SingleSellBuyStore/loadingDataWaiting"
    }),
  }
};
</script>

<style lang="scss" scoped></style>
