<template>
    <div class="card mt-5 mb-5">
      <h3> {{ tittle}}</h3>
      <div class="col mt-3">
       <li>after that course you will capable of 1213</li>
       <li>after that course you will capable of 1213</li>
       <li>after that course you will capable of 1213</li>
       <li>after that course you will capable of 1213</li>
       <li>after that course you will capable of 1213</li>
    </div>
    </div>
</template>

<script>

export default {
props:{
  tittle: String,
  description: String
}
};
</script>

<style lang="scss" scoped>
h3{
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins;
  font-style: normal;
  line-height: normal;
}
li{
     margin:12px ;
}
</style>
