<!-- <template>
  <section class="average-price  col-4 p-4 mb-5 border-round-xs bg-white shadow-1">
    <h2 class="mb-3 text-color text-2xl font-semibold">Average Price</h2>

    <div class="flex justify-content-between align-items-center gap-3">
      <span class="text-2xl font-semibold text-red-700">{{ hasSale ? salePrice : price }} USD</span>
      <span class="text-xl text-color">Per {{ price_per }}</span>
    </div>

    <Divider />

    <Button
      label="Apply"
      class="block mb-3 w-full border-round-xs bg-primary border-primary"
      @click="visible.courseApply = true"
      @closePopup="visible.courseApply = false"
    />
    <CourseApply
      :visible="visible.courseApply"
      :courseData="courseData"
      @closePopup="visible.courseApply = false"
    />
    <SuccessMessage :visible="getUniSuccessMsg" @togglePopup="uniSuccessMessage" />

    <h2 class="text-color text-2xl font-semibold" v-if="$route.name === 'UniversityCourseProfile'">
      Start Dates
    </h2>

    <div class="date py-3" v-for="(date, i) in dates" :key="i">
      <p class="mb-2 text-color flex align-items-center gap-2">
        <i class="pi pi-calendar text-color-secondary"></i>
        <span>{{ moment(date.start_date).format("MMMM YYYY - DD/MM/YYYY") }}</span>
      </p>
    </div>
  </section>
</template>

<script>
import Divider from "primevue/divider";
import Button from "primevue/button";
import moment from "moment";
import { mapActions, mapGetters } from "vuex";
import CourseApply from "../CourseApply.vue";
import SuccessMessage from "../university/components/SuccessMessage.vue";

export default {
  name: "AveragePrice",

  components: {
    Divider,
    Button,
    CourseApply,
    SuccessMessage
  },

  data() {
    return {
      moment: moment,
      visible: { courseApply: false }
    };
  },

  computed: {
    ...mapGetters({
      courseData: "courseProfileStore/getCourseData",
      hasSale: "courseProfileStore/getCourseHasSale",
      salePrice: "courseProfileStore/getCourseSelfSalePrice",
      price: "courseProfileStore/getCourseSelfPrice",
      price_per: "courseProfileStore/getCoursePricePer",
      dates: "courseProfileStore/getCourseDates",
      getUniSuccessMsg: "courseProfileStore/getUniversitySuccessMsg"
    })
  },

  methods: {
    ...mapActions({
      uniSuccessMessage: "courseProfileStore/uniSuccessMessage"
    })
  }
};
</script>

<style lang="scss" scoped>
.date:not(:last-child) {
  border-bottom: 1px solid #eeeeee;
}
</style> -->
<template>
  <section class="average-price  col-4 p-4 mb-5 border-round-xs bg-white shadow-1">
    <h2 class="mb-3 text-color text-2xl font-semibold">Average Price</h2>


    <div class="flex justify-content-between align-items-center gap-3">
      <span class="text-2xl font-semibold text-red-700"> 7.89USD</span>
      <span class="text-xl text-color">Per month</span>
    </div>
    <Divider />


    <Button
    label="Apply"
    class="block mb-3 w-full border-round-xs bg-primary border-primary"
    @click="visible.courseApply = true"
    @closePopup="visible.courseApply = false"
  />


    <h2 class=""> Start Dates</h2>

 <CourseDate
 tittle="Full time"/>
 <CourseDate
 tittle=" Part time">
</CourseDate>


</section>

</template>
<script>
import Divider from "primevue/divider";
import Button from "primevue/button";
import CourseDate from "../components/CourseDate.vue"


  export default {

    components:{
      Divider,
      Button,
      CourseDate,
    }

  }
</script>