<template>
 <div class="card mt-5 mb-5 ">
     <div class="grid mt-5 mb-5">
    <div class="col-6">
      <h4>{{title}}</h4>
     </div>
          <div class="col-3">
     <span style="color: red;font-size:x-large">{{ price }} USD </span> <span style="font-size:x-small;">per month</span>
          </div>
          <div class="col-2">
     <button>Apply</button>
          </div>
          </div>
          <div class="h-line" style="width: 90%;height:3px; background: #E6E9EB;margin:auto;"></div>

    <div class="grid mt-5 mb-5 "  >     <!-- v-for="n in 3" :key="n"-->   
       <div class="col-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" >
              <path d="M21.4286 2.57143H18.8571V0.857159C18.8571 0.383755 18.4734 0 18 0C17.5266 0 17.1428 0.383755 17.1428 0.857159V2.57143H6.85712V0.857159C6.85712 0.383755 6.47337 0 6.00001 0C5.52666 0 5.14285 0.383755 5.14285 0.857159V2.57143H2.57143C1.15127 2.57143 0 3.72269 0 5.14285V21.4286C0 22.8487 1.15127 24 2.57143 24H21.4286C22.8487 24 24 22.8487 24 21.4286V5.14285C24 3.72269 22.8487 2.57143 21.4286 2.57143ZM22.2857 21.4286C22.2857 21.902 21.9019 22.2857 21.4285 22.2857H2.57143C2.09802 22.2857 1.71427 21.902 1.71427 21.4286V10.2857H22.2857V21.4286ZM22.2857 8.57144H1.71427V5.14285C1.71427 4.66945 2.09802 4.28569 2.57143 4.28569H5.14285V5.99996C5.14285 6.47337 5.52661 6.85712 6.00001 6.85712C6.47342 6.85712 6.85717 6.47337 6.85717 5.99996V4.28569H17.1429V5.99996C17.1429 6.47337 17.5266 6.85712 18 6.85712C18.4734 6.85712 18.8572 6.47337 18.8572 5.99996V4.28569H21.4286C21.902 4.28569 22.2858 4.66945 22.2858 5.14285V8.57144H22.2857Z" fill="#0369A1"/>
              <path d="M17.728 12.2514C17.3958 11.9305 16.8692 11.9305 16.5371 12.2514L10.2859 18.5025L7.46335 15.6799C7.12283 15.351 6.58022 15.3605 6.25136 15.7009C5.93054 16.0331 5.93054 16.5597 6.25136 16.8919L9.67995 20.3205C10.0147 20.6551 10.5572 20.6551 10.8919 20.3205L17.7491 13.4633C18.0779 13.1228 18.0685 12.5802 17.728 12.2514Z" fill="#0369A1"/>
            </svg>
            </div>
            <div class="col-3">
            <p> the course start every </p>
              <pre> <span>2022-02-21</span></pre>
           </div>
           <!-- --------- -->
           <div class="col-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <mask id="mask0_1395_2730" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="24">
                  <path d="M24.3669 23.7V0.300072H0.966992V23.7H24.3669Z" fill="white" stroke="white" stroke-width="0.6"/>
                </mask>
                <g mask="url(#mask0_1395_2730)">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5839 22.4545C17.6482 23.2271 18.2335 23.9316 19.0928 23.9316H20.2032C21.0626 23.9316 21.6479 23.2271 21.7122 22.4545L21.7128 22.4468L22.2471 14.0612C22.8967 13.8924 23.3791 13.3 23.3791 12.599V8.15762C23.3791 6.53509 22.3314 5.14933 20.8824 4.63776C20.6741 4.56422 20.4456 4.67347 20.3721 4.88178C20.2985 5.09009 20.4078 5.31858 20.6161 5.39213C21.7574 5.79508 22.5791 6.88695 22.5791 8.15762V12.599C22.5791 12.9887 22.2585 13.3093 21.8688 13.3093C21.6577 13.3093 21.483 13.4733 21.4696 13.6839L20.9146 22.3917C20.8763 22.8342 20.564 23.1316 20.2032 23.1316H19.0928C18.7311 23.1316 18.4181 22.8327 18.3811 22.3881C18.2892 21.2843 18.1969 19.6677 18.1043 18.0426L18.104 18.038C18.0117 16.419 17.9189 14.7919 17.8259 13.6761C17.8087 13.4688 17.6354 13.3093 17.4273 13.3093C17.0376 13.3093 16.717 12.9888 16.717 12.599V12.4877C16.717 12.2668 16.5379 12.0877 16.317 12.0877C16.0961 12.0877 15.917 12.2668 15.917 12.4877V12.599C15.917 13.302 16.402 13.8957 17.0543 14.0626C17.1378 15.1464 17.2215 16.6138 17.3056 18.0881L17.3059 18.0945C17.3982 19.7129 17.491 21.3392 17.5839 22.4545ZM16.317 8.66895C16.5379 8.66895 16.717 8.48986 16.717 8.26895V8.15762C16.717 6.88443 17.5419 5.79078 18.6867 5.38973C18.8952 5.31669 19.005 5.08847 18.932 4.87998C18.8589 4.67149 18.6307 4.56168 18.4222 4.63472C16.9688 5.14389 15.917 6.53188 15.917 8.15762V8.26895C15.917 8.48986 16.0961 8.66895 16.317 8.66895Z" fill="#0369A1"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M17.2998 3.39133C17.2998 4.68356 18.3554 5.73926 19.6477 5.73926C20.94 5.73926 21.9957 4.68356 21.9957 3.39133V2.41736C21.9957 1.12507 20.94 0.0694284 19.6477 0.0694284C18.3555 0.0694284 17.2998 1.12507 17.2998 2.41736V3.39133ZM19.6477 4.93926C18.7973 4.93926 18.0998 4.24174 18.0998 3.39133V2.41736C18.0998 1.5669 18.7973 0.869429 19.6477 0.869429C20.4982 0.869429 21.1957 1.5669 21.1957 2.41736V3.39133C21.1957 4.24174 20.4982 4.93926 19.6477 4.93926Z" fill="#0369A1"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0762 22.6035C10.1337 23.2943 10.6588 23.9316 11.4362 23.9316H12.3975C13.1749 23.9316 13.6999 23.2944 13.7575 22.6035L13.7579 22.5988L13.7578 22.5988L14.2158 16.1861C14.7835 16.0221 15.2009 15.497 15.2009 14.8778V11.4383C15.2009 10.0118 14.2811 8.79369 13.0085 8.34199C12.8003 8.2681 12.5717 8.37696 12.4978 8.58515C12.4239 8.79334 12.5327 9.02201 12.7409 9.09591C13.7065 9.43865 14.4009 10.3632 14.4009 11.4383V14.8778C14.4009 15.1856 14.1473 15.4391 13.8395 15.4391C13.6297 15.4391 13.4555 15.6013 13.4406 15.8107L12.96 22.5392C12.929 22.9008 12.6767 23.1316 12.3975 23.1316H11.4362C11.1564 23.1316 10.9037 22.8999 10.8734 22.5371C10.7938 21.5801 10.7139 20.3822 10.6337 19.1795L10.6336 19.1782C10.5536 17.9771 10.4732 16.7713 10.3927 15.8059C10.3755 15.5986 10.2022 15.4391 9.99412 15.4391C9.68633 15.4391 9.43281 15.1856 9.43281 14.8778V11.4383C9.43281 10.3625 10.128 9.43747 11.0945 9.09526C11.3028 9.02153 11.4118 8.79294 11.3381 8.58469C11.2643 8.37645 11.0357 8.2674 10.8275 8.34114C9.55374 8.79215 8.63281 10.0109 8.63281 11.4383V14.8778C8.63281 15.4982 9.05174 16.0241 9.62106 16.187C9.69235 17.0857 9.76377 18.1566 9.83541 19.2314L9.83584 19.2379C9.91577 20.4367 9.99598 21.6399 10.0762 22.6035L10.0762 22.6035Z" fill="#0369A1"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.83008 7.31188C9.83008 8.46039 10.7681 9.39844 11.9166 9.39844C13.0651 9.39844 14.0031 8.4604 14.0031 7.31188V6.4686C14.0031 5.32012 13.0651 4.38209 11.9166 4.38209C10.7681 4.38209 9.83008 5.32013 9.83008 6.4686V7.31188ZM11.9166 8.59844C11.21 8.59844 10.6301 8.01858 10.6301 7.31188V6.4686C10.6301 5.76196 11.2099 5.18209 11.9166 5.18209C12.6233 5.18209 13.2031 5.76196 13.2031 6.4686V7.31188C13.2031 8.01857 12.6233 8.59844 11.9166 8.59844Z" fill="#0369A1"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M3.24454 22.7055C3.29738 23.3404 3.7813 23.9316 4.50252 23.9316H5.36192C6.08143 23.9316 6.56478 23.3432 6.61953 22.7099L7.01728 18.8757C7.53319 18.7181 7.91034 18.237 7.91034 17.6708V15.0648C7.91034 13.7717 7.07703 12.6677 5.92411 12.2576C5.71597 12.1836 5.48723 12.2923 5.4132 12.5005C5.33918 12.7086 5.4479 12.9373 5.65604 13.0114C6.50224 13.3123 7.11034 14.1229 7.11034 15.0648V17.6708C7.11034 17.9225 6.90269 18.1301 6.65098 18.1301C6.44605 18.1301 6.27426 18.285 6.25312 18.4889L5.82258 22.6391C5.79701 22.946 5.58548 23.1316 5.36192 23.1316H4.50252C4.27893 23.1316 4.06732 22.9459 4.04178 22.6391C3.96964 21.7725 3.89732 21.1608 3.82559 20.5543C3.75404 19.9491 3.68306 19.3489 3.61208 18.4969C3.5948 18.2896 3.4215 18.1301 3.21346 18.1301C2.96173 18.1301 2.7541 17.9225 2.7541 17.6708V15.0648C2.7541 14.1224 3.3628 13.3115 4.20966 13.0109C4.41785 12.937 4.52672 12.7083 4.45282 12.5001C4.37892 12.292 4.15025 12.1831 3.94206 12.257C2.78821 12.6665 1.9541 13.771 1.9541 15.0648V17.6708C1.9541 18.235 2.32858 18.7147 2.84166 18.874C2.90488 19.5805 2.96814 20.1155 3.03091 20.6463L3.03113 20.6482C3.10269 21.2534 3.17362 21.8534 3.24454 22.7055Z" fill="#0369A1"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M3.02441 11.3756C3.02441 12.4257 3.88193 13.2832 4.93205 13.2832C5.98217 13.2832 6.83969 12.4257 6.83969 11.3756V10.6218C6.83969 9.57164 5.98218 8.71414 4.93205 8.71414C3.88192 8.71414 3.02441 9.57164 3.02441 10.6218V11.3756ZM4.93205 12.4832C4.32374 12.4832 3.82441 11.9839 3.82441 11.3756V10.6218C3.82441 10.0135 4.32375 9.51414 4.93205 9.51414C5.54035 9.51414 6.03969 10.0135 6.03969 10.6218V11.3756C6.03969 11.9839 5.54036 12.4832 4.93205 12.4832Z" fill="#0369A1"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M15.917 10.3783C15.917 10.5992 16.0961 10.7783 16.317 10.7783H16.3173C16.5382 10.7783 16.7173 10.5992 16.7173 10.3783C16.7173 10.1574 16.5382 9.97832 16.3173 9.97832H16.317C16.0961 9.97832 15.917 10.1574 15.917 10.3783Z" fill="#0369A1"/>
                </g>
              </svg>
            </div>
            <div class="col-3">
            <p> Minmum age </p>
               <pre><span>30</span></pre>
           </div>
           <!-- -------- -->
           <div class="col-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="22" viewBox="0 0 25 22" fill="none">
                <path d="M2.07923 16.0031H2.7941C3.25679 16.0023 3.70032 15.8182 4.0275 15.491C4.35467 15.1639 4.53881 14.7203 4.53955 14.2576V11.6833C4.53881 11.2206 4.35467 10.7771 4.0275 10.4499C3.70032 10.1228 3.25679 9.93863 2.7941 9.93788H2.07923C1.61654 9.93863 1.17301 10.1228 0.845834 10.4499C0.51866 10.7771 0.334525 11.2206 0.333778 11.6833V14.2558C0.334049 14.7188 0.517974 15.1628 0.8452 15.4904C1.17243 15.818 1.61623 16.0023 2.07923 16.0031ZM1.23217 11.6844C1.23258 11.4598 1.32195 11.2446 1.48072 11.0859C1.63949 10.9271 1.8547 10.8377 2.07923 10.8373H2.7941C3.01861 10.8378 3.23378 10.9272 3.39253 11.0859C3.55129 11.2447 3.64068 11.4599 3.64116 11.6844V14.2558C3.64075 14.4804 3.55138 14.6956 3.39261 14.8543C3.23384 15.0131 3.01863 15.1025 2.7941 15.1029H2.07923C1.8547 15.1025 1.63949 15.0131 1.48072 14.8543C1.32195 14.6956 1.23258 14.4804 1.23217 14.2558V11.6844ZM8.67679 16.0031H9.39166C9.85435 16.0023 10.2979 15.8182 10.6251 15.491C10.9522 15.1639 11.1364 14.7203 11.1371 14.2576V8.44629C11.1364 7.9836 10.9522 7.54007 10.6251 7.21289C10.2979 6.88572 9.85435 6.70158 9.39166 6.70084H8.67679C8.2141 6.70158 7.77057 6.88572 7.4434 7.21289C7.11622 7.54007 6.93209 7.9836 6.93134 8.44629V14.2558C6.93161 14.7188 7.11554 15.1628 7.44276 15.4904C7.76999 15.818 8.21379 16.0023 8.67679 16.0031ZM7.82974 8.44732C7.83014 8.22279 7.91952 8.00757 8.07828 7.84881C8.23705 7.69004 8.45226 7.60067 8.67679 7.60026H9.39166C9.61619 7.60067 9.8314 7.69004 9.99017 7.84881C10.1489 8.00757 10.2383 8.22279 10.2387 8.44732V14.2558C10.2383 14.4804 10.1489 14.6956 9.99017 14.8543C9.8314 15.0131 9.61619 15.1025 9.39166 15.1029H8.67679C8.45226 15.1025 8.23705 15.0131 8.07828 14.8543C7.91952 14.6956 7.83014 14.4804 7.82974 14.2558V8.44732ZM15.2744 16.0031H15.9892C16.4519 16.0023 16.8954 15.8182 17.2226 15.491C17.5498 15.1639 17.7339 14.7203 17.7347 14.2576V5.49185C17.7339 5.02916 17.5498 4.58563 17.2226 4.25846C16.8954 3.93128 16.4519 3.74714 15.9892 3.7464H15.2744C14.8117 3.74714 14.3681 3.93128 14.041 4.25846C13.7138 4.58563 13.5296 5.02916 13.5289 5.49185V14.2558C13.5292 14.7188 13.7131 15.1628 14.0403 15.4904C14.3675 15.818 14.8113 16.0023 15.2744 16.0031ZM14.4273 5.49288C14.4278 5.26837 14.5172 5.05319 14.6759 4.89444C14.8347 4.73569 15.0498 4.6463 15.2744 4.64582H15.9892C16.2137 4.6463 16.4289 4.73569 16.5877 4.89444C16.7464 5.05319 16.8358 5.26837 16.8363 5.49288V14.2558C16.8359 14.4804 16.7465 14.6956 16.5877 14.8543C16.429 15.0131 16.2138 15.1025 15.9892 15.1029H15.2744C15.0498 15.1025 14.8346 15.0131 14.6758 14.8543C14.5171 14.6956 14.4277 14.4804 14.4273 14.2558V5.49288ZM22.5868 0.333008H21.8719C21.4092 0.333754 20.9657 0.51789 20.6385 0.845064C20.3113 1.17224 20.1272 1.61577 20.1265 2.07846V14.2558C20.1272 14.7185 20.3113 15.1621 20.6385 15.4892C20.9657 15.8164 21.4092 16.0005 21.8719 16.0013H22.5868C23.0495 16.0005 23.493 15.8164 23.8202 15.4892C24.1474 15.1621 24.3315 14.7185 24.3322 14.2558V2.07923C24.3317 1.6164 24.1476 1.17268 23.8205 0.845337C23.4933 0.517996 23.0496 0.333755 22.5868 0.333008ZM23.4338 14.2558C23.4334 14.4804 23.3441 14.6956 23.1853 14.8543C23.0265 15.0131 22.8113 15.1025 22.5868 15.1029H21.8719C21.6474 15.1025 21.4322 15.0131 21.2734 14.8543C21.1146 14.6956 21.0253 14.4804 21.0249 14.2558V2.07923C21.0253 1.85472 21.1147 1.63955 21.2735 1.4808C21.4322 1.32204 21.6474 1.23265 21.8719 1.23217H22.5868C22.8113 1.23258 23.0265 1.32195 23.1853 1.48072C23.3441 1.63949 23.4334 1.8547 23.4338 2.07923V14.2558ZM23.8838 19.4042H11.0883C10.986 18.9355 10.7265 18.5159 10.3529 18.215C9.97923 17.9142 9.51394 17.7501 9.03423 17.7501C8.55451 17.7501 8.08922 17.9142 7.71559 18.215C7.34195 18.5159 7.08243 18.9355 6.98011 19.4042H0.782206C0.663071 19.4042 0.548816 19.4515 0.464575 19.5357C0.380334 19.62 0.333008 19.7342 0.333008 19.8533C0.333008 19.9725 0.380334 20.0867 0.464575 20.171C0.548816 20.2552 0.663071 20.3025 0.782206 20.3025H6.98011C7.08243 20.7712 7.34195 21.1908 7.71559 21.4917C8.08922 21.7925 8.55451 21.9566 9.03423 21.9566C9.51394 21.9566 9.97923 21.7925 10.3529 21.4917C10.7265 21.1908 10.986 20.7712 11.0883 20.3025H23.8838C24.0029 20.3025 24.1172 20.2552 24.2014 20.171C24.2857 20.0867 24.333 19.9725 24.333 19.8533C24.333 19.7342 24.2857 19.62 24.2014 19.5357C24.1172 19.4515 24.0029 19.4042 23.8838 19.4042ZM9.0341 21.0598C8.79545 21.06 8.5621 20.9894 8.36357 20.8569C8.16504 20.7245 8.01025 20.5362 7.91878 20.3157C7.82731 20.0953 7.80328 19.8527 7.84971 19.6186C7.89614 19.3845 8.01096 19.1695 8.17964 19.0006C8.34832 18.8318 8.56328 18.7168 8.79733 18.6702C9.03138 18.6236 9.27401 18.6474 9.49451 18.7387C9.71501 18.8299 9.90349 18.9846 10.0361 19.183C10.1687 19.3814 10.2395 19.6147 10.2395 19.8533C10.2395 20.1731 10.1125 20.4798 9.8865 20.7061C9.66047 20.9323 9.35388 21.0595 9.0341 21.0598Z" fill="#0369A1"/>
              </svg>
            </div>
            <div class="col-3">
            <p>Required level </p>
              <pre><span>collage student</span> </pre> 
           </div>
           <!-- -------------------------------- -->
           <div class="col-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                <path d="M19.6926 3.25251C19.2951 3.17001 18.8976 3.11751 18.5001 3.05001V2.64501C18.4999 2.35277 18.4376 2.0639 18.3174 1.79754C18.1971 1.53119 18.0217 1.29343 17.8026 1.10001C17.5791 0.903804 17.3163 0.757497 17.0318 0.670848C16.7472 0.584199 16.4475 0.559199 16.1526 0.597514C14.1899 0.830152 12.3688 1.73673 11.0001 3.16251C9.63136 1.73673 7.81025 0.830152 5.84757 0.597514C5.55263 0.559199 5.25291 0.584199 4.96839 0.670848C4.68387 0.757497 4.42109 0.903804 4.19757 1.10001C3.97849 1.29343 3.80301 1.53119 3.68276 1.79754C3.56251 2.0639 3.50024 2.35277 3.50007 2.64501V3.05001C3.10257 3.11751 2.70507 3.17001 2.30757 3.25251C1.79797 3.35473 1.33948 3.63022 1.00999 4.03218C0.680491 4.43413 0.500316 4.93777 0.500071 5.45751V18.1625C0.497531 18.4821 0.563104 18.7986 0.692425 19.0908C0.821746 19.3831 1.01185 19.6445 1.25007 19.8575C1.49145 20.0676 1.77486 20.2237 2.08137 20.3155C2.38789 20.4074 2.71046 20.4327 3.02757 20.39C5.62806 20.0395 8.27492 20.4024 10.6851 21.44C10.7776 21.4792 10.8771 21.4994 10.9776 21.4994C11.0781 21.4994 11.1775 21.4792 11.2701 21.44C13.6802 20.4024 16.3271 20.0395 18.9276 20.39C19.2472 20.433 19.5724 20.4068 19.881 20.3132C20.1896 20.2195 20.4745 20.0606 20.7163 19.8472C20.9581 19.6339 21.1513 19.371 21.2826 19.0764C21.414 18.7819 21.4805 18.4625 21.4776 18.14V5.45751C21.4784 4.94091 21.3014 4.43977 20.9764 4.03824C20.6513 3.63672 20.198 3.35928 19.6926 3.25251ZM16.3476 2.08251C16.4308 2.07153 16.5153 2.07856 16.5956 2.10315C16.6758 2.12774 16.7498 2.1693 16.8126 2.22501C16.8717 2.27786 16.9189 2.34259 16.9512 2.41497C16.9835 2.48735 17.0002 2.56575 17.0001 2.64501V15.6275C17.0043 15.8009 16.9483 15.9704 16.8417 16.1071C16.735 16.2439 16.5843 16.3394 16.4151 16.3775C14.6621 16.6766 13.038 17.4913 11.7501 18.7175V4.55001C12.9206 3.18219 14.5607 2.30196 16.3476 2.08251ZM5.00007 2.64501C5.00201 2.49444 5.06269 2.35059 5.16917 2.24411C5.27565 2.13763 5.4195 2.07696 5.57007 2.07501H5.65257C7.44054 2.29641 9.08076 3.1794 10.2501 4.55001V18.7175C8.96406 17.4858 7.33977 16.6658 5.58507 16.3625C5.41588 16.3244 5.26513 16.2289 5.15847 16.0921C5.05181 15.9554 4.99583 15.7859 5.00007 15.6125V2.64501ZM2.84757 18.905C2.74122 18.919 2.63311 18.9099 2.53054 18.8785C2.42797 18.8471 2.33333 18.7941 2.25301 18.723C2.17268 18.6519 2.10853 18.5645 2.0649 18.4665C2.02127 18.3685 1.99916 18.2623 2.00007 18.155V5.45751C1.99653 5.28205 2.05464 5.11091 2.16427 4.97387C2.2739 4.83683 2.42811 4.74258 2.60007 4.70751C2.90007 4.64751 3.20007 4.60251 3.50007 4.55751V15.6275C3.49992 16.1528 3.68357 16.6616 4.01917 17.0657C4.35478 17.4698 4.82119 17.7437 5.33757 17.84C6.44079 18.0338 7.48499 18.4776 8.39007 19.1375C6.57088 18.7327 4.69428 18.654 2.84757 18.905ZM20.0001 18.155C20.001 18.2623 19.9789 18.3685 19.9352 18.4665C19.8916 18.5645 19.8275 18.6519 19.7471 18.723C19.6668 18.7941 19.5722 18.8471 19.4696 18.8785C19.367 18.9099 19.2589 18.919 19.1526 18.905C17.3059 18.654 15.4293 18.7327 13.6101 19.1375C14.5152 18.4776 15.5593 18.0338 16.6626 17.84C17.179 17.7437 17.6454 17.4698 17.981 17.0657C18.3166 16.6616 18.5002 16.1528 18.5001 15.6275V4.57251C18.8001 4.61751 19.1001 4.66251 19.4076 4.72251C19.5781 4.75911 19.7306 4.85402 19.8388 4.99091C19.9469 5.1278 20.004 5.2981 20.0001 5.47251V18.155Z" fill="#0369A1"/>
              </svg>
            </div>
            <div class="col-3">
            <p> Lesson/week</p>
              <pre><span>6</span> </pre>  
           </div>
           <!-- ------------------------------- -->
           <div class="col-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M12.6671 23.9883C2.0153 23.9776 -3.3425 11.0417 4.18186 3.50302C8.64852 -1.1517 16.6857 -1.15245 21.1523 3.50321C28.6766 11.0425 23.3182 23.9782 12.6671 23.9883ZM12.6671 1.86334C7.08412 1.86334 2.54208 6.40537 2.54208 11.9883C3.09825 25.4205 22.2379 25.4166 22.792 11.9882C22.792 6.40542 18.25 1.86334 12.6671 1.86334ZM17.0331 15.0285L14.0712 12.0666C14.0972 11.6292 13.9107 11.2111 13.6041 10.9398C13.6044 10.93 13.6046 10.9201 13.6046 10.9102V5.42588C13.5551 4.182 11.7786 4.18294 11.7296 5.42588V10.9102C11.7296 10.9201 11.7298 10.93 11.73 10.9398C10.7496 11.8174 11.4147 13.461 12.7453 13.3925L15.7072 16.3544C16.0733 16.7205 16.6669 16.7205 17.033 16.3544C17.3992 15.9882 17.3992 15.3947 17.0331 15.0285Z" fill="#0369A1"/>
              </svg>
            </div>
            <div class="col-3">
            <p>Hours/week</p>
            <pre><span>30</span></pre>
           </div>
           <!-- ---------------------------------- -->
           <div class="col-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="20" viewBox="0 0 25 20" fill="none">
                <path d="M12.333 19.75C10.6768 19.75 9.33301 18.4062 9.33301 16.75C9.33301 15.0938 10.6768 13.75 12.333 13.75C13.9892 13.75 15.333 15.0938 15.333 16.75C15.333 18.4062 13.9892 19.75 12.333 19.75ZM12.333 14.7499C11.2331 14.7499 10.3329 15.6501 10.3329 16.75C10.3329 17.8499 11.2331 18.7501 12.333 18.7501C13.4329 18.7501 14.3331 17.8499 14.3331 16.75C14.3331 15.6501 13.4329 14.7499 12.333 14.7499Z" fill="#0369A1"/>
                <path d="M19.7751 8.60156L20.4823 9.30853L14.4542 15.3366L13.7471 14.6296L19.7751 8.60156Z" fill="#0369A1"/>
                <path d="M24.333 12.7501H19.3329V11.7499H23.3204C23.0581 5.91878 18.2331 1.24994 12.333 1.24994C6.43295 1.24994 1.60801 5.91878 1.3456 11.7499H5.33307V12.7501H0.333008V12.25C0.333008 5.63125 5.71426 0.25 12.333 0.25C18.9518 0.25 24.333 5.63125 24.333 12.25V12.7501Z" fill="#0369A1"/>
                <path d="M18.2517 6.86875C16.7393 5.20623 14.583 4.24989 12.333 4.24989C10.083 4.24989 7.92676 5.20623 6.41429 6.86866L5.67676 6.1938C7.37673 4.32503 9.80176 3.25 12.333 3.25C14.8643 3.25 17.2893 4.32503 18.9893 6.19375L18.2517 6.86875Z" fill="#0369A1"/>
              </svg>
            </div>
            <div class="col-3">
            <p> max student/class </p>
              <pre><span>collage student</span></pre>
           </div>
  </div>
  </div>
</template>
<script>
  export default {
       props:{
        title:String,
        price:Number
  }
}
</script>
<style scoped>
.container {
  background-color: white;
}
.head{
  width: 812px;
  background-color: #f0f9ff;
  padding: 30px;
  font-size: 20px;
  color: #075985;
}
.location-card p{
  margin-bottom: 10px;
  margin-top: 5px;
}
.card{
  width: 812px;
  padding: 30px;
  background-color: white;
  box-shadow: 0px 0px 6px 0px rgba(12, 74, 110, 0.16);
}
button{
padding: 9px 50px;
justify-content: center;
align-items: center;
border-radius: 2px;
border: 1px solid var(--primary-700, #0369A1);
background:  #f0f9ff;
}
.card li{
  list-style: none;
}
.card .about li {
   list-style:disc;
}
p {
    color:  #828282;
  /* 18/Regular */
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  display: inline-block;
  }
svg{
    border: 1px solid lightblue;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
}  
button{
  padding: 9px 50px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid var(--primary-700, #0369A1);
  background:  #f0f9ff;
  }

h4{ 
font-size: 22px;
font-weight: 300;
font-family: Poppins;
font-style: normal;
line-height: normal;
  }



</style>