<template>
    <div class="card mt-5 mb-5">
        <div class="grid mt-5 mb-5">
          <div class="col-6">
            <h4>{{ tittle }}</h4>
    </div>
    <div class="col-3">
        <span style="color: red;font-size:x-large">{{ price }} USD </span> <span style="font-size:x-small;">per month</span>
      </div>
      <div class="col-2">
        <button>Apply</button>
      </div>
    </div>
    <div class="h-line" style="width: 90%;height:3px; background: #E6E9EB;margin:auto;"></div>
    <div class="grid mt-4 mb-4">
      <div class="col-4  levels">
        <p>The course will start every</p>
        <pre><span>2022-02-21</span></pre>
        <p>lesson/week </p>
        <pre><span>6</span></pre>
      </div>
      <div class="col-4 levels">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M21.4286 2.57143H18.8571V0.857159C18.8571 0.383755 18.4734 0 18 0C17.5266 0 17.1428 0.383755 17.1428 0.857159V2.57143H6.85712V0.857159C6.85712 0.383755 6.47337 0 6.00001 0C5.52666 0 5.14285 0.383755 5.14285 0.857159V2.57143H2.57143C1.15127 2.57143 0 3.72269 0 5.14285V21.4286C0 22.8487 1.15127 24 2.57143 24H21.4286C22.8487 24 24 22.8487 24 21.4286V5.14285C24 3.72269 22.8487 2.57143 21.4286 2.57143ZM22.2857 21.4286C22.2857 21.902 21.9019 22.2857 21.4285 22.2857H2.57143C2.09802 22.2857 1.71427 21.902 1.71427 21.4286V10.2857H22.2857V21.4286ZM22.2857 8.57144H1.71427V5.14285C1.71427 4.66945 2.09802 4.28569 2.57143 4.28569H5.14285V5.99996C5.14285 6.47337 5.52661 6.85712 6.00001 6.85712C6.47342 6.85712 6.85717 6.47337 6.85717 5.99996V4.28569H17.1429V5.99996C17.1429 6.47337 17.5266 6.85712 18 6.85712C18.4734 6.85712 18.8572 6.47337 18.8572 5.99996V4.28569H21.4286C21.902 4.28569 22.2858 4.66945 22.2858 5.14285V8.57144H22.2857Z" fill="#0369A1"/>
          <path d="M17.728 12.2514C17.3958 11.9305 16.8692 11.9305 16.5371 12.2514L10.2859 18.5025L7.46335 15.6799C7.12283 15.351 6.58022 15.3605 6.25136 15.7009C5.93054 16.0331 5.93054 16.5597 6.25136 16.8919L9.67995 20.3205C10.0147 20.6551 10.5572 20.6551 10.8919 20.3205L17.7491 13.4633C18.0779 13.1228 18.0685 12.5802 17.728 12.2514Z" fill="#0369A1"/>
        </svg>
        <p>Minmum age  </p>
        <pre><span> 30</span></pre>
        <p>Hours/week </p>
        <pre><span>30</span></pre>
      </div>
      <div class="col-4 levels">
        <p>Required level  </p>
       <pre><span>college student</span></pre>
        <p> Max Student/class</p>
        <pre><span>collage student</span></pre>
      </div>
    </div>
  </div>

</template>
<script>
  export default{
    props:{
        tittle: String,
        price: Number
    }
  }

</script>
<style scoped>
button{
    padding: 9px 50px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid var(--primary-700, #0369A1);
    background:  #f0f9ff;
    }

h4{ 
font-size: 22px;
font-weight: 300;
font-family: Poppins;
font-style: normal;
line-height: normal;
    }
.levels p {
        color:  #828282;
      /* 18/Regular */
      font-family: Poppins;
      font-size: 15px;
      font-style: normal;
      font-weight: 200;
      line-height: normal;
      }
</style>