<template>
  <section class="course-level mb-5">
    <div
      class="head p-4 mb-3 shadow-1 flex justify-content-between align-items-center gap-2 cursor-pointer"
      @click="isLevelsBoxOpen = !isLevelsBoxOpen"
    >
      <h2 class="text-color text-2xl font-semibold">Levels of Course</h2>
      <i
        :class="
          'text-color text-2xl cursor-pointer pi ' +
          (isLevelsBoxOpen ? 'pi-chevron-down' : 'pi-chevron-up')
        "
      ></i>
    </div>

    <div class="levels flex flex-column gap-3" v-if="isLevelsBoxOpen">
      <div class="level p-3 bg-white shadow-1" v-for="level in 3" :key="level.id">
        <div
          class="header flex flex-column md:flex-row justify-content-between align-items-start md:align-items-center gap-2"
        >
          <h3 class="text-color text-xl font-medium">Level 1</h3>
          <div class="flex flex-column md:flex-row align-items-start md:align-items-center gap-2">
            <div class="flex align-items-center gap-2">
              <span class="font-semibold text-red-700">7.89 USD</span>
              <span class="text-sm text-color">per month</span>
            </div>
            <Button
              label="Apply"
              class="py-2 px-5 w-fit border-round-xs text-primary"
              style="background-color: #e0f2fe; border: 1px solid var(--primary-color)"
            />
          </div>
        </div>

        <Divider />

        <div class="body grid">
          <div class="col-12 md:col-6">
            <div class="box mb-2 flex align-items-center gap-2">
              <div
                class="box mb-2-icon flex justify-content-center align-items-center w-3rem h-3rem border-circle border-1 border-primary p-2"
              >
                <i class="pi pi-calendar text-2xl text-primary"></i>
              </div>
              <div class="details">
                <span class="block text-lg text-color-secondary">The Course Start Every</span>
                <span class="block text-lg text-color">2022-02-21</span>
              </div>
            </div>
          </div>

          <div class="col-12 md:col-6">
            <div class="box mb-2 flex align-items-center gap-2">
              <div
                class="box mb-2-icon flex justify-content-center align-items-center w-3rem h-3rem border-circle border-1 border-primary p-2"
              >
                <i class="pi pi-calendar text-2xl text-primary"></i>
              </div>
              <div class="details">
                <span class="block text-lg text-color-secondary">The Course Start Every</span>
                <span class="block text-lg text-color">2022-02-21</span>
              </div>
            </div>
          </div>

          <div class="col-12 md:col-6">
            <div class="box mb-2 flex align-items-center gap-2">
              <div
                class="box mb-2-icon flex justify-content-center align-items-center w-3rem h-3rem border-circle border-1 border-primary p-2"
              >
                <i class="pi pi-calendar text-2xl text-primary"></i>
              </div>
              <div class="details">
                <span class="block text-lg text-color-secondary">The Course Start Every</span>
                <span class="block text-lg text-color">2022-02-21</span>
              </div>
            </div>
          </div>

          <div class="col-12 md:col-6">
            <div class="box mb-2 flex align-items-center gap-2">
              <div
                class="box mb-2-icon flex justify-content-center align-items-center w-3rem h-3rem border-circle border-1 border-primary p-2"
              >
                <i class="pi pi-calendar text-2xl text-primary"></i>
              </div>
              <div class="details">
                <span class="block text-lg text-color-secondary">The Course Start Every</span>
                <span class="block text-lg text-color">2022-02-21</span>
              </div>
            </div>
          </div>

          <div class="col-12 md:col-6">
            <div class="box mb-2 flex align-items-center gap-2">
              <div
                class="box mb-2-icon flex justify-content-center align-items-center w-3rem h-3rem border-circle border-1 border-primary p-2"
              >
                <i class="pi pi-calendar text-2xl text-primary"></i>
              </div>
              <div class="details">
                <span class="block text-lg text-color-secondary">The Course Start Every</span>
                <span class="block text-lg text-color">2022-02-21</span>
              </div>
            </div>
          </div>

          <div class="col-12 md:col-6">
            <div class="box mb-2 flex align-items-center gap-2">
              <div
                class="box mb-2-icon flex justify-content-center align-items-center w-3rem h-3rem border-circle border-1 border-primary p-2"
              >
                <i class="pi pi-calendar text-2xl text-primary"></i>
              </div>
              <div class="details">
                <span class="block text-lg text-color-secondary">The Course Start Every</span>
                <span class="block text-lg text-color">2022-02-21</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Button from "primevue/button";
import Divider from "primevue/divider";

export default {
  name: "CourseLevel",

  components: {
    Button,
    Divider
  },

  data: () => ({
    // levels box status
    isLevelsBoxOpen: false
  })
};
</script>

<style lang="scss" scoped>
.course-level {
  .head {
    background-color: #f0f9ff;
  }
}
</style>
