<template>
  <section class="course-name py-4 mb-5">
    <div class="container">
      <h1 class="text-white text-2xl font-semibold">{{ courseName }}</h1>
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: "CourseName",
  
  computed: {
    ...mapGetters({
      courseName: "courseProfileStore/getCourseName"
    })
  },

};
</script>

<style lang="scss" scoped>
.course-name {
  background-color: #1e293b;
}
</style>
