<template>
  <section class="images mb-5" v-if="courseImages">
    <div class="bg-white p-4 shadow-1">
      <Galleria
        :value="courseImages"
        :showThumbnails="false"
        showIndicatorsOnItem
        :showItemNavigators="courseImages?.length > 1"
        autoPlay
        circular
        containerClass="h-16rem sm:h-21rem md:h-24rem xl:h-28rem"
      >
        <template #item="slotProps">
          <img
            @click="imageClick(courseImages.indexOf(slotProps.item))"
            :src="slotProps.item"
            :alt="courseName"
            style="object-fit: cover"
            class="w-full h-16rem sm:h-21rem md:h-24rem xl:h-28rem"
          />
          <div
            v-if="courseImages?.length > 1"
            class="absolute text-white bottom-0 z-5 h-3rem w-full bg-black-alpha-40 flex justify-content-end align-items-center px-5"
          >
            <div
              class="flex gap-2 align-items-center cursor-pointer"
              @click="imageClick(courseImages.indexOf(slotProps.item))"
            >
              <i class="pi pi-window-maximize"></i>
              <span class="text-white">Preview</span>
            </div>
          </div>
        </template>
      </Galleria>

      <!-- Full width Preview -->
      <Galleria
        v-model:activeIndex="activeIndex"
        v-model:visible="displayCustom"
        :value="courseImages"
        :numVisible="7"
        containerStyle="max-width: 900px"
        :circular="true"
        :fullScreen="true"
        :showItemNavigators="true"
        :showThumbnails="false"
      >
        <template #item="slotProps">
          <img :src="slotProps.item" :alt="courseName" style="width: 100%; display: block" />
        </template>
        <template #thumbnail="slotProps">
          <img :src="slotProps.item" :alt="courseName" style="display: block" />
        </template>
      </Galleria>
    </div>
  </section>
</template>

<script>
import Galleria from "primevue/galleria";
import { mapGetters } from "vuex";

export default {
  name: "Gallery",
  components: {
    Galleria
  },

  data() {
    return {
      activeIndex: 0,
      displayCustom: false
    };
  },

  computed: {
    ...mapGetters({
      courseImages: "courseProfileStore/getCourseImages",
      courseName: "courseProfileStore/getCourseName"
    })
  },

  methods: {
    imageClick(i) {
      this.activeIndex = i;
      this.displayCustom = true;
    }
  }
};
</script>

<style lang="scss" scoped>
::v-deep(.p-galleria-item-nav) {
  top: auto;
  bottom: 0;
  z-index: 15;
}
::v-deep(.p-galleria .p-galleria-item-nav) {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  &:focus {
    box-shadow: none;
  }
}
::v-deep(.p-galleria-item-next) {
  right: auto;
  left: 3rem;
}
::v-deep(.p-galleria .p-galleria-item-nav .p-icon) {
  width: 1.2rem;
}
</style>
