<template>
    <div class="grid" v-for="n in 3" :key="n">
        <div class="col-5">
         <img src="../components/../../../../../assets/images/image 7.png" alt="">
        </div>
        <div class="col-7 last">
          <h3>course name could be in 2 lines the most ...</h3>
          <p><i class="pi pi-map-marker"></i> Location of course</p>
          <h4> E£5,210.53</h4>
          <h3> level :bachelor degre </h3>
          <span> 33 lessons / week</span> 
        </div>
      </div>
</template>
<script>

export default{


}
</script>
<style scoped>
p{
color: var(--font-secondery-color, #8e8e8e);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin :5px
}
h3{
color: var(--font-primary-color, #0F172A);
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 350;
line-height: normal;
margin:10px;
}
h4{
  background-color: lightblue;
  font-size: large;
  margin:5px;
  font-weight:200px;
  padding: 10px;
  width: fit-content;
  border-radius: 10%;
}
span{
  margin:5px;
}
</style>