<template>
  <section class="location p-4 mb-5 border-round-xs bg-white shadow-1">
    <h2 class="mb-1 text-color text-2xl font-semibold">Location</h2>
    <div class="flex flex-wrap mb-2">
      <div style="width: 100%">
        <iframe
          width="100%"
          height="350"
          frameborder="0"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          :src="`https://maps.google.com/maps?q=${location?.lat},${location?.lng}&amp;hl=en&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed`"
        ></iframe>
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Location",

  computed: {
    ...mapGetters({
      location: "courseProfileStore/getCourseDataLocation"
    })
  }
};
</script>

<style lang="scss" scoped></style>
