<template>
  <section class="related-courses" v-if="relatedCourses">
    <h2
      class="mb-4 text-color text-3xl md:text-4xl font-semibold md:font-bold"
      v-if="relatedCourses?.length > 1"
    >
      More Courses From This University
    </h2>
    <div class="courses flex flex-column gap-3">
      <div
        v-for="course in relatedCourses?.filter((e) => e.id !== +$route.params.id)"
        :key="course.id"
        class="course flex flex-column md:flex-row justify-content-start align-items-start gap-3"
      >
        <div class="md:w-4 h-13rem">
          <img
            :src="course.image"
            :alt="course.name"
            style="object-fit: cover"
            class="w-full h-full"
          />
        </div>

        <div class="md:w-8 details">
          <RouterLink :to="{ name: `${$route.name}`, params: { id: course.id } }">
            <h3 class="mb-2 text-xl font-bold text-xl text-color">
              {{ course.name }}
            </h3>
          </RouterLink>
          <p class="mb-2 text-color-secondary flex align-items-start gap-2" v-if="course.location">
            <i class="pi pi-map-marker pt-1"></i>
            <span>{{ course.location }}</span>
          </p>
          <p class="price mb-2 flex justify-content-start align-items-center gap-3">
            <span class="text-2xl font-medium text-primary"
              >{{ course.has_sale ? course.self_price_sale : course.self_price }} USD</span
            >
            <span
              class="price-before text-xl text-color-secondary line-through"
              v-if="course.has_sale"
              >{{ course.self_price }} USD</span
            >
          </p>
          <p
            class="py-2 px-3 mb-2 text-sm text-color w-fit"
            style="background-color: #e9f4fb"
            v-if="course.level"
          >
            Level: <span class="text-base font-semibold">{{ course.level.name }}</span>
          </p>
          <p
            class="py-2 px-3 mb-2 text-sm text-color w-fit"
            style="background-color: #e9f4fb"
            v-if="course.lessons"
          >
            <span class="text-base font-semibold">{{ course.lessons }}</span> Lessons
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "RelatedCourses",

  mounted() {
    this.resetRelatedCourses();
  },

  computed: {
    ...mapGetters({
      relatedCourses: "courseProfileStore/getRelatedCourses"
    })
  },

  methods: {
    ...mapActions({
      resetRelatedCourses: "courseProfileStore/resetRelatedCourses"
    })
  }
};
</script>

<style lang="scss" scoped></style>
