<template>
  <section class="requirements p-4 mb-5 border-round-xs bg-white shadow-1" v-if="requirements">
    <h2 class="mb-3 text-color text-2xl font-semibold">Requirements</h2>

    <div class="flex flex-column gap-3">
      <div class="flex justify-content-start align-items-start gap-2">
        <!-- <i class="pi pi-check pt-1"></i> -->
        <p class="text-color">
          {{ requirements }}
        </p>
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: "Requirements",

  computed: {
    ...mapGetters({
      requirements: "courseProfileStore/getCourseRequirements"
    })
  },
};
</script>

<style lang="scss" scoped></style>
