<template>
  <section
    class="university mb-5 px-4 border-round-xs shadow-1 flex justify-content-between align-items-start flex-column md:flex-row"
  >
    <div
      class="py-3 flex flex-wrap order-2"
      :class="!institute?.description && !university?.description ? 'py-4' : ''"
    >
      <span class="mr-2 text-primary text-xl font-medium white-space-nowrap">
        <i class="pi pi-book mr-2"></i> {{ institute ? "Institute" : "University" }} Name:
      </span>
      <span class="text-color text-xl">{{ institute?.name || university?.name }}</span>
      <div class="flex flex-column mt-4 col-12">
        <span
          class="text-sm text-black-alpha-50 readmore"
          :class="readmore ? 'readless': ''"
          v-if="institute?.description || university?.description"
          >
          {{ institute?.description || university?.description }}
        
        </span>
        <!-- Add more details here -->
        <Button
          @click="GetMore"
          :label="!readmore ? 'see more': 'see less'" 
          class="btn-primary bg-primary mx-auto mb-4 md:hidden" 
          autofocus
        />
      </div>
    </div>
    <div class="py-3 order-1" v-if="institute?.image || university?.image">
      <img
        :src="institute?.image || university?.image"
        :alt="institute?.name || university?.name"
        class="w-3rem h-full"
        style="object-fit: cover"
      />
    </div>
  </section>
</template>

<script>
import { mapGetters } from "vuex";
import Button from "primevue/button";

export default {
  name: "University",

  components:{
    Button
  },

  data: () => ({
    loading: false,
    readmore: false,
  }),

  computed: {
    ...mapGetters({
      institute: "courseProfileStore/getCourseInstitute",
      university: "courseProfileStore/getCourseUniversity"
    })
  },

  methods: {
    GetMore() {
      this.loading = true
      if (this.readmore){
        this.readmore = false
        this.loading = false
      } else {
        this.readmore = true
        this.loading = false
      }

    }
  }
};
</script>

<style lang="scss" scoped>
.university {
  background-color: #f0f9ff;
}
span.readmore {
    max-height: 100px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: max-height 0.3s ease-out;
}

span.readless {
    max-height: 100%;
    transition: max-height 0.5s ease-in;
}

@media screen and (min-width: 967px) {
  span.readmore {
    max-height: 100%;
  }
}

@media screen and (max-width: 968px) {
  .order-1 {
    order: 1;
  }

  .order-2 {
    order: 2;
  }
}
</style>
