<template>
  <section class="terms-conditions py-8 bg-blue-50">
    <div class="container">
      <h2 class="text-3xl font-semibold">Privacy policy</h2>
      <div class="mt-4 content-page" v-if="get_privacy" v-html="get_privacy.privacy"></div>
    </div>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: "Privacy",

  created() {
    this.privacy()
  },

  computed: {
    ...mapGetters({
      get_privacy: 'pagesStore/getprivacy'
    })
  },

  methods: {
    ...mapActions({
      privacy: 'pagesStore/privacy'
    })
  }
};
</script>

<style lang="scss" scoped></style>
