<template>
  <section class="terms-conditions py-8 bg-blue-50">
    <div class="container">
      <h2 class="text-3xl font-semibold">Terms & Conditions</h2>
      <div class="mt-4 content-page" v-if="get_term" v-html="get_term.terms"></div>
    </div>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: "Terms",

  created() {
    this.terms()
  },

  computed: {
    ...mapGetters({
      get_term: 'pagesStore/getterms'
    })
  },

  methods: {
    ...mapActions({
      terms: 'pagesStore/terms'
    })
  }
};
</script>

<style lang="scss" scoped></style>
