<template>
  <section class="filter bg-white md:p-4 md:shadow-1">
    <div class="flex justify-content-between align-items-center mb-4">
      <h2 class="text-xl font-normal">Filters</h2>
      <i class="pi pi-filter text-xl text-primary"></i>
    </div>

    <div
      @click="clearAll"
      class="text-center text-lg font-normal text-primary bg-cyan-50 border-1 border-primary py-2 mb-4 cursor-pointer"
    >
      Clear all
    </div>

    <!-- Choose Country -->
    <div class="mb-4">
      <div class="flex justify-content-between align-items-center mb-2">
        <h3 class="font-normal text-base">Country</h3>
        <span class="text-primary cursor-pointer"
        @click="
          selectedCountry = null;
          selectedCity = null;
        "
        >Clear</span>
      </div>
      <Dropdown
        v-model="selectedCountry"
        :options="countries"
        optionLabel="name"
        placeholder="select country"
        class="w-full border-noround"
        @change="getCountryCities"
      />
    </div>

    <!-- Choose City -->
    <div class="mb-4">
      <div class="flex justify-content-between align-items-center mb-2">
        <h3 class="font-normal text-base">City</h3>
        <span class="text-primary cursor-pointer" @click="selectedCity = null">Clear</span>
      </div>
      <Dropdown
        v-model="selectedCity"
        editable
        :options="selectedCountry && cities"
        optionLabel="name"
        :emptyMessage="selectedCountry ? 'No Cities Available' : 'select Country First'"
        placeholder="select city"
        class="w-full border-noround"
      />
    </div>

    <!-- Workshop Type -->
    <div class="mb-4">
      <div class="flex justify-content-between align-items-center mb-2">
        <h3 class="font-normal text-base">Type</h3>
        <span class="text-primary cursor-pointer" @click="selectedType = null">Clear</span>
      </div>
      <Dropdown
        v-model="selectedType"
        editable
        :options="workshopTypes"
        optionLabel="name"
        placeholder="Workshop Type"
        class="w-full border-noround"
      />
    </div>

    <!-- Date -->
    <div class="mb-4">
      <div class="flex justify-content-between align-items-center mb-2">
        <h3 class="font-normal text-base">Date</h3>
        <span
          class="text-primary cursor-pointer"
          @click="
            selectedDateFrom = null;
            selectedDateTo = null;
          "
          >Clear</span
        >
      </div>
      <label for="dateFrom" class="text-color-secondary text-sm">From</label>
      <div class="relative">
        <span class="set-position absolute top-50 z-1">
          <i class="pi pi-calendar text-xl text-color-secondary"></i>
        </span>
        <Calendar
          v-model="selectedDateFrom"
          dateFormat="dd/mm/yy"
          placeholder="DD / MM / YY"
          inputId="dateFrom"
          inputClass="border-noround"
          class="w-full mb-2"
        />
      </div>
      <label for="dateTo" class="text-color-secondary text-sm">To</label>
      <div class="relative">
        <span class="set-position absolute top-50 z-1">
          <i class="pi pi-calendar text-xl text-color-secondary"></i>
        </span>
        <Calendar
          v-model="selectedDateTo"
          dateFormat="dd/mm/yy"
          placeholder="DD / MM / YY"
          inputId="dateTo"
          inputClass="border-noround"
          class="w-full"
        />
      </div>
    </div>

    <Button class="bg-primary border-noround border-none w-full py-2 px-6" @click="FilterByValues">
      <span class="p-button-label text-lg font-normal">Filter</span>
    </Button>
  </section>
</template>

<script>
import Dropdown from "primevue/dropdown";
import Button from "primevue/button";
import Calendar from "primevue/calendar";
import { mapActions, mapGetters } from "vuex";
import moment from 'moment';

export default {
  name: "Filter",

  components: {
    Dropdown,
    Button,
    Calendar
  },

  data() {
    return {
      moment: moment,
      selectedCountry: null,
      selectedCity: null,
      selectedType: null,
      selectedDateFrom: null,
      selectedDateTo: null,
      workshopTypes: [{id: 1, name: "Tutor"}, {id: 2, name: "Workshop"}],
    };
  },

  created(){
    this.dropdownsOptions()
  },

  computed: {
    ...mapGetters({
      countries: "workshopsFilterStore/getDropdownsCountriesOptions",
      cities: "workshopsFilterStore/getDropdownsCitiesOptions",
    })
  },

  methods: {
    ...mapActions({
      dropdownsOptions: "workshopsFilterStore/dropdownsOptions",
      dropdownCitiesOptions: "workshopsFilterStore/dropdownCitiesOptions",
      loadingDataWaiting: "workshopsStore/loadingDataWaiting",
      filterValues: "workshopsStore/filterValues",
      workshops: 'workshopsStore/workshops',
    }),

    
    getCountryCities(){
      this.dropdownCitiesOptions(this.selectedCountry.id)
      this.selectedCity = null
    },

    FilterByValues(){
      this.loadingDataWaiting(true)
      this.filterValues({
        country: this.selectedCountry?.id || null,
        city: this.selectedCity?.id || null,
        type: this.selectedType?.id || null,
        start_date:  this.selectedDateFrom
            ? moment(this.selectedDateFrom).format("YYYY-MM-DD") 
            : null,
        end_date:  this.selectedDateTo
        ? moment(this.selectedDateTo).format("YYYY-MM-DD") 
        : null
      })
      this.workshops()
    },

    clearAll() {
      this.selectedCountry = null;
      this.selectedCity = null;
      this.selectedType = null;
      this.selectedDateFrom = null;
      this.selectedDateTo = null;
      this.filterValues({
        country: null,
        city: null,
        type: null,
        start_date: null,
        end_date: null
      })
      this.workshops()
    }
  },
};
</script>

<style lang="scss" scoped>
.set-position {
  transform: translateY(-50%);
  right: 1rem;
}
</style>
