<template>
  <section class="recommended-accommodations">
    <h2 class="mb-4 text-color font-bold text-3xl md:text-4xl">Recommended accommodations</h2>

    <div class="flex flex-column gap-4">
      <div
        class="accommodation-card p-4 bg-white shadow-1 border-round-xs"
        v-for="card in 3"
        :key="card"
      >
        <div class="head flex justify-content-between align-items-start gap-3">
          <div>
            <h3 class="mb-3 text-lg font-medium text-primary">Accommodation Name</h3>
            <div class="flex align-items-center gap-2">
              <span class="font-semibold text-red-700">7.89 USD</span>
              <span class="text-sm text-color">per month</span>
            </div>
          </div>
        </div>

        <Divider />

        <div class="mb-2 flex align-items-center gap-4">
          <div class="rooms flex align-items-center gap-2">
            <i class="pi pi-home text-lg text-primary"></i>
            <p class="pt-1 text-base">
              <span class="text-lg font-medium text-red-700">3</span>/8 Bed rooms
            </p>
          </div>

          <div class="location flex align-items-center gap-2 pt-1">
            <i class="pi pi-map-marker text-lg text-primary"></i>
            <p class="text-primary">Niue</p>
          </div>
        </div>

        <p class="text-lg text-color-secondary">Apartment for rent in Salmiya block</p>
      </div>
    </div>
  </section>
</template>

<script>
import Divider from "primevue/divider";

export default {
  name: "RecommendedAccommodations",

  components: {
    Divider
  }
};
</script>

<style lang="scss" scoped></style>
