<template>
  <section class="average-price p-4 mb-5 border-round-xs bg-white shadow-1">
    <h2 class="mb-3 text-color text-2xl font-semibold">Average Price</h2>
    <div class="mb-3 flex justify-content-between align-items-center gap-3">
      <span class="text-2xl font-semibold text-red-700">{{price}} {{currency}}</span>
      <span class="text-xl text-color">per month</span>
    </div>
    <div class="mb-2 flex align-items-center gap-4">
      <div class="location flex align-items-center gap-2 pt-1">
        <i class="pi pi-map-marker text-lg text-primary"></i>
        <p class="text-primary">{{ location }}</p>
      </div>
    </div>
    <Divider />
    <Button label="Apply" class="block mb-3 w-full border-round-xs bg-primary border-primary" />
    <h3 class="mb-3 text-2xl font-semibold text-color">Contact Info</h3>
    <div class="user flex flex-column gap-3">
      <div class="flex align-items-center gap-3">
        <div class="user-image">
          <img
            :src="data?.profile"
            alt="user name"
            style="width: 60px; height: 60px; border-radius: 50%; object-fit: cover"
          />
        </div>
        <span class="text-lg font-semibold text-color">{{ data.name }}</span>
      </div>
      <a href="tel:96745969305" class="contact flex align-items-center gap-3">
        <i class="pi pi-phone text-primary"></i>
        <span class="text-color">+{{ data.phone }}</span>
      </a>
      <a href="mailto:user@gmail.com" class="contact flex align-items-center gap-3">
        <i class="pi pi-envelope text-primary"></i>
        <span class="text-color">{{ data.email }}</span>
      </a>
      <a
        href="https://wa.me/96745969305"
        target="_blank"
        class="contact flex align-items-center gap-3"
      >
        <i class="pi pi-whatsapp text-primary"></i>
        <span class="text-color">+{{ data.whatsapp }}</span>
      </a>
    </div>
  </section>
</template>

<script>
import Divider from "primevue/divider";
import Button from "primevue/button";

export default {
  name: "AveragePrice",
  props: {
    data: String,
    price: String,
    currency: String,
    location: String,
  },
  components: {
    Divider,
    Button
  }
};
</script>

<style lang="scss" scoped></style>
