<template>
    <Skeleton class="w-full h-14rem" v-for="(item, i) in 6" :key="i" />
</template>

<script>
  import Skeleton from 'primevue/skeleton';
  export default {
    name: "CustomSkeleton",

    components: {
      Skeleton
    }
  }
</script>

<style lang="scss" scoped>

</style>