<template>
  <section class="filter bg-white md:p-4 md:shadow-1">
    <div class="flex justify-content-between align-items-center mb-4">
      <h2 class="text-xl font-normal">Filters</h2>
      <i class="pi pi-filter text-xl text-primary"></i>
    </div>

    <div
      @click="clearAll"
      class="text-center text-lg font-normal text-primary bg-cyan-50 border-1 border-primary py-2 mb-4 cursor-pointer"
    >
      Clear all
    </div>

    <!-- Choose Country -->
    <div class="mb-4">
      <div class="flex justify-content-between align-items-center mb-2">
        <h3 class="font-normal text-base">Country</h3>
        <span class="text-primary cursor-pointer"
        @click="
          selectedCountry = null;
          selectedCity = null;
        "
        >Clear</span>
      </div>
      <Dropdown
        v-model="selectedCountry"
        :options="countries"
        optionLabel="name"
        placeholder="select country"
        class="w-full border-noround"
        @change="getCountryCities"
      />
    </div>

    <!-- Choose City -->
    <div class="mb-4">
      <div class="flex justify-content-between align-items-center mb-2">
        <h3 class="font-normal text-base">City</h3>
        <span class="text-primary cursor-pointer" @click="selectedCity = null">Clear</span>
      </div>
      <Dropdown
        v-model="selectedCity"
        editable
        :options="selectedCountry && cities"
        optionLabel="name"
        :emptyMessage="selectedCountry ? 'No Cities Available' : 'select Country First'"
        placeholder="select city"
        class="w-full border-noround"
      />
    </div>

    <Button class="bg-primary border-noround border-none w-full py-2 px-6" @click="FilterByValues">
      <span class="p-button-label text-lg font-normal">Filter</span>
    </Button>
  </section>
</template>

<script>
import Dropdown from "primevue/dropdown";
import Button from "primevue/button";
import { mapActions, mapGetters } from "vuex";

export default {
  name: "Filter",

  components: {
    Dropdown,
    Button
  },

  data() {
    return {
      selectedCountry: null,
      selectedCity: null,
    };
  },

  created(){
    this.dropdownsOptions()
  },

  computed: {
    ...mapGetters({
      countries: "sellBuyFilterStore/getDropdownsCountriesOptions",
      cities: "sellBuyFilterStore/getDropdownsCitiesOptions",
    })
  },

  methods: {
    ...mapActions({
      dropdownsOptions: "sellBuyFilterStore/dropdownsOptions",
      dropdownCitiesOptions: "sellBuyFilterStore/dropdownCitiesOptions",
      loadingDataWaiting: "sellBuyStore/loadingDataWaiting",
      filterValues: "sellBuyStore/filterValues",
      sales: 'sellBuyStore/sales',
    }),

    getCountryCities(){
      this.dropdownCitiesOptions(this.selectedCountry.id)
      this.selectedCity = null
    },

    FilterByValues(){
      this.loadingDataWaiting(true)
      this.filterValues({
        country: this.selectedCountry?.id || null,
        city: this.selectedCity?.id || null,
      })
      this.sales()
    },

    clearAll() {
      this.selectedCountry = null;
      this.selectedCity = null;
      this.filterValues({country: null, city: null})
      this.sales()
    }
  },
};
</script>

<style lang="scss" scoped></style>
