<template>
  <section class="images mb-5">
    <div class="bg-white p-4 shadow-1">
      <h2 class="mb-4 text-color font-bold text-2xl">Images</h2>

      <Galleria
        v-model:activeIndex="activeIndex"
        v-model:visible="displayCustom"
        :value="data"
        :numVisible="3"
        containerStyle="max-width: 850px"
        :circular="true"
        :fullScreen="true"
        :showItemNavigators="true"
        :showThumbnails="false"
      >
        <template #item="slotProps">
          <img
            :src="slotProps.item"
            alt=""
            style="width: 100%; display: block"
          />
        </template>
        <template #thumbnail="slotProps">
          <img
            :src="slotProps.item.thumbnailImageSrc"
            :alt="slotProps.item.alt"
            style="display: block"
          />
        </template>
      </Galleria>

      <div v-if="data" class="grid">
        <div v-for="(image, index) of data" :key="index" class="col-12 sm-col-6 lg:col-4">
          <img
            :src="image"
            alt="image"
            style="
              cursor: pointer;
              width: 220px;
              height: 220px;
              object-fit: cover;
              object-position: center;
            "
            @click="imageClick(index)"
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Galleria from "primevue/galleria";

export default {
  name: "Images",

  props: {
    data: String,
  },

  components: {
    Galleria
  },

  data: () => ({
    activeIndex: 0,
    displayCustom: false
  }),

  methods: {
    imageClick(index) {
      this.activeIndex = index;
      this.displayCustom = true;
    }
  }
};
</script>

<style lang="scss" scoped></style>
