<template>
  <section class="location p-4 mb-5 border-round-xs bg-white shadow-1">
    <h2 class="mb-1 text-color text-2xl font-semibold">Location</h2>
    {{ data }}
    
    <router-link
      :to="{ name: $route.name }"
      class="flex align-items-center gap-2 py-2 px-5 mt-5 w-fit border-round-xs text-primary"
      style="background-color: #e0f2fe; border: 1px solid var(--primary-color)"
    >
      <i class="pi pi-map-marker"></i>
      <span>Show Map</span>
    </router-link>
  </section>
</template>

<script>
export default {
  name: "Location",
  props: {
    data: String,
    lat: String,
    lng: String,
  },
};
</script>

<style lang="scss" scoped></style>
