<template>
  <section class="name py-4 mb-5">
    <div class="container">
      <h1 class="text-white text-2xl font-semibold">{{ data }}</h1>
    </div>
  </section>
</template>

<script>
export default {
  name: "Name",
  props: {
    data: String,
  },
};
</script>

<style lang="scss" scoped>
.name {
  background-color: #1e293b;
}
</style>
