<template>
  <section class="search py-4 mb-5">
    <div class="container flex justify-content-center align-items-center">
      <label for="search" class="hidden md:block text-white text-lg font-bold">Search</label>
      <span class="p-input-icon-left md:mx-4 md:align-self-stretch flex-grow-1">
        <i class="pi pi-search" />
        <InputText
          v-model="search"
          placeholder="Search Accommodation name / Seller name"
          class="border-noround w-full h-full"
          id="search"
          v-debounce:1s="searchByValue"
        />
      </span>
      <router-link :to="{ name: 'PostSellAndBuy' }" class="hidden md:block">
        <Button
          label="Create Post"
          class="border-noround text-base font-bold py-3 px-8 bg-primary border-none"
        />
      </router-link>
    </div>
  </section>
</template>

<script>
import InputText from "primevue/inputtext";
import Button from "primevue/button";
import { mapActions } from 'vuex'
import { vue3Debounce } from 'vue-debounce'

export default {
  name: "Search",
  components: {
    InputText,
    Button
  },

  directives: {
    debounce: vue3Debounce({ lock: true })
  },

  data() {
    return {
      search: ""
    };
  },

  methods: {
    ...mapActions({
      sales: "sellBuyStore/sales",
      salesSearchValue: "sellBuyStore/searchValue",

    }),
    searchByValue(){
      this.salesSearchValue(this.search)
      this.sales()
    },
  }
};
</script>

<style lang="scss" scoped>
.search {
  background-color: #1e293b;
}
</style>
