<template>
  <section class="p-3 sm:p-4 bg-white shadow-1" v-for="item in products" :key="item.id">
    <div class="mb-3">
      <router-link :to="{ name: 'SellBuyProfile', params: { id: item.id } }">
        <h2
          class="title text-primary font-medium text-base sm:text-xl white-space-nowrap overflow-hidden text-overflow-ellipsis"
          :title="item.title"
        >
          {{ item.title }}
        </h2>
      </router-link>
    </div>

    <div
      class="flex flex-wrap justify-content-start align-items-center column-gap-3 mb-3 border-bottom-1 border-200 pb-3"
    >
      <span class="text-xl font-medium text-orange-700">{{ item.price }} {{ item.currency }}</span>
      <span class="text-base font-normal">Total Price</span>
    </div>

    <div class="flex justify-content-start gap-2 mb-3">
      <i class="pi pi-map-marker text-primary text-xl font-normal"></i>
      <span class="text-primary">{{ item.location }}</span>
    </div>

    <span class="flex text-color-secondary">{{ item.description }}</span>
  </section>
</template>

<script setup>
import { toRefs } from "vue";

const props = defineProps(["dataCards"]);
const { dataCards: products } = toRefs(props);
</script>

<style lang="scss" scoped>
.title {
  text-align: start;
}
</style>
