<template>
  <banner />
  <working-area />
  <build-instructor />
  <popular-courses />
  <your-journey />
  <major-subjects />
  <news />
  <students-feedback />
  <our-achievements />
  <book-ielts />
  <whatsapp-numbers />
</template>

<script>
import Banner from "./components/Banner.vue";
import WorkingArea from "./components/WorkingArea.vue";
import BuildInstructor from "./components/BuildInstructor.vue";
import PopularCourses from "./components/PopularCourses.vue";
import YourJourney from "./components/YourJourney.vue";
import MajorSubjects from "./components/MajorSubjects.vue";
import News from "./components/News.vue";
import StudentsFeedback from "./components/StudentsFeedback.vue";
import OurAchievements from "./components/OurAchievements.vue";
import BookIelts from "./components/BookIelts.vue";
import WhatsappNumbers from "./components/WhatsappNumbers.vue";


export default {
  name: "Home",

  components: {
    Banner,
    WorkingArea,
    BuildInstructor,
    PopularCourses,
    YourJourney,
    MajorSubjects,
    News,
    StudentsFeedback,
    OurAchievements,
    BookIelts,
    WhatsappNumbers
  },
};
</script>
