<template>
  <section class="article">
    <div class="container grid justify-content-between">
      <div class="col-12 md:col-8 my-5">
        <h2>{{ articleData.title }}</h2>
        <div class="article-image mb-2 mt-4">
          <img v-if="articleData.image" :src="articleData.image" :alt="articleData.title" class="w-full" />
          <img v-else src="@/assets/images/placeholder.jpg" :alt="articleData.title" class="w-full" >
        </div>
        <div class="content">
          <p class="mb-2" style="color:#828282;">1 min read</p>
          {{ articleData.description }}
        </div>
      </div>
      <div class="col-12 md:col-3 my-5">
        <h2>Related Articles</h2>

        <div class="card">
          <img src="@/assets/images/placeholder.jpg" class="w-full h-16rem mt-4" >
          <h3 class="mt-2 mb-2">Article Name</h3>
          <p>Cras gravida bibendum dolor eu varius. Morbi fermentum velit nisl, eget vehicula lorem ...</p>
          <time style="font-size:12px; color:#828282;">1 min read</time>
        </div>

        <div class="card">
          <img src="@/assets/images/placeholder.jpg" class="w-full h-16rem mt-4" >
          <h3 class="mt-2 mb-2">Article Name</h3>
          <p>Cras gravida bibendum dolor eu varius. Morbi fermentum velit nisl, eget vehicula lorem ...</p>
          <time style="font-size:12px; color:#828282;">1 min read</time>
        </div>

        <div class="card">
          <img src="@/assets/images/placeholder.jpg" class="w-full h-16rem mt-4" >
          <h3 class="mt-2 mb-2">Article Name</h3>
          <p>Cras gravida bibendum dolor eu varius. Morbi fermentum velit nisl, eget vehicula lorem ...</p>
          <time style="font-size:12px; color:#828282;">1 min read</time>
        </div>        
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Article",

  data(){
    return {
      articleData: {}
    }
  },

  created(){
    this.getSectionData();
  },

  methods: {
    async getSectionData() {
      await this.axios.get(`/news/${this.$route.params.id}`).then(res=> this.articleData = res.data.data)
    }
  }
};
</script>

<style lang="scss" scoped>
h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}
</style>
