<template>
  <main class="blog bg-blue-50">
    <search />

    <div class="container">
      <div class="articles py-5 grid">
        <div class="col-12 sm:col-6 lg:col-4" v-for="article in getBlogs" :key="article.id">
          <article-card :article="article" />
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import Search from "./components/Search.vue";
import ArticleCard from "./components/ArticleCard.vue";

import { mapActions, mapGetters } from 'vuex'

export default {
  name: "Blog",

  components: {
    Search,
    ArticleCard
  },

  created() {
    this.blogs()
  },

  computed: {
    ...mapGetters({
      getBlogs: 'blogsStore/getblogs'
    })
  },

  methods: {
    ...mapActions({
      blogs: 'blogsStore/blogs'
    })
  }
};
</script>

<style lang="scss" scoped></style>
