<template>
  <Dialog
    v-model:visible="visible"
    modal
    :style="{ width: '960px' }"
    :breakpoints="{ '960px': '75vw', '641px': '95vw' }"
    :closable="false"
  >
    <template #header>
      <div class="sm:my-2 mx-auto text-3xl sm:text-4xl font-semibold text-primary text-center">
        Apply
      </div>
    </template>

    <div class="grid md:px-7">
      <div class="col-12 mb-3">
        <h2 class="text-primary font-semibold">{{ courseData?.name }}</h2>
      </div>
      <div class="col-12 lg:col-6 mb-4">
        <label>
          <span class="text-lg font-semibold">Course Type: </span>
        </label>
        <div class="mt-3 flex align-items-center gap-3">
          <div
            v-for="(input, index) in courseTypes"
            :key="input"
            class="flex align-items-center gap-2 w-8rem"
          >
            <RadioButton v-model="course.type" :inputId="'type-1' + index" :value="input.id" />
            <label :for="'type-1' + index" class="cursor-pointer line-height-3">
              {{ input.name }}
            </label>
          </div>
        </div>
      </div>

      <div class="col-12 lg:col-6 mb-4">
        <label>
          <span class="text-lg font-semibold">Funded Type: </span>
        </label>
        <div class="mt-3 flex align-items-center gap-3">
          <div
            v-for="(input, index) in fundedTypes"
            :key="input"
            class="flex align-items-center gap-2 w-8rem"
          >
            <RadioButton
              v-model="course.fund_type"
              :inputId="'type-2' + index"
              :value="input.id"
              @change="calcPrice"
            />
            <label :for="'type-2' + index" class="cursor-pointer line-height-3">
              {{ input.name }}
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="md:px-7">
      <div class="mb-5 grid" v-if="$route.name === 'EnglishCourseProfile'">
        <div class="col-12 lg:col-6">
          <label class="text-lg">Start Date</label>
          <Calendar
            v-model="course.start_date.code"
            dateFormat="dd/mm/yy"
            class="w-full border-round-xs mt-1"
            showIcon
            :disabledDays="[0, 2, 3, 4, 5, 6]"
            placeholder="Select Start Date"
            modelValue="courseStartDates.code"
            :minDate="new Date()"
          />
        </div>
        <div class="col-12 lg:col-6">
          <label class="text-lg">Number of Weeks</label>
          <Dropdown
            v-model="no_of_weeks"
            :options="weeksDropDown"
            selectOnFocus
            modelValue="courseStartDates.code"
            class="w-full border-round-xs mt-1"
          >
          </Dropdown>
        </div>
      </div>

      <div class="mb-5" v-else>
        <label class="text-lg">Start Date</label>
        <Dropdown
          v-model="course.start_date"
          :options="courseStartDates"
          optionLabel="format"
          selectOnFocus
          modelValue="courseStartDates.code"
          class="w-full border-round-xs mt-1"
          placeholder="Select Start Date"
        >
        </Dropdown>
      </div>

      <div class="mb-5 grid" v-if="$route.name === 'EnglishCourseProfile'">
        <div class="col-12 lg:col-6 mb-2">
          <label>
            <span class="text-lg font-semibold">Accommodation: </span>
          </label>
          <div class="mt-3 flex align-items-center gap-3">
            <div
              v-for="(input, index) in accommodation"
              :key="input"
              class="flex align-items-center gap-2 w-8rem"
            >
              <RadioButton
                v-model="course.accommodation"
                :inputId="'type-4' + index"
                :value="input.id"
                @change="calcPrice"
                @click="getAccommodations"
              />
              <label :for="'type-4' + index" class="cursor-pointer line-height-3">
                {{ input.name }}
              </label>
            </div>
          </div>
        </div>

        <div class="col-12 lg:col-6">
          <label>
            <span class="text-lg font-semibold">Transportation: </span>
          </label>
          <div class="mt-3 flex align-items-center gap-3">
            <div
              v-for="(input, index) in transportation"
              :key="input"
              class="flex align-items-center gap-2 w-8rem"
            >
              <RadioButton
                v-model="course.transportation"
                :inputId="'type-3' + index"
                :value="input.id"
                @change="calcPrice"
              />
              <label :for="'type-3' + index" class="cursor-pointer line-height-3">
                {{ input.name }}
              </label>
            </div>
          </div>
        </div>

        <div class="col-12" v-if="course.accommodation">
          <div class="grid">
            <h2
              class="col-12 text-xl sm:text-2xl font-semibold text-color"
              v-if="accommodationsList?.length >= 0"
            >
              Please Select Accommodation
            </h2>
            <div
              class="col-12 flex justify-content-center align-items-center"
              v-if="accommodationsList?.length === 0"
            >
              <h3 class="text-primary font-semibold py-3">No Accommodations Available</h3>
            </div>
            <div class="col-12 md:col-6 lg:col-4" v-for="acc in accommodationsList" :key="acc.id">
              <div
                class="border-1 border-round-sm border-500 border-primary border-dashed p-2 flex flex-column justify-content-between"
                style="min-height: 8rem"
              >
                <h3 class="text-primary font-semibold">{{ acc.name }}</h3>
                <div class="flex justify-content-between align-items-center">
                  <p class="my-2 text-orange-600 text-lg font-semibold">{{ acc.price }} USD</p>
                  <Button
                    :class="`flex justify-content-center w-4rem h-2rem px-1 border-primary text-primary ${
                      course.accommodation_id === acc.id && 'bg-primary border-none'
                    } ${getSelectLoading && course.accommodation_id === acc.id && 'opacity-40'}`"
                    @click="selectAccommodation(acc.id)"
                    :outlined="course.accommodation_id !== acc.id"
                  >
                    <i
                      v-if="getSelectLoading && course.accommodation_id === acc.id"
                      class="p-button-icon pi pi-spin pi-spinner"
                    ></i>
                    <span v-else class="p-button-label text-sm">Select</span>
                  </Button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h2 class="mb-1 text-xl sm:text-2xl font-semibold text-color">Upload Required Documents</h2>
      <p class="mb-4 text-xs sm:text-sm text-color-secondary">
        ( Passport, Bachelor Degree, Sr. Secondary Certificate )
      </p>

      <FileUpload :multiple="true" :maxFileSize="5000000" @select="onSelect">
        <template #header="{ chooseCallback }">
          <div class="flex align-items-center">
            <Button
              @click="chooseCallback()"
              icon="pi pi-plus"
              label="Add Photo"
              class="bg-black-alpha-10 w-5rem h-5rem border-1 border-dashed border-500 flex justify-content-center align-items-center"
            >
              <i class="pi pi-camera text-2xl text-primary"></i>
            </Button>
          </div>
        </template>

        <template #content="{ files, messages, removeFileCallback }">
          <div v-if="messages">
            <small class="p-error">{{ messages[0] }}</small>
          </div>
          <div v-if="files" class="flex flex-wrap gap-2 mb-1">
            <div v-for="(file, index) of files" :key="index" class="relative">
              <img
                :src="file.objectURL || (file.type === 'application/pdf' ? pdfIcon : fileIcon)"
                class="opacity-40"
                style="width: 5rem; height: 5rem; object-fit: cover"
              />
              <Button
                icon="pi pi-times"
                class="absolute top-0 right-0 bg-black-alpha-60 p-1 w-fit h-fit border-none border-noround"
                @click="removeFileCallback(index)"
              >
              </Button>
            </div>
          </div>
        </template>
      </FileUpload>

      <div
        v-if="$route.name === 'EnglishCourseProfile'"
        class="col-12 border-1 border-dashed border-400 border-round relative"
      >
        <div
          v-if="!showCalcPrice"
          class="absolute flex justify-content-center align-items-center w-full h-full -mt-2 -ml-2"
        >
          <span class="text-lg text-center"
            >Please fill all fields above to get your Price details</span
          >
        </div>

        <div
          class="p-2 sm:py-3 sm:px-5"
          :class="!getCalcPrice ? 'blur' : showCalcPrice ? 'no-blur' : 'blur'"
        >
          <p class="py-2 flex justify-content-between flex-wrap text-lg font-semibold">
            <label
              >Course Fee
              <small v-if="getCourseHasSale" class="text-orange-400">(After Sale)</small>
              <small v-if="no_of_weeks > 1" class="text-orange-400"
                >X {{ this.no_of_weeks }} weeks</small
              ></label
            >
            <span>{{ getCalcPrice?.details.english_course_price * this.no_of_weeks }} USD</span>
          </p>
          <p class="py-2 flex justify-content-between flex-wrap text-lg font-semibold">
            <label
              >Accommodation
              <small v-if="no_of_weeks > 1" class="text-orange-400"
                >X {{ this.no_of_weeks }} weeks</small
              >
            </label>
            <span>{{ getCalcPrice?.details.accommodation_price * this.no_of_weeks }} USD</span>
          </p>
          <p class="py-2 flex justify-content-between flex-wrap text-lg font-semibold">
            <label>Transportation</label
            ><span>{{ getCalcPrice?.details.transportation_price }} USD</span>
          </p>
          <p
            class="py-2 flex justify-content-between flex-wrap text-lg sm:text-2xl font-bold sm:font-semibold"
          >
            <span>
              <label class="block -mb-1 sm:-mb-2">Estimated Total Price</label>
              <small class="text-sm sm:text-base text-500 font-semibold"
                >The final price might vary
              </small>
            </span>
            <span class="text-orange-400">{{ getCalcPrice?.total }} USD</span>
          </p>
        </div>
      </div>
    </div>
    <template #footer>
      <div class="flex flex-column sm:flex-row row-gap-2 column-gap-3 md:px-7 sm:mb-4">
        <Button @click="closePopup" class="w-full m-0 bg-cyan-50 border-none border-round-xs">
          <span class="p-button-label text-primary font-normal text-lg">Cancel</span>
        </Button>
        <Button @click="submitChanges" class="w-full m-0 bg-primary border-none border-round-xs">
          <span
            class="p-button-label font-normal text-lg flex justify-content-center align-items-center gap-3"
          >
            <span>Apply</span>
            <i v-if="getBtnLoading" class="p-button-icon pi pi-spin pi-spinner"></i>
          </span>
        </Button>
      </div>
    </template>
  </Dialog>
</template>

<script>
import Dialog from "primevue/dialog";
import Dropdown from "primevue/dropdown";
import RadioButton from "primevue/radiobutton";
import Button from "primevue/button";
import { mapActions, mapGetters } from "vuex";
import FileUpload from "primevue/fileupload";
import { useToast } from "vue-toastification";
import moment from "moment";
import fileIcon from "@/assets/images/file.png";
import pdfIcon from "@/assets/images/pdf.png";
import Calendar from "primevue/calendar";

export default {
  name: "CourseApply",
  components: {
    Dialog,
    Dropdown,
    RadioButton,
    Button,
    FileUpload,
    Calendar
  },

  setup: () => ({
    toast: useToast()
  }),

  mounted() {
    const createNumberOfWeeks = (start, end) => {
      this.weeksDropDown = Array.from(
        { length: end - start / start + 1 },
        (_, index) => start + index * start
      );
    };
    createNumberOfWeeks(1, 48);
  },

  data() {
    return {
      visible: false,
      showCalcPrice: false,
      courseData: null,
      no_of_weeks: null,
      weeksDropDown: [],
      course: {
        id: "",
        type: null,
        fund_type: null,
        start_date: { code: null, format: null },
        documents: null,
        transportation: null,
        accommodation: null,
        accommodation_id: null
      },
      courseTypes: [
        { id: 1, name: "Full time" },
        { id: 2, name: "Part time" }
      ],
      fundedTypes: [
        { id: 1, name: "Sponsored" },
        { id: 2, name: "Self funded" }
      ],
      courseStartDates: [],
      accommodation: [
        { id: 1, name: "Yes" },
        { id: 0, name: "No" }
      ],
      transportation: [
        { id: 1, name: "Yes" },
        { id: 0, name: "No" }
      ],
      fileIcon: fileIcon,
      pdfIcon: pdfIcon
    };
  },

  computed: {
    ...mapGetters({
      getCourseData: "courseProfileStore/getCourseData",
      getDialogAfterRes: "courseProfileStore/getDialogAfterRes",
      getBtnLoading: "courseProfileStore/getBtnLoading",
      getSelectLoading: "courseProfileStore/getSelectLoading",
      getCourseHasSale: "courseProfileStore/getCourseHasSale",
      getCalcPrice: "courseProfileStore/getCalcPrice",
      accommodationsList: "courseProfileStore/getAccommodationsList"
    })
  },

  watch: {
    getCourseData() {
      this.courseData = this.getCourseData;
      this.course.id = this.getCourseData.id;
      this.courseStartDates = this.getCourseData.dates?.map((e) => {
        return {
          code: moment(e.start_date).format("YYYY-MM-DD"),
          format: moment(e.start_date).format("MMMM YYYY - DD/MM/YYYY")
        };
      });
    },
    getDialogAfterRes() {
      this.closePopup();
    },

    "course.accommodation": function (newVal) {
      newVal === 0 && (this.course.accommodation_id = "");
      newVal === 1 && (this.course.accommodation_id = null);
    }
  },

  methods: {
    ...mapActions({
      submitEditsDataCourse: "courseProfileStore/submitEditsDataCourse",
      calculatePrice: "courseProfileStore/calculatePrice",
      Accommodations: "courseProfileStore/Accommodations",
      resetDialog: "courseProfileStore/resetDialog"
    }),
    submitChanges() {
      this.course.start_date.code &&
        (this.course.start_date.code = moment(this.course.start_date.code).format("YYYY-MM-DD"));
      this.$route.name === "EnglishCourseProfile"
        ? Object.values(this.course).some((v) => v === null) || !this.course.start_date.code
          ? this.toast.warning("Please fill all fields before Applying")
          : this.submitEditsDataCourse([this.$route.name, this.course])
        : this.course.type &&
          this.course.fund_type &&
          this.course.documents &&
          this.course.start_date.code
        ? this.submitEditsDataCourse([this.$route.name, this.course])
        : this.toast.warning("Please fill all fields before Applying");
    },
    closePopup() {
      this.showCalcPrice = false;
      this.course = {
        ...this.course,
        type: null,
        fund_type: null,
        start_date: { code: null, format: null },
        documents: null,
        transportation: null,
        accommodation: null,
        accommodation_id: null
      };
      this.$emit("closePopup");
      this.resetDialog();
    },

    onSelect(event) {
      this.course.documents = event.files;
    },
    calcPrice() {
      if (this.course.transportation !== null && this.course.fund_type !== null) {
        ((this.course.accommodation === 1 && this.course.accommodation_id) ||
          this.course.accommodation === 0) &&
          (this.calculatePrice([this.course.id, this.course]), (this.showCalcPrice = true));
      }
    },
    getAccommodations() {
      !this.accommodationsList?.length && this.Accommodations(this.course.id);
    },
    selectAccommodation(id) {
      this.course.accommodation_id = id;
      this.calcPrice();
    }
  }
};
</script>

<style lang="scss" scoped>
.icon-times {
  right: 0px;
  top: 10px;
}
:deep(.p-radiobutton-box) {
  &:hover {
    border-color: #0369a1 !important;
  }
}
:deep(.p-radiobutton-box.p-highlight) {
  background-color: #0369a1 !important;
  border-color: #0369a1 !important;
}
.blur {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}
.no-blur {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}
</style>
