<template>
  <section class="public-layout">
    <public-header />
      <div class="main">
          <router-view />
      </div>
    <public-footer />

    <router-link
      :to="{ name: 'QuickApply' }"
      class="bg-primary btn-primary btn-contact px-4 text-xl font-medium pt-1 pb-2"
    >
      Quick Apply <img alt="contact" src="@/assets/images/contact.svg" height="30" class="icon-contact" />
    </router-link>

  </section>
</template>

<script>
import PublicHeader from "./components/Header.vue";
import PublicFooter from "./components/Footer.vue";

export default {
  name: "PublicLayout",

  components: {
    PublicHeader,
    PublicFooter
  }
};
</script>

<style lang="scss" scoped>
.btn-contact {
  float: right;
  position: fixed;
  line-height: 40px;
  right: 10%;
  bottom: 40px;
  z-index: 1024;

  &::before {
    content: "";
    border-top: 20px solid #0469a0;
    border-left: 10px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    bottom: -39px;
    right: 0;
  }

  img.icon-contact {
      position: relative;
      top: 8px;
  }    
}

@media screen and (max-width: 960px) {
    .btn-contact {
      font-size: 12px !important;
      padding: 8px 5px 0 !important;
      display: flex;
      flex-flow: column-reverse;
      background: transparent !important;
      color: #0469a0 !important;

      img {
        background: #0491cc;
        padding: 5px;
        margin: auto;
        height: 45px;
        border-radius: 4px;
      }

      &::before {
        display: none;
      }
    }
}
</style>
