<template>
    <section class="public-layout">
    <public-header />
      <main class="user-account-layout py-5 bg-blue-50 min-h-screen">
        <div class="container">

          <VerifyAccount v-if="!profile.user.verified" />

          <client-card v-if="profile.user.verified" />

          <div class="grid" v-if="profile.user.verified">
            <div class="col-12 md:col-4">
              <sidebar />
            </div>

            <div class="col-12 md:col-8">
              <router-view />
            </div>
          </div>
        </div>
      </main>
    <public-footer />
  </section>
</template>

<script>
import ClientCard from "./components/ClientCard.vue";
import Sidebar from "./components/Sidebar.vue";

import PublicHeader from "../../public/layout/components/Header.vue";
import PublicFooter from "../../public/layout/components/Footer.vue";

import VerifyAccount from "./components/VerifyAccount.vue"

export default {
  name: "UserAccountLayout",

  components: {
    ClientCard,
    Sidebar,
    PublicHeader,
    PublicFooter,
    VerifyAccount
  },

  data() {
    return {
      authenticated: localStorage.getItem('token') ? localStorage.getItem('token') : null,
      profile:{
        user: {
          name:'',
          phone: '',
          verified: true
        }
      },
    }
  },

  async mounted() {
    if(this.authenticated) {
      try {
        let response = await this.axios
        .get("auth/profile", {
          headers: {
            'Authorization': `Bearer ${this.authenticated}`
          }
        });
        this.profile = response.data.data;
        this.profile.user.verified = response.data.data.user.verified;
      } catch (error) {
        localStorage.removeItem('token');
        console.log(error);
      }
    }
  },

};
</script>

<style lang="scss" scoped></style>
