<template>
  <main class="bg-blue-50">
    <course-name />

    <div class="container grid">
      <div class="col-12 md:col-8">
        <university />
        <gallery />
        <location />
        <requirements />
        <about-course />
        <related-courses />
      </div>

      <div class="col-12 md:col-4">
        <average-price />
      </div>
    </div>
  </main>
</template>

<script>
import CourseName from "../components/CourseName.vue";
import University from "../components/University.vue";
import Gallery from "../components/Gallery.vue";
import Location from "../components/Location.vue";
import Requirements from "../components/Requirements.vue";
import AboutCourse from "../components/AboutCourse.vue";
import RelatedCourses from "../components/RelatedCourses.vue";
import AveragePrice from "../components/AveragePrice.vue";
import { mapActions } from "vuex";

export default {
  name: "UniversityCourseProfile",

  components: {
    CourseName,
    University,
    Gallery,
    Location,
    Requirements,
    AboutCourse,
    RelatedCourses,
    AveragePrice
  },

  created() {
    this.courseData([this.$route.name, this.$route.params.id]);
  },

  beforeRouteUpdate(to, from, next) {
    if (to.params.id !== from.params.id) {
      this.courseData([this.$route.name, to.params.id]);
      next();
    }
  },

  methods: {
    ...mapActions({
      courseData: "courseProfileStore/courseData"
    })
  }
};
</script>

<style lang="scss" scoped></style>
