:root {
  --text-color: #0f172a;
  --text-color-secondary: #5e5e5e;
  --primary-color: #0369a1;
  --font-family: "Poppins", sans-serif;
  --bg-light: #e0f2fe;
  --text-color-dark: #0f172a;
  --font-family: "Poppins", sans-serif;
  --text-color-dark: #0f172a;
  --text-gray: #333;
}

// Poppins font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: var(--font-family) !important;
  direction: rtl;
  text-align: right;
  padding: 0;
  margin: 0;

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .container {
    max-width: 1320px;
    padding: 0 16px;
    margin: 0 auto;
  }

  .break-spaces {
    white-space: break-spaces;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    transition: 0.3s;
  }

  .p-fileupload-buttonbar {
    padding: 0 0 20px !important;
    background-color: transparent !important;
    border: none !important;
  }

  .p-fileupload-file-thumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
  }

  .p-fileupload-file-badge {
    display: none;
  }

  .p-fileupload-content {
    padding: 0 !important;
    border: none !important;
  }

  .p-datepicker-trigger {
    background-color: var(--primary-color);
    border: none;

    &:hover {
      background-color: var(--primary-color) !important;
    }
  }

  .bg-light {
    background-color: var(--bg-light);

    &:hover {
      background-color: var(--bg-light) !important;
      color: var(--primary-color) !important;
      opacity: 0.8;
    }
  }

  .radius-0 {
    border-radius: 0;
  }

  section.breadcrumb {
    li.p-menuitem {
      .p-menuitem-link {
        .p-menuitem-text {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: var(--text-color-dark);
        }
      }

      &:not(.p-breadcrumb-home) {
        .p-menuitem-link {
          .p-menuitem-text {
            color: var(--text-color);
          }
        }
      }
    }
  }

  .bg-black-900 {
    background: rgb(23, 31, 44);
  }

  .bg-black-800 {
    background: rgb(15, 23, 42);
  }

  .text-gray {
    color: var(--text-gray);
  }
}

// style in en
html:lang(en) {
  body {
    direction: ltr;
    text-align: left;
  }
}

.content-page {
  table {
      border: 1px solid #ccc;
      margin: 10px;

      tr {
        td {
          border: 1px solid #333;
          padding: 10px;
        }
      }
  }
}
