<template>
 <section class="container grid">
  <div class=" col-8 left-part">
    <div class="head">
      <svg xmlns="http://www.w3.org/2000/svg" width="23" height="20" viewBox="0 0 23 20" fill="none">
        <path d="M21.9744 15.0291V8.80039L22.1522 8.69689C22.5294 8.47789 22.7544 8.08714 22.7544 7.65139C22.7544 7.21564 22.5294 6.82414 22.1522 6.60514L13.0344 1.30864C12.6564 1.08921 12.227 0.973633 11.7898 0.973633C11.3527 0.973633 10.9233 1.08921 10.5452 1.30864L1.4267 6.60589C1.0502 6.82489 0.825195 7.21564 0.825195 7.65139C0.825195 8.08714 1.0502 8.47789 1.4267 8.69764L4.1912 10.3041V14.0384C4.19183 14.4652 4.30453 14.8844 4.51802 15.254C4.7315 15.6235 5.03829 15.9306 5.4077 16.1444L9.2132 18.3381C10.0074 18.7956 10.8984 19.0251 11.7894 19.0251C12.6804 19.0251 13.5707 18.7964 14.3657 18.3381L18.1704 16.1444C18.5401 15.9308 18.8471 15.6238 19.0607 15.2542C19.2744 14.8846 19.3871 14.4653 19.3877 14.0384V10.3034L20.6244 9.58489V15.0291C20.4121 15.1735 20.2516 15.3821 20.1665 15.6244C20.0814 15.8667 20.0763 16.1299 20.1518 16.3753C20.2273 16.6208 20.3795 16.8355 20.5861 16.9881C20.7926 17.1406 21.0427 17.223 21.2994 17.223C21.5562 17.223 21.8063 17.1406 22.0128 16.9881C22.2194 16.8355 22.3716 16.6208 22.4471 16.3753C22.5226 16.1299 22.5175 15.8667 22.4324 15.6244C22.3473 15.3821 22.1868 15.1735 21.9744 15.0291ZM18.0384 14.0376H18.0377C18.0377 14.4231 17.8314 14.7816 17.4969 14.9736L13.6922 17.1674C13.1133 17.4994 12.4576 17.6742 11.7902 17.6742C11.1228 17.6742 10.4671 17.4994 9.8882 17.1674L6.0827 14.9736C5.91843 14.8787 5.782 14.7423 5.68709 14.578C5.59218 14.4137 5.54213 14.2274 5.54195 14.0376V11.0879L10.5452 13.9949C10.9234 14.2143 11.3529 14.3299 11.7902 14.3299C12.2275 14.3299 12.657 14.2143 13.0352 13.9949L18.0384 11.0879V14.0376ZM12.3564 12.8279C12.1843 12.9277 11.9888 12.9803 11.7898 12.9803C11.5908 12.9803 11.3953 12.9277 11.2232 12.8279L2.31395 7.65139L11.2224 2.47489C11.3946 2.37506 11.5901 2.32249 11.7891 2.32249C11.9881 2.32249 12.1835 2.37506 12.3557 2.47489L21.2649 7.65064L12.3564 12.8279Z" fill="#0369A1"/>
      </svg>
           university Name 
    </div>

    <div class="card  mt-5 mb-5">
        <h3>Location</h3>
        <div class="grid location-card">
          <div class="col mt-5">
            <p><i class="pi pi-briefcase"></i>   ST_NUM :125 </p>
            <p><i class="pi pi-briefcase"></i>  City : San fransesco</p>
            <p><i class="pi pi-briefcase"></i>  zip: 31040 </p>
            <button class="mt-5">show Map</button>
        </div>

        <div class="col mt-5">
            <p><i class="pi pi-briefcase"></i>  City : San fransesco</p>
            <p><i class="pi pi-briefcase"></i>  zip: 31040 </p>
        </div>
      </div>
    </div> 

   <CourseReq tittle="course requierment"/>

    <div class="head">
      Level of course 
    </div>

  <CardAgain title="level 1" price="7,89"/>

  <CardAgain title="level 2" price="7,89"/>

  <CardAgain title="level 3" price="7,89"/>


  <AboutCourse tittle="About course"/>

  <h2> More Courses From This University </h2>
  <div class="card">
  <div class="grid">
      <div class="col-4"> 
        <Dropdown
        v-model="selectedCity"
        editable
        :options="selectedCountry && cities"
        optionLabel="name"
        :emptyMessage="selectedCountry ? 'No Cities Available' : 'Select Country First'"
        placeholder="select city"
        class="w-full border-noround"
      />  </div>
      <div class="col-4"> 
        <Dropdown
        v-model="selectedCity"
        editable
        :options="selectedCountry && cities"
        optionLabel="name"
        :emptyMessage="selectedCountry ? 'No Cities Available' : 'Select Country First'"
        placeholder="select city"
        class="w-full border-noround"
      />  </div>
     <div class="col-4">
      <button class="btn"> Reset</button>
     </div>
  </div>
  </div>
  <div class="more-info mt-5 mb-5">
  </div>
  <LastOne/>
  </div>
  <AveragePrice/>  
  </section>


   
    
      <!-- <div class="grid">
        <div class="col-5">
          <img src="../components/../../../../../assets/images/image 8.png" alt="">
        </div>
        <div class="col-7">
          <h2>course name could be in 2 lines the most ...</h2>
          <p><i class="pi pi-map-marker"></i> Location of course</p>
          <p> E£5,210.53</p>
          <p> level :bachelor degre </p>
          <p> 33 lessons / week</p> 
        </div>
      </div>
           <div class="grid">
        <div class="col-5">
          <img src="../components/../../../../../assets/images/image 7.png" alt="">
        </div>
        <div class="col-7">
          <h2>course name could be in 2 lines the most ...</h2>
          <p><i class="pi pi-map-marker"></i> Location of course</p>
          <p> E£5,210.53</p>
          <p> level :bachelor degre </p>
          <p> 33 lessons / week</p> 
        </div>
      </div>
           <div class="grid">
        <div class="col-5">
          <img src="../components/../../../../../assets/images/image 6.png" alt="">
        </div>
        <div class="col-7">
          <h2>course name could be in 2 lines the most ...</h2>
          <p><i class="pi pi-map-marker"></i> Location of course</p>
          <p style="font-size:22px;"> E£5,210.53</p>
          <p> level :bachelor degre </p>
          <p> 33 lessons / week</p> 
        </div>
      </div>
    </div> -->

   <!-- <div class=" col-4 right-part">
    <h2>AVerage Price </h2>
    <div class="grid mt-2 mb-2">
      <div class="col">
        <h4 style="color: red;">7.89USD</h4>
      </div>
      <div class="col">
        <h4> per month</h4>
      </div>
    </div>
    <div class="h-line" style="width: 90%;height:3px; background: #E6E9EB;margin:auto;"></div>
    <button>Show Map </button>
    <h4> Starts Dates</h4>
    <li>january 12-1-2021</li>
    <li>septemer part time</li>
    <li>june to july</li>
    <li> December 20-22</li>
   </div> -->
 
 


 
</template>
<script>
import Dropdown from "primevue/dropdown";
import CardLevel from "../components/CardLevel.vue"
import AboutCourse from "../components/AboutCourse.vue";
import CardAgain from "../components/CardAgain.vue";
import AveragePrice from "../components/AveragePrice.vue";
import CourseReq from "../components/CourseReq.vue";
import LastOne from "../components/LastOne.vue";
export default {
  name: "Filter",

  components: {
    Dropdown,
    CardLevel,
    AboutCourse,
    CardAgain,
    AveragePrice,
    CourseReq,
    LastOne,
  },
}
</script>
<style scoped>
.container {
  background-color: white;
}
.head{
  width: 812px;
  background-color: #f0f9ff;
  padding: 30px;
  font-size: 20px;
  color: #075985;
}
.location-card p{
  margin-bottom: 10px;
  margin-top: 5px;
}
.card{
  width: 812px;
  padding: 30px;
  background-color: white;
  box-shadow: 0px 0px 6px 0px rgba(12, 74, 110, 0.16);
}
button{
padding: 9px 50px;
justify-content: center;
align-items: center;
border-radius: 2px;
border: 1px solid var(--primary-700, #0369A1);
background:  #f0f9ff;
}
.card li{
  list-style: none;
}
.card .about li {
   list-style:disc;
}
.btn{
padding: 15px 100px;
justify-content: center;
align-items: center;
border-radius: 2px;
border: 1px solid var(--primary-700, #0369A1);
background:  #f0f9ff;
}

h3{
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins;
  font-style: normal;
  line-height: normal;
}
h4{
  font-size: 22px;
  font-weight: 300;
  font-family: Poppins;
  font-style: normal;
  line-height: normal;
}
.levels p {
  color:  #828282;
/* 18/Regular */
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 200;
line-height: normal;
}
.col li {
  margin-top: 4px;
  font-size: 16px;
  font-weight: 400;
}

.right-part{
  width: 400px;
  padding: 12px;
  background-color: white;
}
.right-part button{
  
  padding: 9px 50px;
  margin-top: 20px;
  font-size: 20px;
  justify-content: center;
}
.right-part h4{
  margin-top: 10px;
}


</style>