<template>
  <main class="quick-apply">
    <div class="page-head py-4 mb-5">
      <div class="container">
        <h1 class="text-white text-2xl font-semibold">Quick Apply</h1>
      </div>
    </div>

    <div class="container pb-5">
      <div class="form p-4 mx-auto bg-white border-round-xs shadow-1">
        <form @submit.prevent="handleSubmit(!v$.$invalid)">
          <h2 class="mb-4 text-2xl font-semibold text-color">Personal Information</h2>

          <div class="filed grid mb-3">
            <label
              for="name"
              class="input-label col-12 md:col-3 mt-2 flex justify-content-start md:justify-content-end"
            >
              Name <span class="text-primary">*</span>
            </label>

            <div class="col-12 md:col-9">
              <InputText
                id="name"
                v-model="v$.name.$model"
                :class="{ 'p-invalid': v$.name.$invalid && submitted }"
                class="w-full"
                placeholder="Write Your name"
              />
              <div>
                <span v-if="v$.name.$error && submitted">
                  <span id="name-error" v-for="(error, index) of v$.name.$errors" :key="index">
                    <small class="p-error">{{ error.$message }}</small>
                  </span>
                </span>
                <small
                  v-else-if="(v$.name.$invalid && submitted) || v$.name.$pending.$response"
                  class="p-error"
                >
                  {{ v$.name.required.$message.replace("Value", "Name") }}
                </small>
              </div>
            </div>
          </div>

          <div class="filed grid mb-3">
            <label
              for="email"
              class="input-label col-12 md:col-3 mt-2 flex justify-content-start md:justify-content-end"
            >
              Email Address <span class="text-primary">*</span>
            </label>

            <div class="col-12 md:col-9">
              <InputText
                id="email"
                v-model="v$.email.$model"
                :class="{ 'p-invalid': v$.email.$invalid && submitted }"
                class="w-full"
                type="email"
                placeholder="Write Your name"
              />
              <div>
                <span v-if="v$.email.$error && submitted">
                  <span id="email-error" v-for="(error, index) of v$.email.$errors" :key="index">
                    <small class="p-error">{{ error.$message }}</small>
                  </span>
                </span>
                <small
                  v-else-if="(v$.email.$invalid && submitted) || v$.email.$pending.$response"
                  class="p-error"
                >
                  {{ v$.email.required.$message.replace("Value", "Email Address") }}
                </small>
              </div>
            </div>
          </div>

          <div class="filed grid mb-3">
            <label
              for="phone"
              class="input-label col-12 md:col-3 mt-2 flex justify-content-start md:justify-content-end"
            >
              Phone number <span class="text-primary">*</span>
            </label>

            <div class="col-12 md:col-9">
              <div class="flex gap-2">
                <Dropdown
                  v-model="countryKey"
                  editable
                  :options="keys"
                  optionLabel="code"
                  selectOnFocus
                  class="max-w-7rem"
                />
                <InputText
                  id="phone"
                  v-model="v$.phone.$model"
                  :class="{ 'p-invalid': v$.phone.$invalid && submitted }"
                  class="w-full"
                  type="phone"
                  placeholder="Phone Number"
                />
              </div>
              <div>
                <span v-if="v$.phone.$error && submitted">
                  <span id="phone-error" v-for="(error, index) of v$.phone.$errors" :key="index">
                    <small class="p-error">{{ error.$message }}</small>
                  </span>
                </span>
                <small
                  v-else-if="(v$.phone.$invalid && submitted) || v$.phone.$pending.$response"
                  class="p-error"
                >
                  {{ v$.phone.required.$message.replace("Value", "Phone") }}
                </small>
              </div>
            </div>
          </div>

          <h2 class="mt-6 mb-4 text-2xl font-semibold text-color">Main Information</h2>

          <div class="filed grid mb-3">
            <label
              for="level"
              class="input-label col-12 md:col-3 mt-2 flex justify-content-start md:justify-content-end"
            >
              Level
            </label>

            <div class="col-12 md:col-9">
              <Dropdown
                v-model="level"
                :options="applyLevels"
                optionLabel="name"
                class="w-full"
                placeholder="Choose level"
              />
              <!-- <div>
                <span v-if="v$.level.$error && submitted">
                  <span id="level-error" v-for="(error, index) of v$.level.$errors" :key="index">
                    <small class="p-error">{{ error.$message }}</small>
                  </span>
                </span>
                <small
                  v-else-if="(v$.level.$invalid && submitted) || v$.level.$pending.$response"
                  class="p-error"
                >
                  {{ v$.level.required.$message.replace("Value", "Level") }}
                </small>
              </div> -->
            </div>
          </div>

          <div class="filed grid mb-3">
            <label
              for="subject"
              class="input-label col-12 md:col-3 mt-2 flex justify-content-start md:justify-content-end"
            >
              Subject
            </label>

            <div class="col-12 md:col-9">
              <Dropdown
                v-model="subject"
                :options="subjects"
                optionLabel="name"
                class="w-full"
                placeholder="Choose subject"
              />
              <!-- <div>
                <span v-if="v$.subject.$error && submitted">
                  <span id="subject-error" v-for="(error, index) of v$.subject.$errors" :key="index">
                    <small class="p-error">{{ error.$message }}</small>
                  </span>
                </span>
                <small
                  v-else-if="(v$.subject.$invalid && submitted) || v$.subject.$pending.$response"
                  class="p-error"
                >
                  {{ v$.subject.required.$message.replace("Value", "Subject") }}
                </small>
              </div> -->
            </div>
          </div>

          <div class="filed grid mb-3">
            <label
              class="input-label flex align-items-center col-12 md:col-5 mt-2 flex justify-content-start md:justify-content-end"
            >
              <span>Course Type </span>
              <span class="text-xs text-color-secondary">( Optional )</span>
            </label>

            <div class="mt-1 flex align-items-center col-12 md:col-7">
              <div class="inputs flex gap-4">
                <div v-for="(input, index) in courseTypes" :key="input">
                  <div class="flex align-items-center gap-2">
                    <RadioButton
                      v-model="courseType"
                      :inputId="'type-1' + index"
                      :value="input.type"
                    />
                    <label :for="'type-1' + index" class="cursor-pointer line-height-3">
                      {{ input.type }}
                    </label>
                  </div>
                </div>
              </div>
              <!-- <div>
                <span v-if="v$.courseType.$error && submitted">
                  <span id="courseType-error" v-for="(error, index) of v$.courseType.$errors" :key="index">
                    <small class="p-error">{{ error.$message }}</small>
                  </span>
                </span>
                <small
                  v-else-if="(v$.courseType.$invalid && submitted) || v$.courseType.$pending.$response"
                  class="p-error"
                >
                  {{ v$.courseType.required.$message.replace("Value", "Type") }}
                </small>
              </div> -->
            </div>
          </div>

          <div class="filed grid mb-3">
            <label
              class="input-label flex align-items-center col-12 md:col-5 mt-2 flex justify-content-start md:justify-content-end"
            >
              <span>Funded Type <span class="text-primary">*</span> </span>
              <span class="text-xs text-color-secondary">( Optional )</span>
            </label>

            <div class="mt-1 flex align-items-center col-12 md:col-7">
              <div class="inputs flex gap-4">
                <div v-for="(input, index) in fundedTypes" :key="input">
                  <div class="flex align-items-center gap-2">
                    <RadioButton
                      v-model="fundedType"
                      :inputId="'type-2' + index"
                      :value="input.type"
                    />
                    <label :for="'type-2' + index" class="cursor-pointer line-height-3">
                      {{ input.type }}
                    </label>
                  </div>
                </div>
              </div>
              <!-- <div>
                <span v-if="v$.type.$error && submitted">
                  <span id="type-error" v-for="(error, index) of v$.type.$errors" :key="index">
                    <small class="p-error">{{ error.$message }}</small>
                  </span>
                </span>
                <small
                  v-else-if="(v$.type.$invalid && submitted) || v$.type.$pending.$response"
                  class="p-error"
                >
                  {{ v$.type.required.$message.replace("Value", "Type") }}
                </small>
              </div> -->
            </div>
          </div>

          <div class="filed grid mb-3">
            <label
              for="unversity"
              class="input-label align-items-start md:align-items-end col-12 md:col-3 mt-2 flex flex-column justify-content-start md:justify-content-end"
            >
              <span>Selsect unversities</span>
              <span class="text-xs text-color-secondary m-0 md:ml-auto">Up To 5</span>
            </label>

            <div class="col-12 md:col-9">
              <MultiSelect
                v-model="selectedUnversities"
                display="chip"
                :options="unversities"
                :selectAll="false"
                :showToggleAll="false"
                optionLabel="name"
                placeholder="Choose Option"
                :maxSelectedLabels="5"
                :selectionLimit="5"
                class="w-full"
              />

              <!-- <div>
                <span v-if="v$.unversity.$error && submitted">
                  <span id="unversity-error" v-for="(error, index) of v$.unversity.$errors" :key="index">
                    <small class="p-error">{{ error.$message }}</small>
                  </span>
                </span>
                <small
                  v-else-if="(v$.unversity.$invalid && submitted) || v$.unversity.$pending.$response"
                  class="p-error"
                >
                  {{ v$.unversity.required.$message.replace("Value", "Unversity") }}
                </small>
              </div> -->
            </div>
          </div>

          <div class="filed grid mb-3">
            <label
              for="date"
              class="input-label col-12 md:col-3 mt-2 flex justify-content-start md:justify-content-end"
            >
              Date
            </label>

            <div class="col-12 md:col-9">
              <Calendar
                id="date"
                v-model="startDate"
                :minDate="minDate"
                dateFormat="dd/mm/yy"
                placeholder="DD / MM / YYYY"
                showIcon
              />

              <!-- <div>
                <span v-if="v$.date.$error && submitted">
                  <span id="date-error" v-for="(error, index) of v$.date.$errors" :key="index">
                    <small class="p-error">{{ error.$message }}</small>
                  </span>
                </span>
                <small
                  v-else-if="(v$.date.$invalid && submitted) || v$.date.$pending.$response"
                  class="p-error"
                >
                  {{ v$.date.required.$message.replace("Value", "Date") }}
                </small>
              </div> -->
            </div>
          </div>

          <h2 class="mt-6 mb-1 text-2xl font-semibold text-color">Upload Required Documents</h2>
          <p class="mb-4 text-sm text-color-secondary">
            ( Passport, Bachelor Degree, Sr. Secondary Certificate )
          </p>

          <FileUpload :multiple="true" accept="image/*" :maxFileSize="1000000" @select="onSelect">
            <template #header="{ chooseCallback, clearCallback, files }">
              <div class="flex align-items-center gap-2">
                <Button
                  @click="chooseCallback()"
                  icon="pi pi-plus"
                  label="Add Photo"
                  class="bg-white w-14rem h-14rem border-1 border-dashed border-500 flex flex-column justify-content-center align-items-center gap-1"
                >
                  <i class="pi pi-plus text-xl text-primary"></i>
                  <span class="text-color-secondary">Add Photo</span>
                </Button>
                <Button
                  @click="clearCallback()"
                  icon="pi pi-times"
                  label="Clear"
                  :class="
                    'p-button-danger border-0 w-fit h-fit' +
                    (!files || files?.length === 0 ? ' hidden' : ' ')
                  "
                ></Button>
              </div>
            </template>

            <template #empty v-if="photos && photos?.length">
              <div class="h-6rem flex justify-content-center align-items-center">
                Click on the "Add Photo" button to upload photos.
              </div>
            </template>

            <template #content="{ files, messages }">
              <div v-if="messages">
                <small class="p-error">{{ messages[0] }}</small>
              </div>
              <div v-if="files" class="grid">
                <div v-for="(image, index) of files" :key="index" class="col-3">
                  <img
                    :src="image.objectURL"
                    style="width: 100%; height: 100%; object-fit: cover"
                  />
                </div>
              </div>
            </template>
          </FileUpload>

          <div class="action flex justify-content-end">
            <Button
              class="bg-primary border-0 border-round-xs py-3 px-8 mt-4 w-fit"
              type="submit"
              label="Apply"
              :loading="loading"
            />
          </div>
        </form>
      </div>
    </div>
  </main>
</template>

<script>
import { useVuelidate } from "@vuelidate/core";
import { required, numeric, minLength, email } from "@vuelidate/validators";
import InputText from "primevue/inputtext";
import Dropdown from "primevue/dropdown";
import MultiSelect from "primevue/multiselect";
import RadioButton from "primevue/radiobutton";
import Calendar from "primevue/calendar";
import FileUpload from "primevue/fileupload";
import Button from "primevue/button";

export default {
  name: "QuickApply",

  components: {
    InputText,
    Dropdown,
    MultiSelect,
    RadioButton,
    Calendar,
    FileUpload,
    Button
  },

  setup: () => ({ v$: useVuelidate() }),

  data: () => ({
    submitted: false,

    name: "",
    email: "",
    phone: "",
    countryKey: "",
    keys: [
      {
        code: "+ 20",
        country: "Egypt"
      },
      {
        code: "+ 974",
        country: "Canada"
      }
    ],
    level: null,
    applyLevels: [
      { name: "Beginner" },
      { name: "Intermediate" },
      { name: "Advanced" },
      { name: "Expert" }
    ],
    subject: null,
    subjects: [
      { name: "Math" },
      { name: "English" },
      { name: "Arabic" },
      { name: "Science" },
      { name: "History" },
      { name: "Geography" },
      { name: "Computer" }
    ],
    courseType: null,
    courseTypes: [
      {
        type: "Full time"
      },
      {
        type: "Part time"
      },
      {
        type: "Online"
      }
    ],
    fundedType: null,
    fundedTypes: [
      {
        type: "Sponsored"
      },
      {
        type: "Self Funded"
      }
    ],
    selectedUnversities: null,
    unversities: [
      { name: "Berkeley" },
      { name: "Los Angeles" },
      { name: "San Diego" },
      { name: "Irvine" },
      { name: "Davis" },
      { name: "Santa Barbara" },
      { name: "Santa Cruz" },
      { name: "Merced" },
      { name: "Riverside" }
    ],
    startDate: null,
    minDate: new Date(),
    photos: [],
    loading: false
  }),

  validations() {
    return {
      name: {
        required,
        minLength: minLength(3)
      },
      email: {
        required,
        email
      },
      phone: {
        required,
        numeric
      },
      level: {
        required
      },
      subject: {
        required
      }
    };
  },

  methods: {
    handleSubmit(isFormValid) {
      this.submitted = true;

      if (!isFormValid) {
        return;
      }

      this.loading = true;

      console.log("valid");
    },

    // on photo select
    onSelect(event) {
      this.photos = event.files;
    }
  }
};
</script>

<style lang="scss" scoped>
.quick-apply {
  .page-head {
    background-color: #1e293b;
  }

  .form {
    max-width: 872px;
  }
}

:deep(.p-radiobutton-box) {
  &:hover {
    border-color: #0369a1 !important;
  }
}

:deep(.p-radiobutton-box.p-highlight) {
  background-color: #0369a1 !important;
  border-color: #0369a1 !important;
}
</style>
