<template>
  <section class="search py-4">
    <div class="container flex justify-content-center align-items-center gap-3">
      <label for="search" class="hidden md:block text-white text-lg font-bold">Search</label>
      <span class="p-input-icon-left md:align-self-stretch flex-grow-1">
        <i class="pi pi-search" />
        <InputText
          v-model="search"
          placeholder="Search Questions"
          class="border-noround w-full h-full"
          id="search"
        />
      </span>
    </div>
  </section>
</template>

<script>
import InputText from "primevue/inputtext";
export default {
  name: "Search",
  components: {
    InputText
  },

  data() {
    return {
      search: ""
    };
  }
};
</script>

<style lang="scss" scoped>
.search {
  background-color: #1e293b;
}
</style>
