<template>
  <footer class="footer">
    <div class="container">
      <div class="flex flex-column lg:flex-row">
        <div class="col-12 lg:col-4">
          <img alt="logo" src="@/assets/images/logo-footer.svg" height="75" class="logo" />
          <p class="mailto">Send us @ <a href="mailto:Info@domain.com">Info@domain.com</a></p>
          <p class="bio">We are here to Support you our team <br> is ready to support your goals</p>
        </div>
        <div class="col-12 lg:col-2">
          <h4 class="w-title text-black-alpha-90">About</h4>
          <ul class="menu">
            <li>
              <router-link :to="{ name: 'About'}">About us</router-link>
            </li>
            <li>
              <router-link :to="{ name: 'Contact'}">Contact us</router-link>
            </li>
            <li>
              <router-link :to="{ name: 'Blog'}">Blog</router-link>
            </li>                        
          </ul>
        </div>
        <div class="col-12 lg:col-3">
          <h4 class="w-title text-black-alpha-90">Legal</h4>
          <ul class="menu">
            <li>
              <router-link :to="{ name: 'Terms'}">Terms & conditions</router-link>
            </li>
            <li>
              <router-link :to="{ name: 'Privacy'}">Privacy policy</router-link>
            </li>                       
          </ul>
        </div>
        <div class="col-12 lg:col-3">
          <h4 class="w-title text-black-alpha-90">Quick Links</h4>
          <ul class="menu">
            <li>
              <router-link :to="{ name: 'Accommodations'}">Accomodation</router-link>
            </li>
            <li>
              <router-link :to="{ name: 'SellBuy'}">Sell & Buy</router-link>
            </li>
            <li>
              <router-link :to="{ name: 'Workshops'}">Workshop & Tutors</router-link>
            </li> 
            <li>
              <router-link :to="{ name: 'QuestionsAnswers'}">Q & A</router-link>
            </li>                                    
          </ul>
        </div>                
      </div>
    </div>
  </footer>
  <Divider />
  <div class="container">
    <div class="flex flex-column lg:flex-row justify-content-between pb-3">
      <div class="copyright">
        <p class="text-center mb-3 md:mb-0">Copyright © Student Center 2022 All Rights Reversed. Powered by line</p>
      </div>
      <div class="socail text-center">
        <a href="#" class="icon"><i class="pi pi-twitter"></i></a>
        <a href="#" class="icon"><i class="pi pi-facebook"></i></a>
        <a href="#" class="icon"><i class="pi pi-instagram"></i></a>
      </div>
    </div>
  </div>
</template>

<script setup>
import Divider from 'primevue/divider';

</script>

<style lang="scss">
footer.footer {
  padding: 80px 0 75px;

  .mailto {
    font-size: 16px;
    color: #0F172A;
    font-weight: 400;
    margin: 20px 0;

    a {
      color: #0C4A6E;
    }
  }

  .bio {
    font-size: 16px;
    color: black;
  }

  h4.w-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }

  ul.menu {
    li {
      a {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #0F172A;
        margin-top: 18px;
        display: inline-block;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @media screen and (max-width: 967px) {
    text-align: center;
  }
}

.socail {
  .icon {
    color: #0369A1;
    margin-left: 50px;

    .pi {
      font-size: 1.4rem;
    }
  }
}
</style>
