<template>
  <header>
    <div class="card relative z-2" style="background-color: #0369A1;">
      <div class="container">
        <Menubar :model="items" class=" border-none">
          <template #start>
            <router-link to="/">
              <img alt="logo" style="background-color: aliceblue;padding:10px 15px;
              width:90px;height:100px;margin-top:-10px" src="@/assets/images/logo.svg"  class="logo " />
            </router-link>
          </template>
          <template #end>
            <Authentication></Authentication>
          </template>
        </Menubar>
      </div>
      <Divider class="m-0" />
    </div>
  </header>
</template>

<script>
import Menubar from "primevue/menubar";
import Authentication from "../../../auth/views/Authentication.vue";
import Divider from 'primevue/divider';

export default {
  name: "Header",

  components: {
    Menubar,
    Authentication,
    Divider
  },

  data: () => ({
    items: [
      {
        label: "University Courses",
        to: { name: 'UniversityCourses' }
      },
      {
        label: "English Courses",
        to: { name: 'EnglishCourses' }
      },
      {
        label: "Get Settled",
        items: [
          {
            label: "Accommodations",
            to: { name: 'Accommodations' }
          },
          {
            label: "Sell & Buy",
            to: { name: 'SellBuy' }
          },
          {
            label: "Workshops and Tutors",
            to: { name: 'Workshops' }
          },
          {
            label: "Q & A",
            to: { name: 'QuestionsAnswers' }
          }
        ]
      },
      {
        label: "About Us",
        to: { name: 'About' }
      },
      {
        label: "Contact Us",
        to: { name: 'Contact' }
      },
      {
        label: "EN",
        icon: "pi pi-globe",
      }
    ],
  }),
}
</script>

<style lang="scss">
.p-menubar {
  padding: 0;
  min-height: 119px;
  background-color: #0369A1;

  .p-menuitem {
    .p-menuitem-content {
      &:hover,
      &:focus,
      &:active {
        background-color: transparent !important;
      }

      .p-menuitem-link {
        font-size: 18px;

        &.router-link-active {
          background: #e0f1fe;
          padding: 53px 1.25rem;
          margin-top: -3px;
        }
    
        .p-menuitem-text {
            color:white !important;
            
        }

        &:hover,
        &:focus,
        &:active {
          .p-menuitem-text {
            color:white !important;
            opacity: 0.8;
          }
        }

        .p-submenu-icon {
          color: var(--primary-color) !important;
        }

        span.p-menuitem-icon {
          color: white !important;
        }
      }
    }

    &.p-focus,
    &.p-highlight {
      .p-menuitem-content {
        background-color: transparent !important;

        .p-menuitem-link {
          .p-menuitem-text {
            color: white !important;
          }
        }
      }
    }
  }

  .p-submenu-list {
    background-color: var(--surface-a);
    top: 80px;

    .router-link-active {
      padding: 0.75rem 1.25rem !important;
      background-color: transparent !important;
    }
  }

  .p-menubar-root-list {
    margin: auto;
  }
}

.p-dialog {
  .p-dialog-header {
    .p-dialog-title {
      width: 100%;
      color: #4e4e4e;
      font-size: 30px;
      text-align: center;
      margin-left: 10%;
    }
  }

  .p-dialog-footer {
    text-align: center;
  }

  .p-password-input {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .p-menubar {
    .p-menuitem {
      .p-menuitem-content {
        .p-menuitem-link {
          font-size: 14px;
          padding-right: 5px !important;
          padding-left: 5px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .p-menubar {
    .p-menubar-button {
      height: 44px;
      width: 44px;
      border: 1px solid #ccc;
      border-radius: 0;
      margin-left: auto;

      .pi.pi-bars {
        color: #fff;
        font-size: 25px;
      }

      &:hover {
        background-color: transparent;
      }
    }

    .p-menubar-root-list {
      background: #fff;
      border-top: 1px solid #fff;
      padding: 15px;

      .p-menuitem {
        padding: 20px 0;
        border-bottom: 1px solid #fff;

        .p-menuitem-link {
          padding: 0 !important;
          background-color: transparent !important;
        }
      }
    }

    .p-submenu-list {
      .p-menuitem {
        border: none;
        padding: 20px 10px 0;
      }
    }

    .p-menuitem.p-highlight {
      .p-menuitem-content {
        background-color: transparent !important;
      }
    }
  }
}
</style>
