<template>
  <section class="about p-4 mb-5 border-round-xs bg-white shadow-1">
    <h2 class="mb-3 text-color text-2xl font-semibold">About Accommodation</h2>
    <div class="flex flex-column gap-3">
      {{ data }}
    </div>
  </section>
</template>

<script>
export default {
  name: "About",
  props: {
    data: String
  }
};
</script>

<style lang="scss" scoped></style>
