<template>
  <section class="p-3 sm:p-4 bg-white shadow-1" v-for="item in products" :key="item.id">
    <div class="mb-3">
      <router-link :to="{ name: 'AccommodationProfile', params: { id: item.id } }">
        <h2
          class="title text-primary font-medium text-base sm:text-xl white-space-nowrap overflow-hidden text-overflow-ellipsis"
          :title="item.title"
        >
          {{ item.title }}
        </h2>
      </router-link>
    </div>

    <div
      class="flex flex-wrap justify-content-start column-gap-3 mb-3 border-bottom-1 border-200 pb-3"
    >
      <span class="text-xl font-medium text-orange-700">{{ item.price }} {{ item.currency }}</span>
      <span class="text-base font-normal">per Month</span>
    </div>

    <div class="flex flex-wrap row-gap-2 mb-3">
      <div class="w-12rem flex justify-content-start gap-2">
        <i class="pi pi-home text-primary text-xl font-normal"></i>
        <span
          ><span class="text-orange-700 font-semibold">{{ item.rooms }}</span> /8 Bed rooms</span
        >
      </div>
      <div class="flex justify-content-start gap-2">
        <i class="pi pi-map-marker text-primary text-xl font-normal"></i>
        <span class="text-primary">{{ item.location }}</span>
      </div>
    </div>

    <span class="text-color-secondary" style="word-wrap: break-word">{{ item.description }}</span>
  </section>
</template>

<script setup>
import { toRefs } from "vue";

const props = defineProps(["dataCards"]);
const { dataCards: products } = toRefs(props);
</script>

<style lang="scss" scoped>
.title {
  text-align: start;
}
</style>
