<template>
  <section class="average-price p-4 mb-5 border-round-xs bg-white shadow-1">
    <h2 class="mb-3 text-color text-2xl font-semibold">Average Price</h2>
    <div class="mb-3 flex justify-content-between align-items-center flex-wrap column-gap-3">
      <span class="text-2xl font-semibold text-red-700">{{ price }} {{ currency }}</span>
      <span class="text-xl text-color">per month</span>
    </div>
    <div
      class="mb-2 flex justify-content-between align-items-center flex-wrap column-gap-4 row-gap-2"
    >
      <div class="rooms flex align-items-center gap-2">
        <i class="pi pi-home text-lg text-primary"></i>
        <p class="pt-1 text-base">
          <span class="text-lg font-medium text-red-700">{{ rooms }}</span> / rooms
        </p>
      </div>
      <div class="location flex align-items-center gap-2 pt-1">
        <i class="pi pi-map-marker text-lg text-primary"></i>
        <p class="text-primary">{{ location }}</p>
      </div>

      <div class="location flex align-items-center gap-2 pt-1">
        <i class="pi pi-compass text-lg text-primary"></i>
        <p class="text-primary">{{ type }}</p>
      </div>
    </div>
    <Divider />
    <h3 class="mb-3 text-2xl font-semibold text-color">Contact Info</h3>
    <div class="user flex flex-column gap-3">
      <div class="flex align-items-center gap-3">
        <div class="user-image">
          <img
            :src="data.profile"
            :alt="data.name"
            style="width: 60px; height: 60px; border-radius: 50%; object-fit: cover"
          />
        </div>
        <span class="text-lg font-semibold text-color">{{ data.name }}</span>
      </div>
      <a
        :href="`tel:${data.country_code + data.phone}`"
        class="contact flex align-items-center gap-3"
      >
        <i class="pi pi-phone text-primary"></i>
        <span class="text-color">{{ data.phone }}</span>
      </a>
      <a :href="`mailto:${data.email}`" class="contact flex align-items-center gap-3">
        <i class="pi pi-envelope text-primary"></i>
        <span class="text-color">{{ data.email }}</span>
      </a>
      <a
        :href="`https://wa.me/${data.country_code + data.whatsapp}`"
        target="_blank"
        class="contact flex align-items-center gap-3"
      >
        <i class="pi pi-whatsapp text-primary"></i>
        <span class="text-color">{{ data.whatsapp }}</span>
      </a>
    </div>
  </section>
</template>

<script>
import Divider from "primevue/divider";

export default {
  name: "AveragePrice",
  props: {
    data: String,
    price: String,
    currency: String,
    rooms: String,
    location: String,
    type: String
  },
  components: {
    Divider
  }
};
</script>

<style lang="scss" scoped></style>
