<template>
  <section class="filter bg-white md:p-4 md:shadow-1">
    <div class="flex justify-content-between align-items-center mb-4">
      <h2 class="text-xl font-normal">Filters</h2>
      <i class="pi pi-filter text-xl text-primary"></i>
    </div>

    <div
      @click="clearAll"
      class="text-center text-lg font-normal text-primary bg-cyan-50 border-1 border-primary py-2 mb-4 cursor-pointer"
    >
      Clear all
    </div>

    <!-- Choose Country -->
    <div class="mb-4">
      <div class="flex justify-content-between align-items-center mb-2">
        <h3 class="font-normal text-base">Country</h3>
        <span class="text-primary cursor-pointer"
        @click="
          selectedCountry = null;
          selectedCity = null;
        ">Clear</span>
      </div>
      <Dropdown
        v-model="selectedCountry"
        :options="countries"
        optionLabel="name"
        placeholder="Choose country"
        class="w-full border-noround"
        @change="getCountryCities"
      />
    </div>

    <!-- Choose City -->
    <div class="mb-4">
      <div class="flex justify-content-between align-items-center mb-2">
        <h3 class="font-normal text-base">City</h3>
        <span class="text-primary cursor-pointer" @click="selectedCity = null">Clear</span>
      </div>
      <Dropdown
        v-model="selectedCity"
        editable
        :options="selectedCountry && cities"
        optionLabel="name"
        :emptyMessage="selectedCountry ? 'No Cities Available' : 'select Country First'"
        placeholder="Choose city"
        class="w-full border-noround"
      />
    </div>

    <!-- Number of Bedrooms -->
    <div class="mb-4">
      <div class="flex justify-content-between align-items-center mb-2">
        <h3 class="font-normal text-base">Number of Bedrooms</h3>
        <span class="text-primary cursor-pointer" @click="num_rooms = 0">Clear</span>
      </div>
      <span class="flex justify-content-end">{{ this.num_rooms === 0 ? 'All' : this.num_rooms }}</span>
      <Slider v-model="num_rooms" class="mt-2" />
    </div>

    <!-- Accommodations Type -->
    <div class="mb-4">
      <div class="flex justify-content-between align-items-center mb-2">
        <h3 class="font-normal text-base">Type</h3>
        <span class="text-primary cursor-pointer" @click="selectedType = null">Clear</span>
      </div>
      <Dropdown
        v-model="selectedType"
        editable
        :options="accommodationsType"
        optionLabel="name"
        placeholder="Accommodation Type"
        class="w-full border-noround"
      />
    </div>

    <!-- Price Range -->
    <div class="mb-4">
      <div class="flex justify-content-between align-items-center mb-2">
        <h3 class="font-normal text-base">Price Range ($)</h3>
        <span class="text-primary cursor-pointer" @click="priceRange = [0, 3000]">Clear</span>
      </div>
      <div class="flex justify-content-between align-items-center">
        <span>{{ this.priceRange[0] }}</span>
        <span>{{ this.priceRange[1] }}</span>
      </div>
      <Slider v-model="priceRange" range :max="3000" class="mt-2" />
    </div>

    <!-- Sort By -->
    <div class="mb-5">
      <div class="flex justify-content-between align-items-center mb-2">
        <h3 class="font-normal text-base">Sort By</h3>
        <span class="text-primary cursor-pointer" @click="selectedSortBy = null">Clear</span>
      </div>
      <Dropdown
        v-model="selectedSortBy"
        editable
        :options="sortBy"
        optionLabel="name"
        placeholder="Choose Type"
        class="w-full border-noround"
      />
    </div>

    <Button class="bg-primary border-noround border-none w-full py-2 px-6" @click="FilterByValues">
      <span class="p-button-label text-lg font-normal">Filter</span>
    </Button>
  </section>
</template>

<script>
import Dropdown from "primevue/dropdown";
import Slider from "primevue/slider";
import Button from "primevue/button";
import { mapActions, mapGetters } from "vuex";

export default {
  name: "Filter",

  components: {
    Dropdown,
    Slider,
    Button
  },

  data() {
    return {
      selectedCountry: null,
      selectedCity: null,
      selectedType: null,
      selectedSortBy: null,
      num_rooms: 0,
      priceRange: [0, 3000],

      // countries: [
      //   { name: "Egypt", cities: ["Cairo", "Ismailia", "Alexandria", "Benha"] },
      //   { name: "Saudi Arabia", cities: ["Gada", "Abha", "Ad-Dilam", "Al-Khubar"] },
      //   { name: "Kuwait", cities: ["Al Jahra", "Adailiya", "Failaka"] }
      // ],
      // countryCities: [],
      accommodationsType: [{id: 1, name: "House"}, {id: 2, name: "Apartment"}],
      sortBy: [{id: 1, name: "High Price"}, {id: 2, name: "Low Price"}]
    };
  },

  created(){
    this.dropdownsOptions()
  },

  computed: {
    ...mapGetters({
      countries: "accommodationsFilterStore/getDropdownsCountriesOptions",
      cities: "accommodationsFilterStore/getDropdownsCitiesOptions",
      // types: "accommodationsFilterStore/getDropdownsTypesOptions",
    })
  },

  methods: {
    ...mapActions({
      dropdownsOptions: "accommodationsFilterStore/dropdownsOptions",
      dropdownCitiesOptions: "accommodationsFilterStore/dropdownCitiesOptions",
      loadingDataWaiting: "accommodationsStore/loadingDataWaiting",
      filterValues: "accommodationsStore/filterValues",
      accommodations: 'accommodationsStore/accommodations',
    }),

    getCountryCities(){
      this.dropdownCitiesOptions(this.selectedCountry.id)
      this.selectedCity = null
    },

    FilterByValues(){
      this.loadingDataWaiting(true)
      this.filterValues({
        country: this.selectedCountry?.id || null,
        city: this.selectedCity?.id || null,
        num_rooms: this.num_rooms || null,
        type: this.selectedType?.id || null,
        priceRange: { min_price: this.priceRange[0], max_price: this.priceRange[1] } || { min_price: null, max_price: null },
        sortBy: this.selectedSortBy?.id || null,
      })
      this.accommodations()
    },

    clearAll() {
      this.selectedCountry = null;
      this.selectedCity = null;
      this.num_rooms = 0;
      this.selectedType = null;
      this.priceRange = [0, 3000];
      this.selectedSortBy = null;
      this.filterValues({
        priceRange: { min_price: null, max_price: null },
        country: null,
        city: null,
        num_rooms: null,
        type: null,
        sortBy: null,
      })
      this.accommodations()
    }
  },

};
</script>

<style lang="scss" scoped></style>
