<template>
  <section class="location p-4 mb-5 border-round-xs bg-white shadow-1">
    <h2 class="mb-1 text-color text-2xl font-semibold">Location</h2>
    <div style="width: 100%">
      <iframe
        width="100%"
        height="350"
        frameborder="0"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        :src="`https://maps.google.com/maps?q=${lat},${lng}&amp;hl=en&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed`"
      ></iframe>
    </div>
  </section>
</template>

<script>
export default {
  name: "Location",
  props: {
    data: String,
    lat: String,
    lng: String
  }
};
</script>

<style lang="scss" scoped></style>
