<template>
  <main class="post-accommodation bg-blue-50">
    <div class="page-head py-4 mb-5">
      <div class="container">
        <h1 class="text-white text-2xl font-semibold">Post Sell & Buy Ad</h1>
      </div>
    </div>

    <div class="container pb-5" v-if="authenticated">
      <div class="form mx-auto p-4 bg-white border-round-xs shadow-1">
        <form ref="form" @submit.prevent="handleSubmit(!v$.form.$invalid)">
          <h2 class="mb-4 text-2xl font-semibold text-color">Personal Information</h2>
          <!-- Name -->
          <div class="filed grid mb-3">
            <label
              for="name"
              class="input-label col-12 md:col-3 mt-2 flex justify-content-start md:justify-content-end"
            >
              Name
            </label>

            <div class="col-12 md:col-9">
              <InputText
                id="name"
                v-model="v$.form.name.$model"
                :class="{ 'p-invalid': v$.form.name.$invalid && submitted }"
                class="w-full border-round-xs"
                placeholder="Write your name"
              />
              <div>
                <span v-if="v$.form.name.$error && submitted">
                  <span id="name-error" v-for="(error, index) of v$.form.name.$errors" :key="index">
                    <small class="p-error">{{ error.$message }}</small>
                  </span>
                </span>
                <small
                  v-else-if="(v$.form.name.$invalid && submitted) || v$.form.name.$pending.$response"
                  class="p-error"
                >
                  {{ v$.form.name.required.$message.replace("Value", "Name") }}
                </small>
              </div>
            </div>
          </div>

          <!-- Email Address -->
          <div class="filed grid mb-3">
            <label
              for="email"
              class="input-label col-12 md:col-3 mt-2 flex justify-content-start md:justify-content-end"
            >
              Email Address
            </label>

            <div class="col-12 md:col-9">
              <InputText
                id="email"
                v-model="v$.form.email.$model"
                :class="{ 'p-invalid': v$.form.email.$invalid && submitted }"
                class="w-full border-round-xs"
                type="email"
                placeholder="Write your email address"
              />
              <div>
                <span v-if="v$.form.email.$error && submitted">
                  <span id="email-error" v-for="(error, index) of v$.form.email.$errors" :key="index">
                    <small class="p-error">{{ error.$message }}</small>
                  </span>
                </span>
                <small
                  v-else-if="(v$.form.email.$invalid && submitted) || v$.form.email.$pending.$response"
                  class="p-error"
                >
                  {{ v$.form.email.required.$message.replace("Value", "Email Address") }}
                </small>
              </div>
            </div>
          </div>

          <!-- Phone Number -->
          <div class="filed grid mb-3">
            <label
              for="phone"
              class="input-label col-12 md:col-3 mt-2 flex justify-content-start md:justify-content-end"
            >
              Phone Number
            </label>

            <div class="col-12 md:col-9">
              <div class="flex gap-2">
                <Dropdown v-model="form.phone_code" :options="keys" filter optionLabel="name" placeholder="Country" class="w-full md:w-10rem">
                  <template #value="slotProps">
                    <div v-if="slotProps.value" class="flex align-items-center">
                        <div>{{ slotProps.value.code }}</div>
                    </div>
                    <span v-else>
                        {{ slotProps.placeholder }}
                    </span>
                  </template>
                  <template #option="slotProps">
                      <div class="flex align-items-center">
                        <div>{{ slotProps.option.emoji }} {{ slotProps.option.name }}</div>
                      </div>
                  </template>
                </Dropdown>
                <InputText
                  id="phone"
                  v-model="v$.form.phone.$model"
                  :class="{ 'p-invalid': v$.form.phone.$invalid && submitted }"
                  class="w-full border-round-xs"
                  type="number"
                  placeholder="Phone Number"
                />
              </div>
              <div>
                <span v-if="v$.form.phone.$error && submitted">
                  <span id="phone-error" v-for="(error, index) of v$.form.phone.$errors" :key="index">
                    <small class="p-error">{{ error.$message }}</small>
                  </span>
                </span>
                <small
                  v-else-if="(v$.form.phone.$invalid && submitted) || v$.form.phone.$pending.$response"
                  class="p-error"
                >
                  {{ v$.form.phone.required.$message.replace("Value", "Phone Number") }}
                </small>
              </div>
            </div>
          </div>

          <!-- Whatsapp Number -->
          <div class="filed grid mb-3">
            <label
              for="whatsapp"
              class="input-label col-12 md:col-3 mt-2 flex justify-content-start md:justify-content-end"
            >
              Whatsapp Number
            </label>

            <div class="col-12 md:col-9">
              <div class="flex gap-2">
                <Dropdown v-model="form.whatsapp_code" :options="keys" filter optionLabel="name" placeholder="Country" class="w-full md:w-10rem">
                  <template #value="slotProps">
                    <div v-if="slotProps.value" class="flex align-items-center">
                        <div>{{ slotProps.value.code }}</div>
                    </div>
                    <span v-else>
                        {{ slotProps.placeholder }}
                    </span>
                  </template>
                  <template #option="slotProps">
                      <div class="flex align-items-center">
                        <div>{{ slotProps.option.emoji }} {{ slotProps.option.name }}</div>
                      </div>
                  </template>
                </Dropdown>
                <InputText
                  id="whatsapp"
                  v-model="v$.form.whatsapp.$model"
                  :class="{ 'p-invalid': v$.form.whatsapp.$invalid && submitted }"
                  class="w-full border-round-xs"
                  type="number"
                  placeholder="Phone Number"
                />
              </div>
              <div>
                <span v-if="v$.form.whatsapp.$error && submitted">
                  <span
                    id="whatsapp-error"
                    v-for="(error, index) of v$.form.whatsapp.$errors"
                    :key="index"
                  >
                    <small class="p-error">{{ error.$message }}</small>
                  </span>
                </span>
                <small
                  v-else-if="(v$.form.whatsapp.$invalid && submitted) || v$.form.whatsapp.$pending.$response"
                  class="p-error"
                >
                  {{ v$.form.whatsapp.required.$message.replace("Value", "Whatsapp Number") }}
                </small>
              </div>
            </div>
          </div>

          <h2 class="mt-6 mb-4 text-2xl font-semibold text-color">Main Information</h2>

          <!-- Title -->
          <div class="filed grid mb-3">
            <label
              for="title"
              class="input-label col-12 md:col-3 mt-2 flex justify-content-start md:justify-content-end"
            >
              Title
            </label>

            <div class="col-12 md:col-9">
              <InputText
                id="title"
                v-model="v$.form.title.$model"
                :class="{ 'p-invalid': v$.form.title.$invalid && submitted }"
                class="w-full border-round-xs"
                placeholder="Write title"
              />
              <div>
                <span v-if="v$.form.title.$error && submitted">
                  <span id="title-error" v-for="(error, index) of v$.form.title.$errors" :key="index">
                    <small class="p-error">{{ error.$message }}</small>
                  </span>
                </span>
                <small
                  v-else-if="(v$.form.title.$invalid && submitted) || v$.form.title.$pending.$response"
                  class="p-error"
                >
                  {{ v$.form.title.required.$message.replace("Value", "Title") }}
                </small>
              </div>
            </div>
          </div>

          <!-- Type -->
          <div class="filed grid mb-3">
            <label
              class="input-label flex align-items-center col-12 md:col-3 mt-2 flex justify-content-start md:justify-content-end"
            >
              <span>Type* </span>
            </label>

            <div class="mt-1 flex align-items-center gap-2 flex-wrap col-12 md:col-9">
              <div class="inputs flex gap-4">
                <div v-for="(input, index) in types" :key="input">
                  <div class="flex align-items-center gap-2">
                    <RadioButton v-model="form.type" :inputId="'type-2' + index" :value="input" />
                    <label :for="'type-2' + index" class="cursor-pointer line-height-3">
                      {{ input.type }}
                    </label>
                  </div>
                </div>
              </div>
              <div>
                <span v-if="v$.form.type.$error && submitted">
                  <span id="type-error" v-for="(error, index) of v$.form.type.$errors" :key="index">
                    <small class="p-error">{{ error.$message }}</small>
                  </span>
                </span>
                <small
                  v-else-if="(v$.form.type.$invalid && submitted) || v$.form.type.$pending.$response"
                  class="p-error"
                >
                  {{ v$.type.required.$message.replace("Value", "Type") }}
                </small>
              </div>
            </div>
          </div>

          <h2 class="mt-6 mb-4 text-2xl font-semibold text-color">Price</h2>

          <!-- Currency -->
          <div class="filed grid mb-3">
            <label
              for="currency"
              class="input-label col-12 md:col-3 mt-2 flex justify-content-start md:justify-content-end"
            >
              Currency
            </label>

            <div class="col-12 md:col-9">
              <Dropdown
                v-model="form.currency_id"
                :options="currencies"
                optionLabel="name"
                class="w-full border-round-xs"
                placeholder="Select Currency"
              />
              <div>
                <span v-if="v$.form.currency_id.$error && submitted">
                  <span
                    id="currency-error"
                    v-for="(error, index) of v$.form.currency_id.$errors"
                    :key="index"
                  >
                    <small class="p-error">{{ error.$message }}</small>
                  </span>
                </span>
                <small
                  v-else-if="(v$.form.currency_id.$invalid && submitted) || v$.form.currency_id.$pending.$response"
                  class="p-error"
                >
                  {{ v$.form.currency_id.required.$message.replace("Value", "Currency") }}
                </small>
              </div>
            </div>
          </div>

          <!-- Price (Per Month) -->
          <div class="filed grid mb-3">
            <label
              for="price"
              class="input-label col-12 md:col-3 mt-2 flex justify-content-start md:justify-content-end"
            >
              Price (Per Month)
            </label>

            <div class="col-12 md:col-9">
              <InputText
                id="price"
                v-model="v$.form.price.$model"
                :class="{ 'p-invalid': v$.form.price.$invalid && submitted }"
                class="w-full border-round-xs"
                type="number"
                min="1"
                placeholder="Write your price"
              />
              <div>
                <span v-if="v$.form.price.$error && submitted">
                  <span id="price-error" v-for="(error, index) of v$.form.price.$errors" :key="index">
                    <small class="p-error">{{ error.$message }}</small>
                  </span>
                </span>
                <small
                  v-else-if="(v$.form.price.$invalid && submitted) || v$.form.price.$pending.$response"
                  class="p-error"
                >
                  {{ v$.form.price.required.$message.replace("Value", "Price") }}
                </small>
              </div>
            </div>
          </div>

          <h2 class="mt-6 mb-4 text-2xl font-semibold text-color">Location</h2>

          <!-- Country -->
          <div class="filed grid mb-3">
            <label
              for="country"
              class="input-label col-12 md:col-3 mt-2 flex justify-content-start md:justify-content-end"
            >
              Country
            </label>

            <div class="col-12 md:col-9">
                <Dropdown 
                  v-model="form.country_id" 
                  :options="keys" 
                  filter 
                  optionLabel="name" 
                  placeholder="Select Country" 
                  class="w-full border-round-xs"
                  @change="getCountryCities"
                >
                  <template #value="slotProps">
                    <div v-if="slotProps.value" class="flex align-items-center">
                        <div>{{ slotProps.value.emoji }} {{ slotProps.value.name }}</div>
                    </div>
                    <span v-else>
                        {{ slotProps.placeholder }}
                    </span>
                  </template>
                  <template #option="slotProps">
                      <div class="flex align-items-center">
                        <div>{{ slotProps.option.emoji }} {{ slotProps.option.name }}</div>
                      </div>
                  </template>
                </Dropdown>
              <div>
                <span v-if="v$.form.country_id.$error && submitted">
                  <span
                    id="country-error"
                    v-for="(error, index) of v$.form.country_id.$errors"
                    :key="index"
                  >
                    <small class="p-error">{{ error.$message }}</small>
                  </span>
                </span>
                <small
                  v-else-if="(v$.form.country_id.$invalid && submitted) || v$.form.country_id.$pending.$response"
                  class="p-error"
                >
                  {{ v$.form.country_id.required.$message.replace("Value", "Country") }}
                </small>
              </div>
            </div>
          </div>

          <!-- City -->
          <div class="filed grid mb-3">
            <label
              for="city"
              class="input-label col-12 md:col-3 mt-2 flex justify-content-start md:justify-content-end"
            >
              City
            </label>

            <div class="col-12 md:col-9">
              <Dropdown 
                  v-model="form.city_id" 
                  :options="cities"
                  filter 
                  optionLabel="name" 
                  placeholder="Select city" 
                  class="w-full border-round-xs"
                >
                  <template #value="slotProps">
                    <div v-if="slotProps.value" class="flex align-items-center">
                        <div>{{ slotProps.value.name }}</div>
                    </div>
                    <span v-else>
                        {{ slotProps.placeholder }}
                    </span>
                  </template>
                  <template #option="slotProps">
                      <div class="flex align-items-center">
                        <div>{{ slotProps.option.name }}</div>
                      </div>
                  </template>
                </Dropdown>
              <div>
                <span v-if="v$.form.city_id.$error && submitted">
                  <span id="city-error" v-for="(error, index) of v$.form.city_id.$errors" :key="index">
                    <small class="p-error">{{ error.$message }}</small>
                  </span>
                </span>
                <small
                  v-else-if="(v$.form.city_id.$invalid && submitted) || v$.form.city_id.$pending.$response"
                  class="p-error"
                >
                  {{ v$.form.city_id.required.$message.replace("Value", "City") }}
                </small>
              </div>
            </div>
            <div class="col-12">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14967439.942488188!2d44.579864758406735!3d23.468737985621868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15e7b33fe7952a41%3A0x5960504bc21ab69b!2z2KfZhNiz2LnZiNiv2YrYqQ!5e0!3m2!1sar!2seg!4v1682934712312!5m2!1sar!2seg"
                height="270"
                class="border-none w-full"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>

          <h2 class="mt-6 mb-4 text-2xl font-semibold text-color">About</h2>

          <!-- Description -->
          <div class="filed grid mb-3">
            <label
              for="description"
              class="input-label col-12 md:col-3 mt-2 flex justify-content-start md:justify-content-end"
            >
              Description
            </label>

            <div class="col-12 md:col-9">
              <Textarea
                id="description"
                v-model="v$.form.description.$model"
                :class="{ 'p-invalid': v$.form.description.$invalid && submitted }"
                class="w-full border-round-xs"
                placeholder="Write description"
                rows="4"
                cols="30"
              />
              <div>
                <span v-if="v$.form.description.$error && submitted">
                  <span
                    id="description-error"
                    v-for="(error, index) of v$.form.description.$errors"
                    :key="index"
                  >
                    <small class="p-error">{{ error.$message }}</small>
                  </span>
                </span>
                <small
                  v-else-if="
                    (v$.form.description.$invalid && submitted) || v$.form.description.$pending.$response
                  "
                  class="p-error"
                >
                  {{ v$.form.description.required.$message.replace("Value", "Description") }}
                </small>
              </div>
            </div>
          </div>

          <h2 class="mt-6 mb-4 text-2xl font-semibold text-color">Photos</h2>

          <!-- Photos -->
          <FileUpload :multiple="true" accept="image/*" :maxFileSize="1000000" @select="onSelect">
            <template #header="{ chooseCallback, clearCallback, files }">
              <div class="flex align-items-center gap-2">
                <Button
                  @click="chooseCallback()"
                  icon="pi pi-plus"
                  label="Add Photo"
                  class="bg-white w-14rem h-14rem border-2 border-dashed border-400 flex flex-column justify-content-center align-items-center gap-1"
                >
                  <i class="pi pi-plus text-xl text-primary"></i>
                  <span class="text-color-secondary">Add Photo</span>
                </Button>
                <Button
                  @click="clearCallback()"
                  icon="pi pi-times"
                  label="Clear"
                  :class="
                    'p-button-danger border-0 w-fit h-fit' +
                    (!files || files.length === 0 ? ' hidden' : ' ')
                  "
                ></Button>
              </div>
            </template>

            <template #empty v-if="photos && photos.length">
              <div class="h-6rem flex justify-content-center align-items-center">
                Click on the "Add Photo" button to upload photos.
              </div>
            </template>

            <template #content="{ files, messages }">
              <div v-if="messages">
                <small class="p-error">{{ messages[0] }}</small>
              </div>
              <div v-if="files" class="grid">
                <div v-for="(image, index) of files" :key="index" class="col-3">
                  <img
                    :src="image.objectURL"
                    style="width: 100%; height: 100%; object-fit: cover"
                  />
                </div>
              </div>
            </template>
          </FileUpload>

          <!-- submit -->
          <div class="action flex justify-content-end">
            <Button
              class="bg-primary border-0 border-round-xs py-3 px-8 mt-4 w-fit"
              type="submit"
              label="Post"
              :loading="loading"
            />
          </div>
        </form>
      </div>
    </div>

    <div v-else>
      <div class="container pb-5">
        <div class="flex align-items-center mx-auto p-4 bg-white border-round-xs shadow-1">
          <span class="mr-auto">to get accommodations Ad (sign in)</span>
          <Authentication></Authentication>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import { useVuelidate } from "@vuelidate/core";
import { required, minLength, email, minValue } from "@vuelidate/validators";
import InputText from "primevue/inputtext";
import RadioButton from "primevue/radiobutton";
import Dropdown from "primevue/dropdown";
import Textarea from "primevue/textarea";
import FileUpload from "primevue/fileupload";
import Button from "primevue/button";
import { useToast } from "vue-toastification";

import Authentication from "../../../auth/views/Authentication.vue";
import { mapActions, mapGetters } from "vuex";

export default {
  name: "PostWorkshopAndTutors",

  components: {
    InputText,
    RadioButton,
    Dropdown,
    Textarea,
    FileUpload,
    Button,
    Authentication
  },

  setup: () => ({ 
    v$: useVuelidate(),
    toast: useToast(),
  }),

  data: () => ({
    authenticated: localStorage.getItem('token') ? localStorage.getItem('token') : null,
    submitted: false,

    form: {
      post_type: "user/workshops",
      name: "",
      email: "",
      phone: "",
      phone_code: "",
      whatsapp: "",
      whatsapp_code: "",
      title: "",
      type: null,
      price: "",
      currency_id: "",
      country_id:"",
      city_id: null,
      lat: "9999555.1111",
      lng: "95555222.444",
      description: "",
      photos: [],
    },

    types: [
      {
        id: 1,
        type: "Tutor"
      },
      {
        id: 2,
        type: "Workshop"
      }
    ],
    currencies: [
      { id: 1, name: "Egyption Pound" }, 
      { id: 2, name: "Dollar" }, 
      { id: 3, name: "Euro" }
    ],
    keys: [],

    loading: false,
    status_post: false
  }),

  validations() {
    return {
    form: {
        name: {
          required,
          minLength: minLength(3)
        },
        email: {
          required,
          email
        },
        phone: {
          required
        },
        whatsapp: {
          required
        },
        title: {
          required,
          minLength: minLength(3)
        },
        type: {
          required
        },
        currency_id: {
          required
        },
        price: {
          required,
          minValue: minValue(1)
        },
        country_id: {
          required
        },
        city_id: {
          required
        },
        description: {
          required,
          minLength: minLength(3)
        }
      }
    };
  },

  watch:{
    getCountriesKeys(){
      this.keys = this.getCountriesKeys
    },

    getCreatePost() {
      if(this.getStatusPost) {
        this.toast.success(this.getCreatePost);
        this.$refs.form.reset();
      } else {
        this.toast.error(this.getCreatePost);
      }
    }
  },

  created(){
    this.countriesKeys();
    this.loadingDataWaiting(true);
  },

  computed: {
    ...mapGetters({
      getCountriesKeys: "CreatePostStore/getCountriesKeys",
      cities: "CreatePostStore/getDropdownsCitiesOptions",
      loading: "CreatePostStore/getLoadingDataWaiting",
      getCreatePost: "CreatePostStore/getCreatePost",
      getStatusPost: "CreatePostStore/getStatusPost"
    }),
  },

  methods: {
    ...mapActions({
      countriesKeys: "CreatePostStore/countriesKeys",
      dropdownCitiesOptions: "CreatePostStore/dropdownCitiesOptions",
      loadingDataWaiting: "CreatePostStore/loadingDataWaiting",
      CreatePost: "CreatePostStore/CreatePost",
      statusPost: "CreatePostStore/statusPost",
    }),

    getCountryCities(){      
      this.dropdownCitiesOptions(this.form.country_id.id)
      this.form.city_id = null
    },

    handleSubmit(isFormValid) {
      this.submitted = true;
      if (!isFormValid) {
        return;
      }
      this.CreatePost(this.form);
      this.statusPost();
    },

    // on photo select
    onSelect(event) {
      this.form.photos = event.files;
    }
  }
};
</script>

<style lang="scss" scoped>
.post-accommodation {
  .page-head {
    background-color: #1e293b;
  }

  .form {
    max-width: 872px;
  }
}
</style>
