<template>
  <main class="workshops bg-blue-50">
    <Search />

    <div class="container px-2 pb-5 grid">
      <div class="col-12 md:col-4 lg:col-3">
        <div
          class="flex justify-content-between align-items-center shadow-1 bg-white py-2 px-3 md:hidden"
        >
          <h2 class="text-xl font-normal">Filters</h2>
          <Button
            icon="pi pi-filter"
            class="bg-primary border-none"
            rounded
            @click="visible = true"
          />
          <Sidebar v-model:visible="visible">
            <Filter />
          </Sidebar>
        </div>
        <Filter class="hidden md:block" />
      </div>

      <div class="col-12 md:col-8 lg:col-9">
        <div class="grid-system">
          <CustomSkeleton v-if="loading" />
          <workshop-card v-else v-if="getWorkshops?.data" :dataCards="getWorkshops?.data" />
        </div>
        <div v-if="!loading">
          <InlineMessage
            severity="error"
            class="flex justify-content-center"
            v-if="getWorkshops?.meta.total == 0"
            >Not Found. That is why if some of your keywords are missing search</InlineMessage
          >
        </div>
      </div>
      <div class="col-12">
        <Paginator
          :template="{
            '640px': 'PrevPageLink CurrentPageReport NextPageLink',
            '960px': 'FirstPageLink PrevPageLink CurrentPageReport NextPageLink LastPageLink',
            '1300px': 'FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink',
            default: 'FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink'
          }"
          class="bg-transparent"
          :rows="getWorkshops && getWorkshops?.meta?.per_page"
          :totalRecords="getWorkshops && getWorkshops?.meta?.total"
          v-if="getWorkshops?.meta?.total > getWorkshops?.meta?.per_page"
          @page="PageState"
        ></Paginator>
      </div>
    </div>
  </main>
</template>

<script>
import Search from "./components/Search.vue";
import Filter from "./components/Filter.vue";
import WorkshopCard from "./components/WorkshopCard.vue";
import Paginator from "primevue/paginator";
import Sidebar from "primevue/sidebar";
import Button from "primevue/button";
import { mapActions, mapGetters } from "vuex";
import InlineMessage from "primevue/inlinemessage";
import CustomSkeleton from "../sell-buy/components/CustomSkeleton.vue";

export default {
  name: "Workshops",

  components: {
    Search,
    Filter,
    WorkshopCard,
    Paginator,
    Sidebar,
    Button,
    Button,
    CustomSkeleton,
    InlineMessage
  },

  data() {
    return {
      visible: false
    };
  },

  created() {
    // get section data
    this.loadingDataWaiting(true);
    this.workshops();
  },

  computed: {
    ...mapGetters({
      getWorkshops: "workshopsStore/getWorkshops",
      loading: "workshopsStore/getLoadingDataWaiting"
    })
  },

  methods: {
    ...mapActions({
      workshops: "workshopsStore/workshops",
      loadingDataWaiting: "workshopsStore/loadingDataWaiting"
    }),
    PageState(e) {
      this.workshops(e.page + 1);
    }
  }
};
</script>

<style lang="scss">
.grid-system {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  @media screen and (min-width: 992px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
nav.bg-transparent {
  .p-paginator {
    background: transparent;
  }
}
</style>
