<template>
  <Button
    label="Sign in"
    icon="pi pi-user"
    class="bg-light text-primary rounded-0"
    :style="{ width: '160px' }"
    @click="ModelSignIn = true"
    v-if="!authenticated"
  />

  <div class="card flex justify-content-center" v-if="authenticated">
    <button
      class="w-full p-link flex align-items-center gap-2 p-2 pl-3 text-color"
      type="button"
      label="Toggle"
      @click="toggle"
      aria-haspopup="true"
      aria-controls="overlay_menu"
    >
      <img
        v-if="profile?.user.image"
        :src="getProfileData.image || profile.user.image"
        :alt="profile.user.name"
        class="border-circle w-2rem h-2rem shadow-1"
        style="object-fit: cover"
      />
      <div class="flex align-items-center gap-1" v-if="profile?.user.name">
        <span class="font-medium text-primary">{{ getProfileData.name || profile.user.name }}</span>
        <i class="pi pi-angle-down"></i>
      </div>
    </button>
    <Menu ref="menu" id="overlay_menu" :popup="true">
      <template #start>
        <router-link to="/account">
          <button
            class="w-full p-link flex align-items-center p-2 pl-3 text-color hover:surface-200 border-noround"
          >
            <i class="pi pi-user" />
            <span class="ml-2">Profile</span>
          </button>
        </router-link>
      </template>
      <template #end>
        <button
          @click="logout"
          class="w-full p-link flex align-items-center p-2 pl-3 text-color hover:surface-200 border-noround"
        >
          <i class="pi pi-sign-out" />
          <span class="ml-2">Log Out</span>
        </button>
      </template>
    </Menu>
  </div>

  <!-- modal sign in -->
  <Dialog v-model:visible="ModelSignIn" modal header="Sign In" :style="{ width: '30vw' }">
    <form @submit.prevent="handleSubmit(!v$.$invalid)">
      <div class="card">
        <div class="flex flex-column gap-2 mb-5">
          <label for="email" class="text-lg">Email Address</label>
          <InputText
            id="email"
            v-model="v$.email.$model"
            :class="{ 'p-invalid': v$.email.$invalid && submitted }"
            type="email"
            placeholder="Write your email address"
          />
          <div>
            <span v-if="v$.email.$errors && submitted">
              <span id="email-error" v-for="(error, index) of v$.email.$errors" :key="index">
                <small class="p-error">{{ error.$message }}</small>
              </span>
            </span>
            <small
              v-else-if="(v$.email.$invalid && submitted) || v$.email.$pending.$response"
              class="p-error"
            >
              {{ v$.email.required.$message.replace("Value", "Email Address") }}
            </small>
          </div>
        </div>
        <div class="flex flex-column gap-2">
          <label for="password" class="text-lg">Password</label>
          <Password v-model="password" toggleMask :feedback="false" />
        </div>

        <div class="flex flex-warp justify-content-between gap-2 mt-3">
          <div class="flex align-items-center">
            <Checkbox v-model="RememberMe" inputId="RememberMe" name="RememberMe" value="true" />
            <label for="RememberMe" class="ml-2"> Remember Me </label>
          </div>
          <a
            href="#"
            class="text-primary"
            @click="
              ModelForgotPassword = true;
              ModelSignIn = false;
            "
            >Forgot Password?</a
          >
        </div>
      </div>
      <div class="text-center mt-3">
        <Button
          @click="login"
          type="submit"
          :loading="loading"
          label="Sign In"
          class="btn-primary bg-primary mx-auto mb-4"
        />

        <p class="text-center">
          Don’t have an account?
          <a
            href="#"
            class="text-primary font-bold"
            @click="
              ModelSignUp = true;
              ModelSignIn = false;
            "
            >SIGN UP</a
          >
        </p>
      </div>
    </form>
  </Dialog>

  <!-- modal sign up -->
  <Dialog v-model:visible="ModelSignUp" modal header="Sign Up" :style="{ width: '30vw' }">
    <SingUp></SingUp>
    <p class="text-center">
      Already Have an Account?
      <a
        href="#"
        class="text-primary font-bold"
        @click="
          ModelSignIn = true;
          ModelSignUp = false;
        "
        >SIGN IN</a
      >
    </p>
  </Dialog>

  <!-- modal Forgot Password -->
  <Dialog
    v-model:visible="ModelForgotPassword"
    modal
    header="Forgot Password"
    :style="{ width: '30vw' }"
  >
    <ForgotPassword></ForgotPassword>
  </Dialog>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { useVuelidate } from "@vuelidate/core";
import { required, email } from "@vuelidate/validators";
import { useToast } from "vue-toastification";
import { ref } from "vue";

import Dialog from "primevue/dialog";
import Button from "primevue/button";
import InputText from "primevue/inputtext";
import Password from "primevue/password";
import Checkbox from "primevue/checkbox";
import SingUp from "../components/SignUp.vue";
import ForgotPassword from "../components/ForgotPassword.vue";
import Menu from "primevue/menu";

export default {
  name: "Authentication",

  components: {
    Dialog,
    Button,
    InputText,
    Password,
    Checkbox,
    SingUp,
    ForgotPassword,
    Menu
  },

  setup() {
    const toast = useToast();
    const v$ = useVuelidate();
    const menu = ref();
    const toggle = (event) => {
      menu.value.toggle(event);
    };

    return { toast, v$, menu, toggle };
  },

  data: () => ({
    submitted: false,
    ModelSignIn: false,
    ModelSignUp: false,
    ModelForgotPassword: false,
    email: "",
    password: "",
    RememberMe: null,
    authenticated: localStorage.getItem("token") ? localStorage.getItem("token") : null,
    profile: {
      user: {
        name: ""
      }
    },
    loading: false
  }),

  validations() {
    return {
      email: {
        required,
        email
      }
    };
  },

  async mounted() {
    if (this.authenticated) {
      try {
        let response = await this.axios.get("auth/profile", {
          headers: {
            Authorization: `Bearer ${this.authenticated}`
          }
        });
        this.profile = response.data.data;
      } catch (error) {
        localStorage.removeItem("token");
      }
    }
  },

  computed: {
    ...mapGetters({
      getProfileData: "editProfileStore/getProfileData",
      getToggleSignIn: "courseProfileStore/getToggleSignIn"
    })
  },

  watch: {
    getToggleSignIn() {
      !this.authenticated && (this.ModelSignIn = true);
    }
  },

  methods: {
    ...mapActions({
      attemptLogin: "login/attemptLogin",
      attemptLogout: "user/attemptLogout"
    }),

    handleSubmit(isFormValid) {
      this.submitted = true;
      if (!isFormValid) {
        return;
      }
      this.loading = true;
      let data = new FormData();
      data.append("email", this.email);
      data.append("password", this.password);
      this.loading = true;
      this.axios
        .post(`auth/login`, data)
        .then((response) => {
          this.attemptLogin(response);
          this.loading = false;
          this.ModelSignIn = false;
          this.toast.success("login success");
        })
        .catch((error) => {
          this.toast.error(error.response.data.message);
          this.loading = false;
        });
    },

    logout() {
      this.attemptLogout(this.authenticated);
      this.authenticated = false;
    }
  }
};
</script>

<style lang="scss">
@media screen and (max-width: 967px) {
  .p-menubar {
    .p-menubar-end {
      margin-left: 10px !important;

      .p-button {
        width: auto !important;
        border-radius: 0;
        min-height: 44px;
        background: transparent;
        border: 1px solid #ccc;
        padding: 5px 12px;

        span.p-button-label {
          display: none;
        }

        .pi {
            margin: 0;
        }        
      }
    }
  }

  .p-dialog {
    width: 95% !important;
  }
}
</style>
