<template>
  <make-your-journey />
  <our-team />
  <company-strategy />
  <best-services />
</template>

<script>
import MakeYourJourney from "./components/MakeYourJourney.vue";
import OurTeam from "./components/OurTeam.vue";
import CompanyStrategy from "./components/CompanyStrategy.vue";
import BestServices from "./components/BestServices.vue";

export default {
  name: "About",

  components: {
    MakeYourJourney,
    OurTeam,
    CompanyStrategy,
    BestServices
  }
};
</script>

<style lang="scss" scoped></style>
