<template>
  <Dialog
    v-model:visible="visible"
    modal
    :style="{ width: '50vw' }"
    :breakpoints="{ '960px': '75vw', '641px': '100vw' }"
    contentClass="bg-green-600"
    class="mx-1"
  >
    <template #header>
      <h3 class="text-green-600">Success Message</h3>
    </template>
    <p
      class="p-dialog p-dialog-content bg-transparent shadow-none text-white text-lg line-height-3 pt-4 pb-0 px-0"
    >
      Thank you for filling out your information! We have received your request and would like to
      thank you for writing to us. we will reply by email as soon as possible.
    </p>
    <template #closeicon>
      <Button
        @click="togglePopup"
        class="flex justify-content-center border-none bg-transparent cursor-pointer"
      >
        <i class="p-button-icon pi pi-times text-lg text-primary font-normal"></i>
      </Button>
    </template>
  </Dialog>
</template>

<script>
import Dialog from "primevue/dialog";
import Button from "primevue/button";
import { mapActions } from "vuex";

export default {
  name: "SuccessMessage",
  components: {
    Dialog,
    Button
  },

  data() {
    return {
      visible: false
    };
  },

  methods: {
    ...mapActions({
      resetDialog: "courseProfileStore/resetDialog"
    }),
    togglePopup() {
      this.$emit("togglePopup");
      this.resetDialog();
    }
  }
};
</script>

<style lang="scss" scoped></style>
